@import "fonts.css"
@import "bootstrap.css"

permitedBackground = #fafafa
enfasis = darken(permitedBackground,4%)

lighterGray = #ddd
lightGray = #AEADB3
darkGray = #98979C

text = #626262;
news-date-text = #707070

redC = #A5273F
greenC = #207146

h2
h3
h4
h5
	font-family: 'soberanaTitularRegular'

h3
	color greenC

.text-red
	color redC !important

.text-white
	color permitedBackground

.text-green
	color greenC !important

a.text-green
	&:hover
		color darken(greenC,20%)
ol.decimal-list
	list-style none
	padding-left 18px

*
	font-family 'soberanaSansRegular'

body
	background permitedBackground
	color text

#redesSociales
	margin 5px
	text-align right
	
	a
		text-decoration none 

hr.doubleLine
	border-top double 3px lighterGray

.hr-margin-large
	margin 43px 0

.footer-link
	width 60px
	margin 5px 10px

.border-top-g
	margin 10px 0
	padding 10px 0 0 0
	border-top solid 1px lighterGray

.border-right-g
	border-right solid 1px lighterGray

.border-left-g
	border-left solid 1px lighterGray

.border-bottom-g
	margin 10px 0
	border-bottom solid 1px lighterGray

.other-news-content
	h4
		color greenC

.autoWidth
	width 100%

.navbar-brand
	.logos-collapsed
		width 220px
		padding 4px
	h5
		display inline
		font-family 'soberanaTitularRegular'
		font-size 13px

#bottomMenus
	h5
		color redC
	ul
		padding 0

		li
			list-style none
			font-size 13px
			line-height 30px

.enfasis
	background enfasis
	padding-top 20px
	border solid 1px lighterGray

#recent-news
	h3
		color redC
	h4
		color greenC

.seach-field
	margin 20px 0 10px 0

.margin-top-low
	margin-top 10px

.margin-top-med
	margin-top 15px

.margin-img-float
	padding 7px 10px 10px 0

.margin-bottom
	margin-bottom 15px

.column-left
	border-right solid 1px lighterGray

.column-right
	border-left solid 1px lighterGray

.thumbnail.recent
	box-shadow 0px 0px 10px #bbb

.thumbnail
	position relative
	cursor: pointer
	border-radius 5px

header
	padding-top 5px

	.col-xs-3
		text-align center
		
		img
			display inline-block
		.logoita
			width 100px
		.logofederal
			width 245px
		
	
	.col-xs-6
		height 100px

		h1
			font 18px 'soberanaTitularBold' 
			text-transform uppercase
			text-align center
			color #909090

.navbar-default 
	.navbar-nav 
		> li 
			> a
				font-family 'soberanaTitularRegular'
				font-size 14px
				transition all 0.4s ease
				text-decoration none
.news-date
	background url('../img/cintillo.png') 0px 0px no-repeat
	width 85px
	height 40px
	display inline-block
	position absolute
	padding 9px
	font-size 13px
	left -13px
	top 15px
	color news-date-text

.link
	text-decoration underline

.huge
	font-size 10em

#map-content
	min-height 400px
	background grisClaro

.asking-block
	background greenC
	color lighterGray
	padding 25px 0 20px 0

	a
		color lighterGray !important
		font-family 'soberanaTitularRegular'

///////////////////////////////MEDIA QUERIES////////////////////////////////
@media (min-width: 992px)
	.thumbnail.recent.home
		min-height 412px !important

@media (min-width: 768px)
	.thumbnail
		min-height 360px
		padding 0

	.logoFederalFooter
		max-width: 200px;

@media (max-width: 768px)
	
	.margin-img-float
		width 100%
		padding 0 0 10px 0

	.carousel-caption 
		background rgba(207, 36, 42, 0.3)

		h3
			font-size 14px
			margin 10px
			padding 10px

	#bottomMenus
		h5
		ul
			text-align center

	hr.hr-margin-large
		margin 35px 0

	#column-left
	#column-right
		border-left none

	#redesSociales
		text-align center 
		margin 15px

.fb-comments
.fb-comments span
.fb-comments iframe[style] 
.fb-comments iframe span[style]
.fb-like-box
.fb-like-box span
[class^="feedback_"]
	width 100% !important


.fb-comments span
	margin-top 15px