{% extends "base.html" %}
{% load thumbnail static%}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Arquitectura</h2>
			<div class="text-justify margin-top-low">
			
				<h3>Objetivo</h3>

				<p>Formar en competencias profesionales líderes con excelencia académica y humanística, capaces de diseñar, gestionar y construir el hábitat humano con alto desempeño, sustentabilidad y vocación de servicio a la sociedad.
				</p>
				
				<img src="{% static "img/ita/arquitectura.jpg" %}" class="autoWidth" alt="Arquitectura - ITA">
				
				<h3>Perfil de Egreso</h3>

				<ol>
					<li>Diseñar de manera integral proyectos urbano – arquitectónicos, respetando los marcos normativos y los criterios de diseño universal, estéticos y espaciales.</li>
					<li>Diseñar el interiorismo y paisajismo para crear ambientes confortables y funcionales.</li>
					<li>Seleccionar y aplicar materiales y sistemas constructivos que respondan a una continua calidad e innovación.</li>
					<li>Gestionar desarrollos urbanos de manera estratégica y sustentable.</li>
					<li>Operar planes de desarrollo urbano con una visión de sustentabilidad y mejora de la calidad de vida.</li>
					<li>Seleccionar y diseñar estructuras, instalaciones y sistemas constructivos sustentables.</li>
					<li>Administrar el proceso constructivo de las obras urbano – arquitectónicas, con base en la legislación vigente.</li>
					<li>Asesorar a los sectores público y privado, en la valoración y conservación del patrimonio, re-arquitectura, proyectos de inversión inmobiliaria y legislación urbana.</li>
					<li>Liderar organismos y grupos inter y multidisciplinarios para la integración de proyectos urbano – arquitectónicos.</li>
					<li>Actuar de manera responsable y ética con la sociedad y su entorno.</li>
					<li>Desarrollar los valores de responsabilidad, orden y disciplina así como el entusiasmo por continuar su crecimiento personal y profesional.</li>
				</ol>

				<h3>Quehacer profesional</h3> 
				<p>El arquitecto es el profesional que asume la responsabilidad de proyectar y construir los espacios habitables que necesita la sociedad, incluyendo aspectos físicos y culturales.
				Su trabajo surge a partir de las necesidades de la sociedad, en este sentido debe promover los medios para cubrir esas expectativas sin deteriorar el contexto cultural y ecológico.
				El reto en la actividad es atender la situación cada vez más compleja que presentan los asentamientos humanos en nuestro país.
				</p>

				<h3>Campo de Trabajo</h3> 
				<p>El arquitecto es un profesional con amplias perspectivas laborales; puede desarrollarse en dos grandes sectores; administración pública, empresas paraestatales o descentralizadas, y en el sector privado, en trabajos con inversionistas, productores urbanos turísticos y en pequeñas industrias y comercios.
				</p>

				<h3>Plan de estudios</h3> 
				<p>Retículas oficiales de la carrera de Arquitectura, para trámites académicos relacionados con los planes de estudio 2004 y 2010 (Por competencias profesionales).</p>

				<p><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/arq-reticula-2004.pdf" %}">Retícula 2004 <span class="icon-download"></span></a>. El alumno deberá apegarse al Manual Operativo para los Cursos de Verano. 
				</p>

				<p><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/arq-reticula-2010.pdf" %}">Retícula 2010 <span class="icon-download"></span></a>. El alumno deberá apegarse al Lineamiento para la Operación de Curso de Verano, versión 1.0.
				</p>

				<h3>Plan de estudios 2010:</h3> 
				<h4>Primer semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.1.pdf" %}">1.1  Fundamentos Teóricos del Diseño I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.2.pdf" %}">1.2  Fundamentos de Investigación <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.3.pdf" %}">1.3  Estética <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.4.pdf" %}">1.4  Geometría Descriptiva I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.5.pdf" %}">1.5  Análisis Crítico de la Arquitectura y el Arte I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.6.pdf" %}">1.6  Taller de Expresión Plástica <span class="icon-download"></span></a></li>
				</ol>
				<h4>Segundo semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.1.pdf" %}">2.1 Fundamentos Teóricos del Diseño II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.2.pdf" %}">2.2 Metodología para el Diseño <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.3.pdf" %}">2.3 Matemáticas aplicadas a la Arquitectura <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.4.pdf" %}">2.4 Geometría Descriptiva II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.5.pdf" %}">2.5 Análisis Crítico de la Arquitectura y el Arte II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.6.pdf" %}">2.6 Taller de Lenguaje Arquitectónico I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.7.pdf" %}">2.7 Analisis Proyectual <span class="icon-download"></span></a></li>
				</ol>
				<h4>Tercer semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.1.pdf" %}">3.1 Taller de Diseño I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.2.pdf" %}">3.2 Propiedades y Comportamiento de los Materiales <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.3.pdf" %}">3.3 Estructuras I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.4.pdf" %}">3.4 Topografía <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.5.pdf" %}">3.5 Análisis Crítico de la Arquitectura y el Arte III <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.6.pdf" %}">3.6 Taller de Lenguaje Arquitectónico II <span class="icon-download"></span></a></li>
					
				</ol>
				<h4>Cuarto semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.1.pdf" %}">4.1 Taller de Diseño II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.2.pdf" %}">4.2 Taller de Construcción I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.3.pdf" %}">4.3 Estructuras II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.4.pdf" %}">4.4 Desarrollo Sustentable <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.5.pdf" %}">4.5 Análisis Crítico de la Arquitectura y el Arte IV <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.6.pdf" %}">4.6 Instalaciones I <span class="icon-download"></span></a></li>
				</ol>
				<h4>Quinto semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.1.pdf" %}">5.1 Taller de Diseño III <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.2.pdf" %}">5.2 Taller de Construcción II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.3.pdf" %}">5.3 Estructuras de Concreto <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.4.pdf" %}">5.4 Administración de la Construcción I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.5.pdf" %}">5.5 Pensamiento Arquitectónico Contemporáneo <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.6.pdf" %}">5.6 Instalaciones II <span class="icon-download"></span></a></li>
				</ol>
				<h4>Sexto semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.1.pdf" %}">6.1 Taller de Diseño IV <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.2.pdf" %}">6.2 Estructuras de Acero <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.3.pdf" %}">6.3 Taller de Investigación I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.4.pdf" %}">6.4 Urbanismo I <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.5.pdf" %}">6.5 Administración de la Construcción II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.6.pdf" %}">6.6 Taller de Ética <span class="icon-download"></span></a></li>
				</ol>
				<h4>Séptimo semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.1.pdf" %}">7.1 Taller de Diseño V <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.2.pdf" %}">7.2 Taller de Investigación II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.3.pdf" %}">7.3 Urbanismo II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.4.pdf" %}">7.4 Administración de Empresas Constructoras I <span class="icon-download"></span></a></li>
				</ol>
				<h4>Octavo semestre</h4>
				<ol class="decimal-list">
					<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/8.1.pdf" %}">8.1 Taller de Diseño VI <span class="icon-download"></span></a></li>
					<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/8.2.pdf" %}">8.2 Administración de Empresas Constructoras II <span class="icon-download"></span></a></li>
					<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/8.3.pdf" %}">8.3 Gestión Urbanística <span class="icon-download"></span></a></li>
				</ol>
				<h3>Especialidad</h3>
				<p>
				Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.
				</p>

			</div>
		</div>
	</section>

{% endblock %}