{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Resultados del examen de selección a nuevo ingreso practicado por el CENEVAL</h2>

			<p>El Centro Nacional de Evaluación para la Educación Superior (CENEVAL), es la Institución que aplica el examen de admisión a nuevo ingreso al Instituto Tecnológico de Acapulco.</p>

			<p>Una vez evaluados los exámenes de los jóvenes aspirantes, el CENEVAL ha presentado los resultados al Instituto Tecnológico de Acapulco, para proseguir con el trámite de admisión de los mismos.</p>
			
			<p>Por tal motivo, se da la más cordial bienvenida a los jóvenes aspirantes que aparecen en las relaciones que a continuación se enlistan para su consulta correspondiente.</p>

			<ul>
				<li><a class="text-green link" href="{% static "docs/aspirantes/resultados/aceptados-arq-ene-jun-15.pdf" %}"  target="_blank">Arquitectura<span class="icon-download"></span></a></li>
				<li><a class="text-green link" href="{% static "docs/aspirantes/resultados/aceptados-IBQ-ene-jun-15.pdf" %}"  target="_blank">Ingeniería Bioquímica<span class="icon-download"></span></a></li>
				<li><a class="text-green link" href="{% static "docs/aspirantes/resultados/aceptados-IEM-ene-jun-15.pdf" %}"  target="_blank">Ingeniería en Electromecánica<span class="icon-download"></span></a></li>
				<li><a class="text-green link" href="{% static "docs/aspirantes/resultados/aceptados-ISC-ene-jun-15.pdf" %}"  target="_blank">Ingeniería en Sistemas Computacionales<span class="icon-download"></span></a></li>
			</ul>
			
			<p>Se solicita la presentación de la documentación especificada en el apartado de requisitos para el ingreso:</p>

			<ol>
				<li>Requisitos para Cursos de homogenización</li>
				<li>Requisitos para Inscripción correspondiente</li>
			</ol>

			<img src="{% static "img/aspirantes-resultados.jpg" %}" class="autoWidth" alt="Resultados del examen de selección a nuevo ingreso practicado por el CENEVAL">
		</div>
	</section>
{% endblock %}