{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ titulo }}Instituto Tecnologico de Acapulco</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="stylesheet" href="{% static 'css/custom.css' %}" />

	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
</head>
<body>
	<header class="hidden-xs hidden-sm">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<a href="/"><img class="logofederal" src="{% static 'img/logoheaderIzquierdo.png' %}" alt="logo de la sep federal"></a>
				</div>
				<div class="col-xs-6">
					<h1>tecnológico nacional de méxico<br/>instituto tecnológico de acapulco</h1>
				</div>
				<div class="col-xs-3">
					<a href="/"><img class="logoita" src="{% static 'img/tecnologico.png' %}" alt="logo tecnologico acapulco"></a>
				</div>
			</div>
		</div>
	</header>
	
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
			
	      <a class="navbar-brand visible-xs visible-sm" href="/">
			<img class="logos-collapsed" src="{% static 'img/logos.png' %}" alt="logo tecnologico acapulco">
			<h5 class="visible-sm-inline-block">INSTITUTO TECNOLOGICO DE ACAPULCO</h5>
	      </a>

	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="/">Inicio</a></li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestro instituto <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/mensaje-director">Mensaje del director</a></li>
	            <li><a href="/mision-vision">Misión, Visión</a></li>
	            <li><a href="/plano">Plano</a></li>
	            <li><a href="/historia">Historia</a></li>
	            <li><a target="_blank" href="{% static "docs/Organigrama-2014.pdf" %}">Organigrama</a></li>
	            <li><a href="/directorio">Directorio</a></li>
	            <li class="divider"></li>
	            <li><a href="/licitaciones">Licitaciones</a></li>
	            <li><a href="/becas">Becas</a></li>
	            <li><a href="/convocatorias">Convocatorias</a></li>
	            <li><a href="/sie">S.I.E</a></li>
	            <li><a href="/calendario">Calendario</a></li>
	            <li><a href="/pta">PTA</a></li>
	            <li><a href="/pifit">PIFIT</a></li>
	            <li><a href="/tecnologias">TECnologias</a></li>
	            <li><a href="/vision-tecnologica">Visión Tecnologica</a></li>
	            <li><a href="/email">Email</a></li>
	            <li><a href="/contacto">Ubicación y contacto</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Oferta educativa <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/centro-de-idiomas">Centro de idiomas</a></li>
	            <li><a href="/licenciaturas-ingenierias">Licenciaturas - Ingenierías</a></li>
	            <li><a href="/postgrados">Postgrados</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aspirantes<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/requisitos-ingreso">Requisitos de ingreso</a></li>
	            <li><a href="/convocatoria">Convocatoria</a></li>
	            <li><a href="/resultados">Resultados</a></li>
	            <li><a href="/curso-induccion">Curso de inducción</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/nuevo-ingreso">Nuevo ingreso</a></li>
	            <li><a href="/calificaciones">Calificaciones</a></li>
	            <li><a href="/reinscripciones">Reinscripciones</a></li>
	            <li><a href="/servicio-social">Servicio social</a></li>
	            <li><a href="/lineamientos-extraescolares">Lineamientos extraescolares</a></li>
	            <li><a href="/titulacion">Titulacion</a></li>
	            <li><a href="/egresados">Egresados</a></li>
	            <li><a href="/coordinacion-carreras">Coordinacion de carreras</a></li>
	            <li><a href="/encuestas">Encuestas</a></li>
	            <li><a href="/intercambios-academicos">Intercambios academicos</a></li>
	            <li><a href="/traslados">Traslados</a></li>
	            <li><a href="/cambio-carrera">Cambio de carrera</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/administrativos">Administrativos</a></li>
	            <li><a href="/docentes">Docentes</a></li>
	            <li><a href="/recursos-humanos">Recursos humanos</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/servicios-escolares">Servicios escolares</a></li>
	            <li><a href="/centro-de-informacion">Centro de información</a></li>
	            <li><a href="/centro-computo">Centro de cómputo</a></li>
	            <li><a href="/desarollo-academico">Desarrollo académico</a></li>
	            <li><a href="/gestion-tec-vinc">Gestion de tec. y vinc.</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sitios ITA <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/centros-incubacion">Centro de incubación</a></li>
	            <li><a href="/sistemas-gestion">Sistemas de gestión</a></li>
	            <li><a href="/postgrados">Postgrados</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</nav>
	
	{% block mainContent %}{% endblock %}

	<footer class="container">
		
		</div>
		<div id="redesSociales" class="text-right">
			<a target="_blank" href="https://www.youtube.com/user/TecnologicoAcapulco"><span class="icon-youtube"></span></a>
			<a target="_blank" href="https://www.facebook.com/it.acapulco"><span class="icon-facebook"></span></a>
			<a target="_blank" href="https://twitter.com/ITecAcapulco"><span class="icon-twitter"></span></a>
		</div>
		<div class="row">
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-4 text-center">
				<img src="{% static 'img/logoheaderIzquierdo.png' %}" class="logoFederalFooter" alt="">
			</div>
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-12">
				<p class="text-center margin-top-low">
					Avenida Instituto Tecnológico S/N, Crucero del Cayaco C.P. 39905, Teléfonos (744) 442-9010 al 19 y Fax (744) 468-3505
				</p>
			</div>
		</div>
	</footer>

</body>
</html>