{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}

	<section id="mainContent">

		<article id="recent-news" class="container-fluid">
			<div class="container">
				<h2 class="text-red">Busqueda</h2>
				<div class="row">
					<div class="col-sm-6">
						<h3>Publicaciones</h3>
					</div>
					<div class="col-sm-6">
						
						<form role="search" class="seach-field" action="/busqueda/" method="GET">
						  <div class="input-group">
						      {# <input type="text" placeholder="¿Qué noticia esta buscando?" class="form-control"> #}
						      {{ searchform.pista.errors }}
		                        {{ searchform.pista }}
						      <span class="input-group-btn">
						        <button id="btnSearch" type="submit" class="btn btn-success" type="button">BUSCAR</button>
						      </span>
						    </div><!-- /input-group -->
						</form>
					</div>
					<div class="col-xs-12">
						<h4 class="text-green">{{ textoBusqueda }}</h4>
					</div>
				</div>
				
				<div class="row">
					
					{% for publicacion in publicaciones %}
						<div class="col-sm-6 col-md-3">
						    <a class="thumbnail" href="/publicaciones/{{ publicacion.id }}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% thumbnail publicacion.imagen "750x400" crop="center" as im %}
				      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}">
				      			{% endthumbnail %}
						      	<div class="caption">
						        	<h4 class="text-red">{{ publicacion.titulo }}</h4>
						         	<div class="new-content">
						        	{{ publicacion.resumen|slice:":150" }}
						        </div>
						      </div>
						    </a>
						</div>
					{% endfor%}

				</div>
			</div>
		</article>

	</section>

{% endblock %}
