{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}

	<section id="mainContent">

		<article id="recent-news" class="container-fluid enfasis">
			<div class="container">
				<h3 class="text-center">Publicaciones</h3>
				<h4>{{ textoBusqueda }}</h4>
				<div class="row">
					
					{% for publicacion in publicaciones %}
						<div class="col-sm-6 col-md-3">
						    <a class="thumbnail" href="/publicacion/{{ publicacion.id }}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% thumbnail publicacion.imagen "750x400" crop="center" as im %}
				      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}">
				      			{% endthumbnail %}
						      	<div class="caption">
						        	<h4>{{ publicacion.titulo }}</h4>
						         	<div class="new-content">
						        	{{ publicacion.resumen|slice:":150" }}
						        </div>
						      </div>
						    </a>
						</div>
					{% endfor%}

				</div>
			</div>
		</article>

	</section>

{% endblock %}