{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Centro de Información</h2>

			<p>En esta sección tendrás acceso a los listados y bases de datos de la información de todos los libros, CDs, revistas, videos, mapas, cartografías y tesis con que cuenta el Centro de Información del Instituto Tecnológico de Acapulco.</p>

			<p>Algunas reglas que debes seguir para hacer uso correcto tanto del acervo informativo como de las instalaciones del Centro de Información son:</p>

			<ul>
				<li>Guardar silencio en la sala</li>
				<li>No maltrates los libros</li>
				<li>No reselles la información</li>
				<li>Horario de atención:</li>
				<li>De lunes a viernes, de 07 a 18:00 horas</li>
			</ul>

			<p>Para mas información, consulta el siguiente enlace: <a class="link text-green" href="#">Centro de Información</a> (enlace en construcción).</p>
			
			<h3>Reglamento</h3>

			<p>Con la finalidad de proteger y conservar en buen estado las instalaciones de nuestro Centro de Información (CI) y propiciar el ambiente adecuado a la investigación bibliográfica y al estudio, es requerido que los usuarios de este centro de servicio observen y respeten las siguientes normas de conducta durante su estancia en el recinto y durante las ocasiones que hagan uso externo de los servicios y/o colecciones del Centro de Información.</p>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#dir1" aria-expanded="true" aria-controls="dir1">
			          Código de Conducta del Usuario.
			        </a>
			      </h4>
			    </div>
			    <div id="dir1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
					
					<ul>
						<li>Abstenerse de fumar.</li>
						<li>Abstenerse de introducir bebidas y/o alimentos.</li>
						<li>Abstenerse de rayar o perjudicar en otra forma las paredes, mesas de estudio.</li>
						<li>Abstenerse de intercalar en los estantes el material bibliográfico utilizado en la sala.</li>
						<li>Abstenerse de MUTILAR o EXTRAER ilegalmente del Centro de Información, cualesquiera de las obras que conforman el acervo.</li>
						<li>Abstenerse de ocultar dentro del Centro de Información para uso individual y exclusivo, cualesquiera de los recursos bibliográficos disponibles.</li>
						<li>Mantener SILENCIO en la sala de lectura, con el fin de facilitar un ambiente favorable para el estudio individual.</li>
						<li>Conducirse con respeto, por igual, hacia el personal de la Centro de Información y hacia otros usuarios de este centro de servicios.</li>
						<li>Respetar las fechas de devolución de material bibliográfico solicitado en préstamo externo.</li>
						<li>Respetar las normas, los procedimientos y, en su caso, las sanciones establecidas en los diversos servicios que el Centro de Información ofrece.</li>
						<li>Toda situación no prevista en el Reglamento será resuelta por el Jefe del Centro de Información y las autoridades superiores del Instituto.</li>
						<li>Las violaciones a este Código de Conducta serán penadas, de acuerdo a la gravedad de la falta e independientemente de las sanciones económicas que correspondan, con la suspensión temporal de los derechos del usuario a los servicios que ofrece el CI (desde 1 día hasta un año) y la aplicación del Reglamento para alumnos del I.T. de Acapulco en su Capítulo VI de las Sanciones y Bajas.</li>
					</ul>

					<p><strong>EL DESCONOCIMIENTO DE ESTAS NORMAS, PROCEDIMIENTOS Y SANCIONES NO EXCUSA SU INCUMPLIMIENTO.</strong></p>

			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir2" aria-expanded="false" aria-controls="dir2">
			          Préstamo y devoluciones de libros.
			        </a>
			      </h4>
			    </div>
			    <div id="dir2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
					<p>El usuario de este servicio podrá solicitar el número de libros simultáneamente que su status permita y utilizarlos de acuerdo al periodo correspondiente</p>

					<table class="table">
				        <thead>
				          <tr>
				            <th>Usuario</th>
				            <th>Cantidad de libros</th>
				            <th>Periodo (Dias)</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td>Alumnos</td>
				            <td>2</td>
				            <td>5</td>
				          </tr>
				          <tr>
				            <td>Alumnos y maestria</td>
				            <td>2</td>
				            <td>5</td>
				          </tr>
				          <tr>
				            <td>Personal (docentes y administrativos)</td>
				            <td>2</td>
				            <td>5</td>
				          </tr>
				        </tbody>
			        </table>
					
					<ul>
						<li>Para poder obtener en préstamo material bibliográfico, es necesario presentar la <strong>credencial vigente</strong></li>
						<li>No se podrá utilizar la credencial de otra persona para solicitar libros en préstamo.</li>
						<li>Se podrá renovar el préstamo del material, salvo que haya transcurrido un día entre la fecha del último préstamo y la fecha en que se solicita.</li>
						<li>Los materiales, cualesquiera que se consulten, no son para uso individual y exclusivo del usuario por lo que deberá entregarlos al término del periodo arriba indicado de acuerdo al status designado.</li>
						<li>Al solicitar el préstamo del material bibliográfico, verifique que el número de folio del libro coincida con el de su tarjeta. No se justificará ninguna diferencia al momento de devolver el material.</li>
						<li>Verificar que el material que se te proporciona en préstamo, no se encuentre despegado, roto y/o mutilado. De lo contrario, en el momento de la devolución, te será exigido lo entregues en buenas condiciones e incluso lo reintegres nuevo.</li>
						<li>Material hemerografico, de consulta, tesis, videos, bases de datos y discos compactos no podrán ser solicitados en préstamo externo.</li>
					</ul>

			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir4" aria-expanded="false" aria-controls="dir4">
			          Videoteca
			        </a>
			      </h4>
			    </div>
			    <div id="dir4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <ul>
						<li>La reservación de la videoteca, equipo y material audiovisual deberá hacerse por lo menos con 2 horas de anticipación.</li>
						<li>Los usuarios deberán guardar orden y disciplina al dirigirse a las salas así como durante su permanencia en la misma.</li>
						<li>El Centro de Información podrá suspender cualquier actividad llevada a cabo dentro de las salas que cause ruido, desorden o que perturbe al resto de los usuarios que se encuentran en el interior del Centro de Información.</li>
						<li>El equipo que se encuentra en la videoteca, es única y exclusivamente para exhibir materiales de apoyo a los cursos académicos.</li>
						<li>El profesor es el responsable directo de la conducta de sus alumnos durante la permanencia de éstos dentro de la videoteca en lo que dure su exposición, así como a la entrada y salida de la misma.</li>
						<li>El profesor deberá permanecer en la videoteca, atendiendo y supervisando a su grupo; de ninguna manera deberá dejar al grupo solo. De no acatarse esta disposición, el Centro de Información se reserva el derecho de suspender la sesión y restringir al profesor su acceso a las instalaciones.</li>
						<li>La videoteca de ninguna manera será facilitada para la impartición de clases; salvo se considere la utilización de material audiovisual.</li>
						<li>El nivel de volumen del televisor deberá ajustarse de tal manera que el usuario acomodado en la última fila escuche claramente el audio del material que se expone. No deberá perturbar la estancia de los usuarios que se encuentran en las salas de estudio anexas.</li>
			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir24" aria-expanded="false" aria-controls="dir24">
			          Consulta de base de datos
			        </a>
			      </h4>
			    </div>
			    <div id="dir24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<h4 class="text-green">Equipo y discos</h4>
					
					<ul>
						<li>El uso de la base de datos es única y exclusivamente para la realización del servicio de búsqueda, está prohibido tratar de accesar cualquier otro tipo de datos que no sean aquellos propios de este servicio.</li>
						<li>El usuario debe utilizar el equipo atendiendo a los cuidados necesarios para el buen funcionamiento del mismo, de lo contrario se hará acreedor a la suspensión del servicio temporal o definitivo dependiendo de la gravedad de la falta que haya cometido.</li>
						<li>El uso de disco compacto se realizará única y exclusivamente dentro de las instalaciones del Centro de Información, por ningún motivo estos discos pueden ser dados al usuario en calidad de préstamo externo.</li>
					</ul>

					<strong>Horario de servicio</strong> - El horario de servicio será variable por semestre de acuerdo a la disponibilidad del personal de servicio social.
			      </div>
			    </div>
			  </div>			  

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir3" aria-expanded="false" aria-controls="dir3">
			          Políticas uso de internet
			        </a>
			      </h4>
			    </div>
			    <div id="dir3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        
					<p>El acceso a Internet a través de los equipos de cómputo localizados en la sala de servicios de información electrónica del Centro de Información requiere que todos los USUARIOS se abstengan a los siguientes USOS INACEPTABLES de Internet:</p>
					<ul>
						<li>Utilizar correo electrónico, chats e Internet con contenidos no académico.</li>
						<li>Visualización de materiales sexualmente explícitos, pornográficos o/y obscenos.</li>
						<li>Manejo de lenguaje obsceno, abusivo o sexualmente explícito.</li>
						<li>Materiales que fomenten delincuencia o daño en propiedad ajena.</li>
						<li>Accesar materiales de otras personas y/o información de archivos sin permiso.</li>
						<li>Violentar las leyes de derechos de autor o propiedad intelectual sin previa autorización y/o sin la utilización de citas adecuadas.</li>
						<li>Utilizar los recursos de Internet proporcionados por la escuela para actividades comerciales o de lucro y proselitismo político.</li>
						<li>Utilizar expresiones de racismo.</li>
						<li>Utilizar el equipo en actividades y/o juegos no académicos que propicien el desgaste de los recursos del Instituto.</li>
					</ul>

					<p>Ser usuario del Centro de Información es un derecho, la lista anterior de usos inaceptables no es exhaustiva. Un usuario que viola los términos y condiciones de uso de Internet, o comete otros actos de conducta no deseada y no prevista pero considerada como inapropiada en el uso de los recursos del Centro de Información estará sujeto a las sanciones que van desde suspensión del servicio, acceso restringido, restitución del daño y la suspensión del Instituto de manera temporal o definitiva. La violación de algunas de las prohibiciones listadas pueden resultar en: acceso restringido a Internet, pérdida de cuenta, acción disciplinaria o legal.</p>

					<p>De la consulta y acceso a Internet</p>
					<ul>
						<li>Registrar en el área de internet su hora y día de consulta.</li>
						<li>Sólo podrá grabar la información localizada en dispositivos tipo USB.</li>
						<li>No se permite guardar en el disco duro de las máquinas en uso.</li>
					</ul>

			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir5" aria-expanded="false" aria-controls="dir5">
			          Cursos de verano y homogenización
			        </a>
			      </h4>
			    </div>
			    <div id="dir5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <h4 class="text-green">Préstamo</h4>
					<p>El usuario de este servicio podrá solicitar el número de libros simultáneamente que su status permita y utilizarlos de acuerdo al periodo correspondiente.</p>
					
					<table class="table">
				        <thead>
				          <tr>
				            <th>Usuario</th>
				            <th>Cantidad de libros</th>
				            <th>Periodo (Dias)</th>
				          </tr>
				        </thead>
				        <tbody>
				          <tr>
				            <td>Alumnos</td>
				            <td>2</td>
				            <td>3</td>
				          </tr>
				          <tr>
				            <td>Personal (docentes y administrativos)</td>
				            <td>2</td>
				            <td>3</td>
				          </tr>
				          <tr>
				            <td>Usuarios en homogenización</td>
				            <td colspan="2">Solo consulta interna</td>
				          </tr>
				        </tbody>
			        </table>
					<ul>
				        <li>Para poder obtener en préstamo a domicilio material bibliográfico, es necesario presentar la CREDENCIAL VIGENTE para el caso de los alumnos de Verano.</li>
						<li>Los usuarios en Homogeneización disponen del material bibliográfico únicamente en consulta interna; de ninguna forma el préstamo se puede dar a domicilio.</li>
						<li>No se podrá utilizar la credencial de otra persona para solicitar libros en préstamo.</li>
						<li>Se podrá renovar el préstamo del material, salvo que haya transcurrido un día entre la fecha del último préstamo y la fecha en que se solicita.</li>
						<li>Los materiales, cualesquiera que se consulten, no son para uso individual y exclusivo del usuario por lo que deberá entregarlos al término del periodo arriba indicado de acuerdo al status designado.</li>
						<li>Al solicitar el préstamo del material bibliográfico verifique que el número de folio del libro coincida con el de su tarjeta. No se justificará ninguna diferencia al momento de devolver el material.</li>
						<li>Verificar que el material que se te proporciona en préstamo, no se encuentre despegado, roto y/o mutilado. De lo contrario, en el momento de la devolución, te será exigido lo entregues en buenas condiciones e incluso lo reintegres nuevo.</li>
						<li>El horario del Centro de Información estará determinado por la Oficina Coordinadora de los Cursos de Verano y Homogenización.</li>
					</ul>

			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir6" aria-expanded="false" aria-controls="dir6">
			          Devolución de material
			        </a>
			      </h4>
			    </div>
			    <div id="dir6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			      	<p>Es responsabilidad del usuario verificar que su préstamo sea dado de baja en el sistema, revisar que sus tarjetas de préstamo de libros sean devueltas al libro que entrega y recoger su credencial.</p>
					
					<p><strong>Multas:</strong> Se cobrarán $10.00 por día natural de retraso en la entrega del libro, por libro; esto es, a partir del día siguiente a la fecha de vencimiento del préstamo contándose hasta el día que lo entrega (Incluyendo sábados, domingos, períodos intersemestrales días festivos y vacaciones). El usuario deudor cuenta con un plazo máximo de tres días hábiles para cubrir el monto total que se le haya determinado, después de los cuales los recargos se incrementarían en la misma razón que originó la multa en cuestión. Con ello se busca proteger las necesidades de los demás usuarios.</p>

					<p>El pago se efectuará en la caja del Departamento de Recursos Financieros y DE NINGUNA FORMA EN EL CENTRO DE INFORMACIÓN.</p>
					
					<p><strong>Adeudos:</strong> En el caso de que el usuario pierda un libro deberá reponer la obra además de cubrir un cargo adicional de $100.00 por gastos de procesamiento de material.</p>
					
					<p><strong>Cancelaciones:</strong> El usuario podrá hacer cancelaciones de cobro de gastos de procesamiento 
					entregando un libro a cambio de acuerdo a las necesidades del Centro de Información.</p>

			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir7" aria-expanded="false" aria-controls="dir7">
			          Normas del uso de la paquetería
			        </a>
			      </h4>
			    </div>
			    <div id="dir7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <ul>
				        <li>El servicio de paquetería es única y exclusivamente para todo aquel usuario que realice consultas al interior del Centro de Información.</li>
						<li>Tiempo máximo estimado: 2 Horas.</li>
						<li>Horario de servicio de paquetería:    - Lunes a viernes, 08:00 - 19:00 horas.</li>
						<li>El usuario de ninguna manera podrá utilizar el servicio de paquetería como depósito para sus materiales, útiles y otras prendas realice o no consultas en este Centro de Información (para retirarse a otras actividades); caso contrario, motivará la suspensión temporal de su servicio de préstamo a domicilio por 30 días hábiles.</li>
						<li>Lleve sus objetos de valor consigo; el Centro de Información no se hace responsable por la pérdida de:    - Efectivo.    - Alhajas.    - Celulares.    - Cualquier otro objeto de valor.Unicamente se reciben útiles escolares, mochilas y bolsas cerradas.</li>
						<li>Los útiles a resguardo en el interior de paquetería son responsabilidad del personal de vigilancia y sólo se entregarán si presenta la ficha. Los útiles que se coloquen en la estantería y mesas, fuera de la paquetería, son responsabilidad del usuario.</li>
						<li>El extravío, mutilación y/o deterioro e incluso el doblado de la ficha causará al usuario infractor un costo de recuperación de $20.00, cantidad que deberá cubrir en el Departamento de Recursos Financieros.</li>
						<li><strong>Cuida tu ficha ¡no la maltrates!</strong></li>
					</ul>
			      </div>
			    </div>
			  </div>	
				
			</div>
			<p><strong>¡Respeta el código de conducta y ayúdanos a servirte mejor!</strong></p>
		</div>
	</section>

{% endblock %}