{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Cuerpo Académico: Dinámica Territorial en el Desarrollo Sustentable (ITACA-CA-1)</h2>

			<h4 class="text-green">Integrantes</h4>
			<ul>
				<li>Dr. Rolando Palacios Ortega</li>
				<li>M.C. Maricela López Trejo</li>
				<li>M.C. Marcela Martínez Garía</li>
				<li>M.C. Leonel Hernández de los Santos</li>
				<li>Dr. Carmelo Castellanos Meza</li>
				<li>Dra. Elisa Cortes Badillo</li>
			</ul>

			<h4 class="text-green">Objetivo general</h4>

			<ul>
				<li>Evaluar las condiciones de pobreza en espacios urbanos de la Zona Metropolitana de Acapulco, para contribuir a la definición de políticas públicas que incidan en el turismo, la educación, el empleo y la protección al medio ambiente. Aportando nuevos elementos teóricos a la discusión del tema.</li>
			</ul>

			<h4 class="text-green">Objetivos específicos</h4>
			<ul>
				<li>Analizar los espacios urbanos con mayores índices de pobreza, en la Zona Metropolitana de Acapulco.</li>
				<li>Evaluar las relaciones entre la pobreza, el turismo, la educación, el empleo y la protección al medio ambiente.</li>
				<li>Proponer acciones que se puedan integrar a las políticas públicas en los niveles municipal, estatal y federal, en el contexto del marco legal vigente.</li>
			</ul>


			<h4 class="text-green">Dictamen de la solicitud de apoyo</h4>

			<p>“El proyecto es factible y pertinente al pretender evaluar las condiciones de pobreza en espacios urbanos de la Zona Metropolitana de Acapulco, y si parte de este objetivo es precisamente contribuir a la definición de políticas públicas que indician en el turismo, la educación, el empleo y la protección al medio ambiente las acciones deben ir encaminadas a buscar la concertación en los niveles municipal, estatal y federal a través de las cámaras y comisiones para que así como es su intención puedan influir en el contexto del marco legal vigente.”</p>

			<h4 class="text-green">Proyecto de investigación financiado por PROEDE</h4>

			<table class="table">
		        <tbody>
		          	<tr>
		            	<td>Institución</td>
		            	<td>Instituto Tecnológico de Acapulco</td>
		          	</tr>
		          	<tr>
		            	<td>Nombre del cuerpo académico</td>
		            	<td>Dinámica Territorial en el Desarrollo Sustentable</td>
		          	</tr>
		          	<tr>
		            	<td>IDCA</td>
		            	<td>8494</td>
		          	</tr>
		          	<tr>
		            	<td>Clave</td>
		            	<td>ITACA-CA-1</td>
		          	</tr>
		          	<tr>
		            	<td></td>
		            	<td>La Localización Espacial de la Pobreza en la Zona Metropolitana de Acapulco. Un Acercamiento desde la Visión Compleja del Desarrollo Territorial.</td>
		          	</tr>
		        </tbody>
		    </table>

		    <h4 class="text-green">División de Estudios de Posgrado e Investigación</h4>
		    <p>Av. Instituto Tecnológico s/n</p>
			<p>Crucero de Cayaco, C.P. 39905</p>
			<p>Acapulco, Guerrero.</p>
			<p>Tel. (744) 442-9011, ext. 2036</p>
			<p>posgrados@it-acapulco.edu.mx</p>
			<p>http://www.it-acapulco.edu.mx</p>

			<a class="text-green link" href="{% static "docs/OfertaEducativa/cuerpoAcademico/SeminarioDesarrolloTerritorialJun-Ago2012v2.pdf" %}"  target="_blank">Programa <strong>(Descarga)</strong></a>


		</div>
	</section>

{% endblock %}