{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h3 class="text-red">Directorio</h3>

			<p>Institución: Instituto Tecnológico de Acapulco</p>
			<p>Domicilio: Av. Instituto Tecnológico s/n, Crucero de Cayaco, Acapulco, Gro.</p>
			<p>Código Postal: 39905</p>
			<p>Conmutador: 01 (744) 442 9010 y 442 9011</p>
			<p>Sitio Web: www.it-acapulco.edu.mx</p>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#dir1" aria-expanded="true" aria-controls="dir1">
			          Dirección
			        </a>
			      </h4>
			    </div>
			    <div id="dir1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<p>Actualizado el 27 de enero de 2014</p>
			        <p><strong>Extension: </strong>102</p>
			        <p><strong>Correo electrónico: </strong>dirección@it-acapulco.edu.mx</p>
					
					<h4 class="text-green">Funciones</h4>
			        <ul class="text-justify">

					<li>Planear, dirigir, controlar y evaluar las actividades de planeación, vinculación, académicas y administrativas del instituto tecnológico, de conformidad con los objetivos, políticas y lineamientos establecidos por la Secretaría de Educación Pública.</li>
					
					<li>Dirigir la elaboración del Programa Operativo Anual (POA) y el anteproyecto de presupuesto del instituto tecnológico con base en los lineamientos establecidos para tal fin y proponerlos a la dirección general para su autorización.</li>
					
					<li>Proponer a la Dirección General de Educación Superior Tecnológica (DGEST), la organización del instituto, así como modificaciones a los sistemas y procedimientos que coadyuven al cumplimiento de los objetivos del mismo.</li>
					
					<li>Dirigir y controlar la integración y administración de los recursos humanos, financieros y materiales del instituto tecnológico, de conformidad con la normatividad vigente.</li>
					
					<li>Dirigir y controlar la aplicación de los planes y programas de estudio, apoyos didácticos y técnicas e instrumentos para la evaluación del aprendizaje en el instituto tecnológico conforme a los lineamientos técnicos y metodológicos establecidos por la Dirección General de Educación Superior Tecnológica.</li>
					
					<li>Dirigir y controlar el desarrollo de los proyectos de investigación científica y tecnológica en el instituto de acuerdo a los lineamientos técnicos y metodológicos establecidos por la Dirección General de Educación Superior Tecnológica.</li>
					
					<li>Promover y dirigir el desarrollo de las actividades de vinculación del instituto tecnológico con el sector productivo de bienes y servicios de la región.</li>
					
					<li>Promover y dirigir el desarrollo de las actividades cívicas, sociales, culturales, deportivas y recreativas del instituto tecnológico, así como las de vinculación y orientación educativa.</li>
					
					<li>Dirigir y supervisar el sistema de control escolar del instituto tecnológico, conforme a las normas y procedimientos establecidos.</li>
					
					<li>Dirigir y controlar la prestación de los servicios asistenciales del instituto tecnológico de acuerdo con los lineamientos establecidos.</li>
					
					<li>Promover la difusión de las normas y lineamientos que regulen el funcionamiento del instituto tecnológico en las áreas del mismo y vigilar su aplicación.</li>
					
					<li>Informar del funcionamiento del instituto a la Dirección General de Educación Superior Tecnológica en los términos y plazos establecidos.</li>

			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir2" aria-expanded="false" aria-controls="dir2">
			          Subdirección de Servicios Administrativos
			        </a>
			      </h4>
			    </div>
			    <div id="dir2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>160</p>
			        <p><strong>Correo electrónico: </strong>sub.adminitrativa@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir4" aria-expanded="false" aria-controls="dir4">
			          Subdirección Académica
			        </a>
			      </h4>
			    </div>
			    <div id="dir4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>118, 106</p>
					<p><strong>Teléfono: </strong>442 9013</p>
			        <p><strong>Correo electrónico: </strong>sub.académica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir3" aria-expanded="false" aria-controls="dir3">
			          Subdirección de Planeación y Vinculación
			        </a>
			      </h4>
			    </div>
			    <div id="dir3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>103, 117</p>
			      	<p><strong>Teléfono: </strong>442 9014</p>
			        <p><strong>Correo electrónico: </strong>sub.planeacion@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir5" aria-expanded="false" aria-controls="dir5">
			          Departamento de Ciencias Básicas
			        </a>
			      </h4>
			    </div>
			    <div id="dir5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>130</p>
			        <p><strong>Correo electrónico: </strong>ciencia.básicas@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir6" aria-expanded="false" aria-controls="dir6">
			          Departamento de Sistemas y Computación
			        </a>
			      </h4>
			    </div>
			    <div id="dir6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>144, 145</p>
			        <p><strong>Correo electrónico: </strong>sistemas@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir7" aria-expanded="false" aria-controls="dir7">
			          Departamento de Metalmecánica
			        </a>
			      </h4>
			    </div>
			    <div id="dir7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>158,159</p>
			        <p><strong>Correo electrónico: </strong>electromecánica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir8" aria-expanded="false" aria-controls="dir8">
			          Departamento de ciencias de la Tierra
			        </a>
			      </h4>
			    </div>
			    <div id="dir8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>147</p>
			        <p><strong>Correo electrónico: </strong>arquitectura@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir9" aria-expanded="false" aria-controls="dir9">
			          Departamento de Ingeniería Química y Bioquímica
			        </a>
			      </h4>
			    </div>
			    <div id="dir9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>139,140</p>
			        <p><strong>Correo electrónico: </strong>bioquímica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir10" aria-expanded="false" aria-controls="dir10">
			          Departamento de Económico – Administrativas
			        </a>
			      </h4>
			    </div>
			    <div id="dir10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>154</p>
			        <p><strong>Correo electrónico: </strong>cea@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir11" aria-expanded="false" aria-controls="dir11">
			          Departamento de Desarrollo Académico
			        </a>
			      </h4>
			    </div>
			    <div id="dir11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>122</p>
			        <p><strong>Correo electrónico: </strong>Desarrollo.academico@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir12" aria-expanded="false" aria-controls="dir12">
			          División de Estudios Profesionales
			        </a>
			      </h4>
			    </div>
			    <div id="dir12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>125, 126</p>
			        <p><strong>Correo electrónico: </strong>div.est.prof@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir13" aria-expanded="false" aria-controls="dir13">
			          División de Estudios de Posgrado e Investigación
			        </a>
			      </h4>
			    </div>
			    <div id="dir13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>135, 136</p>
			        <p><strong>Correo electrónico: </strong>posgrado@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir14" aria-expanded="false" aria-controls="dir14">
			          Departamento de Planeación, Programación y Presupuestación
			        </a>
			      </h4>
			    </div>
			    <div id="dir14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>123</p>
			        <p><strong>Correo electrónico: </strong>planeación@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir15" aria-expanded="false" aria-controls="dir15">
			          Departamento de Gestión Tecnológica y Vinculación
			        </a>
			      </h4>
			    </div>
			    <div id="dir15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>120, 142</p>
			        <p><strong>Correo electrónico: </strong>gestión.tecnologica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir16" aria-expanded="false" aria-controls="dir16">
			          Departamento de Comunicación y Difusión
			        </a>
			      </h4>
			    </div>
			    <div id="dir16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>121</p>
			        <p><strong>Correo electrónico: </strong>com.difusion@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir17" aria-expanded="false" aria-controls="dir17">
			          Departamento de Actividades Extraescolares
			        </a>
			      </h4>
			    </div>
			    <div id="dir17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>153</p>
			        <p><strong>Correo electrónico: </strong>act.extraescolares@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir18" aria-expanded="false" aria-controls="dir18">
			          Centro de Información
			        </a>
			      </h4>
			    </div>
			    <div id="dir18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>143</p>
			        <p><strong>Correo electrónico: </strong>centro.informacion@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir19" aria-expanded="false" aria-controls="dir19">
			          Departamento de Recursos Humanos
			        </a>
			      </h4>
			    </div>
			    <div id="dir19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>124</p>
			        <p><strong>Teléfono: </strong>442 9016</p>
			        <p><strong>Correo electrónico: </strong>recursos.humanos@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir20" aria-expanded="false" aria-controls="dir20">
			          Departamento de Recursos Financieros
			        </a>
			      </h4>
			    </div>
			    <div id="dir20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>107, 119</p>
			     	<p><strong>Teléfono: </strong>442 9018</p>
			        <p><strong>Correo electrónico: </strong>Recursos.financieros@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>	

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir21" aria-expanded="false" aria-controls="dir21">
			          Departamento de Recursos Materiales y Servicios
			        </a>
			      </h4>
			    </div>
			    <div id="dir21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>133</p>
			        <p><strong>Correo electrónico: </strong>Recursos.materiales@it-acapulco.com.mx</p>
			      </div>
			    </div>
			  </div>	

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir22" aria-expanded="false" aria-controls="dir22">
			          Departamento de Mantenimiento de Equipo
			        </a>
			      </h4>
			    </div>
			    <div id="dir22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>157</p>
			        <p><strong>Correo electrónico: </strong>mantenimiento@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>	

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir23" aria-expanded="false" aria-controls="dir23">
			          Centro de Cómputo
			        </a>
			      </h4>
			    </div>
			    <div id="dir23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>146, 148</p>
			     	<p><strong>Teléfono: </strong>468 1319</p>
			        <p><strong>Correo electrónico: </strong>centro.computo@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>	
				
			</div>
		</div>
	</section>

{% endblock %}