<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Directorio - Instituto Tecnologico de Acapulco</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/custom.css" />

	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<header class="hidden-xs hidden-sm">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<a href="index.html"><img class="logofederal" src="img/logoheaderIzquierdo.png" alt="logo de la sep federal"></a>
				</div>
				<div class="col-xs-6">
					<h1>tecnológico nacional de méxico<br/>instituto tecnológico de acapulco</h1>
				</div>
				<div class="col-xs-3">
					<a href="index.html"><img class="logoita" src="img/tecnologico.png" alt="logo tecnologico acapulco"></a>
				</div>
			</div>
		</div>
	</header>
	
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
			
	      <a class="navbar-brand visible-xs visible-sm" href="index.html">
			<img class="logos-collapsed" src="img/logos.png" alt="logo tecnologico acapulco">
			<h5 class="visible-sm-inline-block">INSTITUTO TECNOLOGICO DE ACAPULCO</h5>
	      </a>

	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="index.html">Inicio</a></li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestro instituto <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="mensaje-director.html">Mensaje del director</a></li>
	            <li><a href="mision-vision.html">Misión, Visión</a></li>
	            <li><a href="plano.html">Plano</a></li>
	            <li><a href="historia.html">Historia</a></li>
	            <li><a target="_blank" href="docs/Organigrama-2014.pdf">Organigrama</a></li>
	            <li><a href="directorio.html">Directorio</a></li>
	            <li class="divider"></li>
	            <li><a href="licitaciones.html">Licitaciones</a></li>
	            <li><a href="becas.html">Becas</a></li>
	            <li><a href="convocatorias.html">Convocatorias</a></li>
	            <li><a href="sie.html">S.I.E</a></li>
	            <li><a href="calendario.html">Calendario</a></li>
	            <li><a href="pta.html">PTA</a></li>
	            <li><a href="pifit.html">PIFIT</a></li>
	            <li><a href="tecnologias.html">TECnologias</a></li>
	            <li><a href="vision-tecnologica.html">Visión Tecnologica</a></li>
	            <li><a href="email.html">Email</a></li>
	            <li><a href="contacto.html">Ubicación y contacto</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Oferta educativa <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="centro-de-idiomas.html">Centro de idiomas</a></li>
	            <li><a href="licenciaturas-ingenierias.html">Licenciaturas - Ingenierías</a></li>
	            <li><a href="postgrados.html">Postgrados</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aspirantes<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="requisitos-ingreso.html">Requisitos de ingreso</a></li>
	            <li><a href="convocatoria.html">Convocatoria</a></li>
	            <li><a href="resultados.html">Resultados</a></li>
	            <li><a href="curso-induccion.html">Curso de inducción</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="nuevo-ingreso.html">Nuevo ingreso</a></li>
	            <li><a href="calificaciones.html">Calificaciones</a></li>
	            <li><a href="reinscripciones.html">Reinscripciones</a></li>
	            <li><a href="servicio-social.html">Servicio social</a></li>
	            <li><a href="lineamientos-extraescolares.html">Lineamientos extraescolares</a></li>
	            <li><a href="titulacion.html">Titulacion</a></li>
	            <li><a href="egresados.html">Egresados</a></li>
	            <li><a href="coordinacion-carreras.html">Coordinacion de carreras</a></li>
	            <li><a href="encuestas.html">Encuestas</a></li>
	            <li><a href="intercambios-academicos.html">Intercambios academicos</a></li>
	            <li><a href="traslados.html">Traslados</a></li>
	            <li><a href="cambio-carrera.html">Cambio de carrera</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="administrativos.html">Administrativos</a></li>
	            <li><a href="docentes.html">Docentes</a></li>
	            <li><a href="recursos-humanos.html">Recursos humanos</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="servicios-escolares.html">Servicios escolares</a></li>
	            <li><a href="centro-de-informacion.html">Centro de información</a></li>
	            <li><a href="centro-computo.html">Centro de cómputo</a></li>
	            <li><a href="desarollo-academico.html">Desarrollo académico</a></li>
	            <li><a href="gestion-tec-vinc.html">Gestion de tec. y vinc.</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sitios ITA <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="centros-incubacion.html">Centro de incubación</a></li>
	            <li><a href="sistemas-gestion.html">Sistemas de gestión</a></li>
	            <li><a href="postgrados.html">Postgrados</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</nav>
	
	<section id="mainContent" class="enfasis">
		<div class="container">
			<h3 class="text-red">Directorio</h3>

			<p>Institución: Instituto Tecnológico de Acapulco</p>
			<p>Domicilio: Av. Instituto Tecnológico s/n, Crucero de Cayaco, Acapulco, Gro.</p>
			<p>Código Postal: 39905</p>
			<p>Conmutador: 01 (744) 442 9010 y 442 9011</p>
			<p>Sitio Web: www.it-acapulco.edu.mx</p>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#dir1" aria-expanded="true" aria-controls="dir1">
			          Dirección
			        </a>
			      </h4>
			    </div>
			    <div id="dir1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			      	<p>Actualizado el 27 de enero de 2014</p>
			        <p><strong>Extension: </strong>102</p>
			        <p><strong>Correo electrónico: </strong>dirección@it-acapulco.edu.mx</p>
					
					<h4 class="text-green">Funciones</h4>
			        <ul class="text-justify">

					<li>Planear, dirigir, controlar y evaluar las actividades de planeación, vinculación, académicas y administrativas del instituto tecnológico, de conformidad con los objetivos, políticas y lineamientos establecidos por la Secretaría de Educación Pública.</li>
					
					<li>Dirigir la elaboración del Programa Operativo Anual (POA) y el anteproyecto de presupuesto del instituto tecnológico con base en los lineamientos establecidos para tal fin y proponerlos a la dirección general para su autorización.</li>
					
					<li>Proponer a la Dirección General de Educación Superior Tecnológica (DGEST), la organización del instituto, así como modificaciones a los sistemas y procedimientos que coadyuven al cumplimiento de los objetivos del mismo.</li>
					
					<li>Dirigir y controlar la integración y administración de los recursos humanos, financieros y materiales del instituto tecnológico, de conformidad con la normatividad vigente.</li>
					
					<li>Dirigir y controlar la aplicación de los planes y programas de estudio, apoyos didácticos y técnicas e instrumentos para la evaluación del aprendizaje en el instituto tecnológico conforme a los lineamientos técnicos y metodológicos establecidos por la Dirección General de Educación Superior Tecnológica.</li>
					
					<li>Dirigir y controlar el desarrollo de los proyectos de investigación científica y tecnológica en el instituto de acuerdo a los lineamientos técnicos y metodológicos establecidos por la Dirección General de Educación Superior Tecnológica.</li>
					
					<li>Promover y dirigir el desarrollo de las actividades de vinculación del instituto tecnológico con el sector productivo de bienes y servicios de la región.</li>
					
					<li>Promover y dirigir el desarrollo de las actividades cívicas, sociales, culturales, deportivas y recreativas del instituto tecnológico, así como las de vinculación y orientación educativa.</li>
					
					<li>Dirigir y supervisar el sistema de control escolar del instituto tecnológico, conforme a las normas y procedimientos establecidos.</li>
					
					<li>Dirigir y controlar la prestación de los servicios asistenciales del instituto tecnológico de acuerdo con los lineamientos establecidos.</li>
					
					<li>Promover la difusión de las normas y lineamientos que regulen el funcionamiento del instituto tecnológico en las áreas del mismo y vigilar su aplicación.</li>
					
					<li>Informar del funcionamiento del instituto a la Dirección General de Educación Superior Tecnológica en los términos y plazos establecidos.</li>

			        </ul>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir2" aria-expanded="false" aria-controls="dir2">
			          Subdirección de Servicios Administrativos
			        </a>
			      </h4>
			    </div>
			    <div id="dir2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>160</p>
			        <p><strong>Correo electrónico: </strong>sub.adminitrativa@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir4" aria-expanded="false" aria-controls="dir4">
			          Subdirección Académica
			        </a>
			      </h4>
			    </div>
			    <div id="dir4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>118, 106</p>
					<p><strong>Teléfono: </strong>442 9013</p>
			        <p><strong>Correo electrónico: </strong>sub.académica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir3" aria-expanded="false" aria-controls="dir3">
			          Subdirección de Planeación y Vinculación
			        </a>
			      </h4>
			    </div>
			    <div id="dir3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>103, 117</p>
			      	<p><strong>Teléfono: </strong>442 9014</p>
			        <p><strong>Correo electrónico: </strong>sub.planeacion@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir5" aria-expanded="false" aria-controls="dir5">
			          Departamento de Ciencias Básicas
			        </a>
			      </h4>
			    </div>
			    <div id="dir5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>130</p>
			        <p><strong>Correo electrónico: </strong>ciencia.básicas@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir6" aria-expanded="false" aria-controls="dir6">
			          Departamento de Sistemas y Computación
			        </a>
			      </h4>
			    </div>
			    <div id="dir6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>144, 145</p>
			        <p><strong>Correo electrónico: </strong>sistemas@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir7" aria-expanded="false" aria-controls="dir7">
			          Departamento de Metalmecánica
			        </a>
			      </h4>
			    </div>
			    <div id="dir7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>158,159</p>
			        <p><strong>Correo electrónico: </strong>electromecánica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir8" aria-expanded="false" aria-controls="dir8">
			          Departamento de ciencias de la Tierra
			        </a>
			      </h4>
			    </div>
			    <div id="dir8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>147</p>
			        <p><strong>Correo electrónico: </strong>arquitectura@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir9" aria-expanded="false" aria-controls="dir9">
			          Departamento de Ingeniería Química y Bioquímica
			        </a>
			      </h4>
			    </div>
			    <div id="dir9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>139,140</p>
			        <p><strong>Correo electrónico: </strong>bioquímica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir10" aria-expanded="false" aria-controls="dir10">
			          Departamento de Económico – Administrativas
			        </a>
			      </h4>
			    </div>
			    <div id="dir10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>154</p>
			        <p><strong>Correo electrónico: </strong>cea@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir11" aria-expanded="false" aria-controls="dir11">
			          Departamento de Desarrollo Académico
			        </a>
			      </h4>
			    </div>
			    <div id="dir11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>122</p>
			        <p><strong>Correo electrónico: </strong>Desarrollo.academico@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir12" aria-expanded="false" aria-controls="dir12">
			          División de Estudios Profesionales
			        </a>
			      </h4>
			    </div>
			    <div id="dir12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>125, 126</p>
			        <p><strong>Correo electrónico: </strong>div.est.prof@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir13" aria-expanded="false" aria-controls="dir13">
			          División de Estudios de Posgrado e Investigación
			        </a>
			      </h4>
			    </div>
			    <div id="dir13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>135, 136</p>
			        <p><strong>Correo electrónico: </strong>posgrado@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>
			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir14" aria-expanded="false" aria-controls="dir14">
			          Departamento de Planeación, Programación y Presupuestación
			        </a>
			      </h4>
			    </div>
			    <div id="dir14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>123</p>
			        <p><strong>Correo electrónico: </strong>planeación@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir15" aria-expanded="false" aria-controls="dir15">
			          Departamento de Gestión Tecnológica y Vinculación
			        </a>
			      </h4>
			    </div>
			    <div id="dir15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>120, 142</p>
			        <p><strong>Correo electrónico: </strong>gestión.tecnologica@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir16" aria-expanded="false" aria-controls="dir16">
			          Departamento de Comunicación y Difusión
			        </a>
			      </h4>
			    </div>
			    <div id="dir16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>121</p>
			        <p><strong>Correo electrónico: </strong>com.difusion@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir17" aria-expanded="false" aria-controls="dir17">
			          Departamento de Actividades Extraescolares
			        </a>
			      </h4>
			    </div>
			    <div id="dir17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>153</p>
			        <p><strong>Correo electrónico: </strong>act.extraescolares@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir18" aria-expanded="false" aria-controls="dir18">
			          Centro de Información
			        </a>
			      </h4>
			    </div>
			    <div id="dir18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>143</p>
			        <p><strong>Correo electrónico: </strong>centro.informacion@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir19" aria-expanded="false" aria-controls="dir19">
			          Departamento de Recursos Humanos
			        </a>
			      </h4>
			    </div>
			    <div id="dir19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>124</p>
			        <p><strong>Teléfono: </strong>442 9016</p>
			        <p><strong>Correo electrónico: </strong>recursos.humanos@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir20" aria-expanded="false" aria-controls="dir20">
			          Departamento de Recursos Financieros
			        </a>
			      </h4>
			    </div>
			    <div id="dir20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>107, 119</p>
			     	<p><strong>Teléfono: </strong>442 9018</p>
			        <p><strong>Correo electrónico: </strong>Recursos.financieros@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>	

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir21" aria-expanded="false" aria-controls="dir21">
			          Departamento de Recursos Materiales y Servicios
			        </a>
			      </h4>
			    </div>
			    <div id="dir21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>133</p>
			        <p><strong>Correo electrónico: </strong>Recursos.materiales@it-acapulco.com.mx</p>
			      </div>
			    </div>
			  </div>	

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir22" aria-expanded="false" aria-controls="dir22">
			          Departamento de Mantenimiento de Equipo
			        </a>
			      </h4>
			    </div>
			    <div id="dir22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>157</p>
			        <p><strong>Correo electrónico: </strong>mantenimiento@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>	

			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#dir23" aria-expanded="false" aria-controls="dir23">
			          Centro de Cómputo
			        </a>
			      </h4>
			    </div>
			    <div id="dir23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p><strong>Extension: </strong>146, 148</p>
			     	<p><strong>Teléfono: </strong>468 1319</p>
			        <p><strong>Correo electrónico: </strong>centro.computo@it-acapulco.edu.mx</p>
			      </div>
			    </div>
			  </div>	
				
			</div>
		</div>

	</section>
	
	<footer class="container">
		
		
		</div>
		<div id="redesSociales" class="text-right">
			<a target="_blank" href="https://www.youtube.com/user/TecnologicoAcapulco"><span class="icon-youtube"></span></a>
			<a target="_blank" href="https://www.facebook.com/it.acapulco"><span class="icon-facebook"></span></a>
			<a target="_blank" href="https://twitter.com/ITecAcapulco"><span class="icon-twitter"></span></a>
		</div>
		<div class="row">
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-4 text-center">
				<img src="img/logoheaderIzquierdo.png" class="logoFederalFooter" alt="">
			</div>
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-12">
				<p class="text-center margin-top-low">
					Avenida Instituto Tecnológico S/N, Crucero del Cayaco C.P. 39905, Teléfonos (744) 442-9010 al 19 y Fax (744) 468-3505
				</p>
			</div>
		</div>
	</footer>
</body>
</html>