{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Documentos rectores de planeación</h2>
			
			<ul>
				<li><a target="_blank" class="text-green link" href="{% static "docs/documentosRectores/INFORMES_RENDICION_CUENTAS_ITACAPULCO2013.pdf" %}">Informe de Rendición de Cuentas 2013 <span class="icon-download"></span></a></li>
				<li><a target="_blank" class="text-green link" href="{% static "docs/documentosRectores/PIID2007-2012_IT_Acapulco_final.pdf" %}">Programa de Innovación y Desarrollo 2007-2012 <span class="icon-download"></span></a></li>
				<li><a target="_blank" class="text-green link" href="{% static "docs/documentosRectores/AGENDA_ESTRATEGICA2012-2013INST_TEC_ACAPULCO.pdf" %}">Agenta Estratégica 2013 <span class="icon-download"></span></a></li>
				<li><a target="_blank" class="text-green link" href="{% static "docs/documentosRectores/PTA_2014.pdf" %}">PTA 2014 <span class="icon-download"></span></a></li>
				<li><a target="_blank" class="text-green link" href="{% static "docs/documentosRectores/PTA_2015.pdf" %}">PTA 2015 <span class="icon-download"></span></a></li>
			</ul>

		</div>
	</section>

{% endblock %}
