{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}

	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Eventos</h2>
			{% if eventos.count > 0 %}
				<ul class="timeline">
					{% for evento in eventos %}
						{% if forloop.counter|divisibleby:2 %}
							<li class="timeline-inverted">
							<div class="timeline-badge danger">
						{% else %}
							<li>
							<div class="timeline-badge success">
						{% endif %}
							<i class="glyphicon glyphicon-hand-left"></i>
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h4 class="text-red">{{ evento.titulo }}</h4>
								<p><small class="text-muted">
									<i class="glyphicon glyphicon-time"></i> 
									{% if evento.fechaHoraFin %}
										<strong>Desde: </strong>{{ evento.fechaHora}}
										|
										<strong>Hasta: </strong>{{ evento.fechaHoraFin}}
									{% else %}
										{{ evento.fechaHora}}
									{% endif %}
									</small>
								</p>
							</div>
							<div class="timeline-body">
								{# 
								<div class="event-description">
									<p>
									{{ evento.descripcion }}
									</p>	
								</div>
								
								{% if evento.textoLink %}
									<div class="text-right">
										<a href="{{ evento.link }}" target="_blank">
											<span class="icon-link"></span>
											{{ evento.textoLink }}
										</a>
									</div>
								{% endif %}
								 #}
							</div>
						</div>
					</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</section>

{% endblock %}