{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Formatos</h2>
			<ol type="a">
				<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/SOLICITUDES_PARA_DIVISION_ESTUDIOS_PROFS.doc" %}">Solicitud para División de Estudios Profesionales.</a></li>
       			<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/SOLICITUD_COMITE_ACADEMICO2014.docx" %}">Solicitud para Comité Académico.</a></li>
       			<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/CambioDeCarrera.zip" %}">Solicitud y constancia de no adeudo para cambio de carrera.</a></li>
       			<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/SOLICITUD_TRASLADO2014.doc" %}">Solicitud de traslado.</a></li>
			</ul>
		</div>
	</section>

{% endblock %}