<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Historia - Instituto Tecnologico de Acapulco</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/custom.css" />

	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<header class="hidden-xs hidden-sm">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<a href="index.html"><img class="logofederal" src="img/logoheaderIzquierdo.png" alt="logo de la sep federal"></a>
				</div>
				<div class="col-xs-6">
					<h1>tecnológico nacional de méxico<br/>instituto tecnológico de acapulco</h1>
				</div>
				<div class="col-xs-3">
					<a href="index.html"><img class="logoita" src="img/tecnologico.png" alt="logo tecnologico acapulco"></a>
				</div>
			</div>
		</div>
	</header>
	
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
			
	      <a class="navbar-brand visible-xs visible-sm" href="index.html">
			<img class="logos-collapsed" src="img/logos.png" alt="logo tecnologico acapulco">
			<h5 class="visible-sm-inline-block">INSTITUTO TECNOLOGICO DE ACAPULCO</h5>
	      </a>

	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="index.html">Inicio</a></li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestro instituto <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="mensaje-director.html">Mensaje del director</a></li>
	            <li><a href="mision-vision.html">Misión, Visión</a></li>
	            <li><a href="plano.html">Plano</a></li>
	            <li><a href="historia.html">Historia</a></li>
	            <li><a target="_blank" href="docs/Organigrama-2014.pdf">Organigrama</a></li>
	            <li><a href="directorio.html">Directorio</a></li>
	            <li class="divider"></li>
	            <li><a href="licitaciones.html">Licitaciones</a></li>
	            <li><a href="becas.html">Becas</a></li>
	            <li><a href="convocatorias.html">Convocatorias</a></li>
	            <li><a href="sie.html">S.I.E</a></li>
	            <li><a href="calendario.html">Calendario</a></li>
	            <li><a href="pta.html">PTA</a></li>
	            <li><a href="pifit.html">PIFIT</a></li>
	            <li><a href="tecnologias.html">TECnologias</a></li>
	            <li><a href="vision-tecnologica.html">Visión Tecnologica</a></li>
	            <li><a href="email.html">Email</a></li>
	            <li><a href="contacto.html">Ubicación y contacto</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Oferta educativa <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="centro-de-idiomas.html">Centro de idiomas</a></li>
	            <li><a href="licenciaturas-ingenierias.html">Licenciaturas - Ingenierías</a></li>
	            <li><a href="postgrados.html">Postgrados</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aspirantes<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="requisitos-ingreso.html">Requisitos de ingreso</a></li>
	            <li><a href="convocatoria.html">Convocatoria</a></li>
	            <li><a href="resultados.html">Resultados</a></li>
	            <li><a href="curso-induccion.html">Curso de inducción</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="nuevo-ingreso.html">Nuevo ingreso</a></li>
	            <li><a href="calificaciones.html">Calificaciones</a></li>
	            <li><a href="reinscripciones.html">Reinscripciones</a></li>
	            <li><a href="servicio-social.html">Servicio social</a></li>
	            <li><a href="lineamientos-extraescolares.html">Lineamientos extraescolares</a></li>
	            <li><a href="titulacion.html">Titulacion</a></li>
	            <li><a href="egresados.html">Egresados</a></li>
	            <li><a href="coordinacion-carreras.html">Coordinacion de carreras</a></li>
	            <li><a href="encuestas.html">Encuestas</a></li>
	            <li><a href="intercambios-academicos.html">Intercambios academicos</a></li>
	            <li><a href="traslados.html">Traslados</a></li>
	            <li><a href="cambio-carrera.html">Cambio de carrera</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="administrativos.html">Administrativos</a></li>
	            <li><a href="docentes.html">Docentes</a></li>
	            <li><a href="recursos-humanos.html">Recursos humanos</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="servicios-escolares.html">Servicios escolares</a></li>
	            <li><a href="centro-de-informacion.html">Centro de información</a></li>
	            <li><a href="centro-computo.html">Centro de cómputo</a></li>
	            <li><a href="desarollo-academico.html">Desarrollo académico</a></li>
	            <li><a href="gestion-tec-vinc.html">Gestion de tec. y vinc.</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sitios ITA <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="centros-incubacion.html">Centro de incubación</a></li>
	            <li><a href="sistemas-gestion.html">Sistemas de gestión</a></li>
	            <li><a href="postgrados.html">Postgrados</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</nav>
	
	<section id="mainContent" class="enfasis">
		<div class="container">
			<h2 class="text-red">Historia</h2>
			<!-- <img src="http://placehold.it/800x350" class="autoWidth" alt=""> -->
			<div class="text-justify margin-top-low">
				<h3 class="text-red">SISTEMA NACIONAL DE INSTITUTOS TECNOLÓGICOS</h3>
				<p>
					Los tecnológicos son instituciones públicas de educación superior, su papel es servir a la sociedad de acuerdo a las necesidades que ella tiene y que se detectan directamente a través de los organismos del Estado. 
				</p>
				<p>
					Aplican las políticas que en materia educativa señala éste y con los recursos que él mismo les proporciona. El origen de este sistema educativo se remonta al año 1948, cuando eran inaplazables, a las entidades federativas, las oportunidades de acceder a la educación tecnológica superior, ahí encontramos la razón fundamental de su creación; eleva las posibilidades de educación de los hombres que por cuestiones económicas o sociales no podían viajar a la ciudad capital a estudiar alguna profesión.
				</p>
				<p>
					Si ya en sí misma la educación superior en México era tremendamente selectiva, al estar reservada en gran parte a los descendientes de familias acomodadas, la escasez de escuelas de este nivel en el interior del país convertía en propósito inalcanzable para los menos favorecidos -la gran mayoría - el adquirir una carrera profesional.
				</p>
				<p>
					Nacen como resultado del propósito de descentralización de la labor del Instituto Politécnico Nacional el que a su vez, materializaba por decisión del Presidente Lázaro Cárdenas, los postulados sociales de la Revolución Mexicana, se nutren por ello, de los postulados de la justicia social, plasmados en la Constitución, particularmente en su artículo tercero, a partir de ahí se ha ido definiendo su filosofía.
				</p>
				<p>
					Cabe sin embargo mencionar que tienen potencialidades que es menester liberar, por su filosofía, por su historia, por los recursos humanos con que cuentan, por su identidad de objetivos y por su unidad institucional, su papel en el desarrollo de México debe cobrar otras dimensiones.
				</p>
				<p>
					La historia de los Tecnológicos nos indica que éstos han funcionado siempre en forma coordinada; primero lo hicieron dentro de los lineamientos del Instituto Politécnico Nacional, después, dentro del marco de la SEP, cuando pasaron a depender de ésta.
				</p>
				
				<h3 class="text-red">INSTITUTO TECNOLÓGICO DE ACAPULCO</h3>
				
				<p>
					La educación tecnológica constituye para México, un elemento fundamental en el desarrollo pleno y la competitividad, los ámbitos de la economía social no se pueden concebir sin tomar en cuenta a las instituciones de educación superior, quienes desempeñan un papel fundamental en la historia contemporánea de nuestro país, es así como necesitamos urgentemente construir un destino que marque bases firmes para alcanzar un mayor progreso, la verdadera democracia y una perfecta justicia social.
				</p>
				<p>
					Estos reclamos no son únicamente prioritarios en el ámbito nacional, son el reto en todos y cada uno de los estados que conforman esta República Mexicana, por ello el Estado de Guerrero no se excluye de su responsabilidad y tomando estos preceptos, hace más de dos décadas, a principios del año 1973, durante el sexenio Presidencial del C. Lic. Luis Echeverría Álvarez, el gobierno del Estado de Guerrero solicita a la Secretaria de Educación Pública la creación de un Instituto Tecnológico en la entidad, que satisficiera la creciente demanda de profesionales capacitados, que arraigados a su región, contribuyeran al progreso y desarrollo de su entidad, así se funda el primer Instituto Tecnológico Regional, creado con un solo propósito: mejorar la calidad de vida de los guerrerenses, elevando hasta la excelencia el proceso enseñanza - aprendizaje, siendo éste el parámetro determinante para lograr la eficiencia en los sectores productivos de la población de nuestro estado.
				</p>
				<p>
					El Estado de Guerrero se encuentra ubicado en la agreste zona de la Sierra Madre del Sur, entre los estados de Michoacán, Morelos, México, Puebla y Oaxaca, bañado en su zona litoral por las hermosas aguas del Océano Pacífico, su territorio consta de 64,281 kilómetros cuadrados, en el que se pueden observar una diversidad de climas, flora y fauna, expresiones culturales, costumbres y tradiciones que hacen del Estado de Guerrero un hermoso crisol donde se funden los Guerrerenses, a la par de sus legados históricos y de sus experiencias, que darán origen a una nueva cultura social encauzada por la educación.
				</p>
				<p>
					En este Estado de Guerrero, con una plenitud de herencias, con grandes retos y compromisos, con capacidad y conciencia hace más de veinticinco años, se determina que el lugar idóneo para albergar a las instalaciones de lo que con el tiempo se convertiría en el Instituto Tecnológico de Acapulco, serían los límites de los ejidos de La Sabana y El Cayaco, en el Municipio de Acapulco; tomando en cuenta la situación geográfica, posición estratégica y potencialidad escolar.
				</p>
				<p>
					A iniciativa del Gobierno Estatal, fueron donadas 45 hectáreas de terreno, mismas que en la actualidad se han visto reducidas a únicamente 19 hectáreas, persistiendo la falta de regularización de dicho predio, que cada día se ve mermado por invasiones precaristas, más difíciles de combatir debido a nuestra situación legal.
				</p>
				<p>
					Aquí se construyen y equipan las instalaciones de nuestro Instituto Tecnológico de Acapulco, que en sus inicios se denominó Instituto Tecnológico Regional de Acapulco, siendo inaugurado el día 19 de Septiembre de 1975, por el C. Ing. Rubén Figueroa Figueroa, en ese tiempo Gobernador Constitucional del Estado.
				</p>
				<p>
					Las actividades académicas iniciaron el 1o. De Octubre de ese mismo año, siendo Director fundador el Ing. Arq. Raúl Roberto Aguilar Rezza.
				</p>
				<p>
					El Instituto Tecnológico de Acapulco contó con una población inicial de: 51 alumnos de nivel superior y 483 alumnos de nivel medio superior (técnicos), atendidos por una planta laboral de 47 empleados entre docentes y administrativos.
				</p>
				
				<p>
					Inicialmente se ofrecieron las carreras de:
					<h4 class="text-red">Nivel Medio Superior</h4>
					<ul>
						<li>Técnico en Aire Acondicionado y Refrigeración </li>
						<li>Técnico en Mantenimiento Mecánico. </li>
						<li>Técnico Laboratorista Químico. </li>
						<li>Técnico en Obras Arquitectónicas </li>
						<li>Técnico en Administración de Personal</li>
					</ul>
				</p>
				<p>
					
				<h4 class="text-red">Nivel Superior</h4>
					<ul>
						<li>Ingeniería Electromecánica en Planta y Mantenimiento.</li>
						<li>Licenciatura en Relaciones Comerciales</li>
					</ul>
				</p>
				<p>
					Debido a que en la localidad se cuenta con escuelas que atienden el nivel medio superior, la Dirección General de Institutos Tecnológicos (ahora Dirección General de Educación Superior Tecnológica), autoriza desde el año de 1980, la desconcentración del mismo; esto da pauta para que se apoye en gran medida el desarrollo del nivel superior, siendo desde el año de 1983 que el Instituto Tecnológico de Acapulco ofrece exclusivamente en Sistema Escolarizado y Sistema Abierto, carreras de Nivel Superior.
					A lo largo de sus 40 años de vida, el Instituto Tecnológico de Acapulco ha operado bajo la dirección de los siguientes funcionarios:
				</p>

				<table class="table">
			        <thead>
			          <tr>
			            <th>#</th>
			            <th>Nombre</th>
			            <th>Inicia</th>
			            <th>Termina</th>
			          </tr>
			        </thead>
			        <tbody>
			          <tr>
			            <td>1</td>
			            <td>Ing. Arq. Raúl Roberto Aguilar Rezza</td>
			            <td>Octubre 1975</td>
			            <td>Abril 1981</td>
			          </tr>
			          <tr>
			            <td>2</td>
			            <td>Ing. José A. Canto Quintal (+)</td>
			            <td>Abril 1981</td>
			            <td>Agosto 1981</td>
			          </tr>
			          <tr>
			            <td>3</td>
			            <td>Ing. Jesús M. López Barraza</td>
			            <td>Octubre 1981</td>
			            <td>Agosto 1984</td>
			          </tr>
			          <tr>
			            <td>4</td>
			            <td>Ing. Raúl Almogábar Sánchez</td>
			            <td>Agosto 1984</td>
			            <td>Junio 1986</td>
			          </tr>
			          <tr>
			            <td>5</td>
			            <td>Ing. Erasmo Martínez Rodríguez</td>
			            <td>Agosto 1986</td>
			            <td>Septiembre1991</td>
			          </tr>
			          <tr>
			            <td>6</td>
			            <td>Ing. Amado Palomino Solórzano</td>
			            <td>Septiembre 1991</td>
			            <td>Mayo 1993</td>
			          </tr>
			          <tr>
			            <td>7</td>
			            <td>Ing. Arq. Raúl Roberto Aguilar Rezza</td>
			            <td>Mayo 1993</td>
			            <td>Noviembre 2000</td>
			          </tr>
			          <tr>
			            <td>8</td>
			            <td>Ing. José Luis Morales Lucas</td>
			            <td>Noviembre 2000</td>
			            <td>Julio 2002</td>
			          </tr>
			          <tr>
			            <td>9</td>
			            <td>Ing. Enrique Leal Cruz</td>
			            <td>Julio 2002</td>
			            <td>Agosto 2002</td>
			          </tr>
			          <tr>
			            <td>10</td>
			            <td>Ing. Javier Eliseo Muñoz de la Torre</td>
			            <td>Septiembre 2002</td>
			            <td>2005</td>
			          </tr>
			          <tr>
			            <td>11</td>
			            <td>Ing. Sergio Fernando Garibay Armenta</td>
			            <td>2005</td>
			            <td>Octubre 2006</td>
			          </tr>
			          <tr>
			            <td>12</td>
			            <td>Ing. Angel Francisco Velazco Muñoz</td>
			            <td>Octubre 2006</td>
			            <td>Noviembre 2009</td>
			          </tr>
			          <tr>
			            <td>13</td>
			            <td>Ing. Antonio Enrique Leal Cruz</td>
			            <td>Noviembre 2009</td>
			            <td>Agosto 2012</td>
			          </tr>
			          <tr>
			            <td>14</td>
			            <td>Ing. Jorge Aceves Jiménez</td>
			            <td>29 de agosto de 2012</td>
			            <td>29 de mayo de 2014</td>
			          </tr>
			          <tr>
			            <td>15</td>
			            <td>Ing. Eliot Joffre Vázquez</td>
			            <td>30 de mayo de 2014</td>
			            <td>A la fecha</td>
			          </tr>
			        </tbody>
			    </table>

			    <p>
			    	El Instituto Tecnológico de Acapulco, ofrece actualmente las siguientes carreras de Nivel Superior:

					<h4 class="text-red">Sistema Escolarizado</h4>
					<ul>
						<li>Arquitectura, con especialidad en Diseño Arquitectónico Regional </li>
						<li>Ingeniería Bioquímica, con especialidad en Alimentos </li>
						<li>Ingeniería Electromecánica, con especialidad en Mantenimiento Industrial. </li>
						<li>Ingeniería en Sistemas Computacionales, con especialidad en: Redes y Sistemas Distribuidos. </li>
						<li>Ingeniería en Gestión Empresarial. </li>
						<li>Licenciatura en Administración, con especialidad en: Empresas Turísticas y Mercadotecnia. </li>
						<li>Licenciatura en Contaduría, con especialidad en: Impuestos.</li>
					</ul>
			    </p>

			</div>
		</div>
	</section>
	
	<footer class="container">
		
		</div>
		<div id="redesSociales" class="text-right">
			<a target="_blank" href="https://www.youtube.com/user/TecnologicoAcapulco"><span class="icon-youtube"></span></a>
			<a target="_blank" href="https://www.facebook.com/it.acapulco"><span class="icon-facebook"></span></a>
			<a target="_blank" href="https://twitter.com/ITecAcapulco"><span class="icon-twitter"></span></a>
		</div>
		<div class="row">
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-4 text-center">
				<img src="img/logoheaderIzquierdo.png" class="logoFederalFooter" alt="">
			</div>
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-12">
				<p class="text-center margin-top-low">
					Avenida Instituto Tecnológico S/N, Crucero del Cayaco C.P. 39905, Teléfonos (744) 442-9010 al 19 y Fax (744) 468-3505
				</p>
			</div>
		</div>
	</footer>

</body>
</html>