{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}

	<section id="mainContent">
		
		<div id="slider-wrapper">
			<div id="slider" class="container">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				  
				  <ol class="carousel-indicators">
				    {% for slider in sliders %}
			    		{% if forloop.first %}
			    			<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
			    		{% else %}
			    			<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
			    		{% endif%}
				    {% endfor %}
				  </ol>
				  
				  <div class="carousel-inner">
				    
				    {% for slider in sliders %}
			    		{% if forloop.first %}
				    		<div class="item active">
				    	{% else %}
				    		<div class="item">
				    	{% endif %}
				    		
				    		{% thumbnail slider.imagen "2250x900" crop="center" as im %}
				      			{% if slider.link %}
								<a href="{{ slider.link }}"><img src="{{ im.url }}" alt="{{ slider.titulo }}"></a>
							{% else %}
								<img src="{{ im.url }}" alt="{{ slider.titulo }}">
							{% endif %}
				      		{% endthumbnail %}

				      	{% if slider.titulo|length > 0 %}
							<div class="carousel-caption">
						    	<h3>{{ slider.titulo }}</h3>
						    </div>
				      	{%endif%}

				      	</div>

			      	{% endfor %}

				  </div>

				  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				    <span class="icon-arrow-left"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				    <span class="icon-arrow-right"></span>
				  </a>
				</div>
			</div>
		</div>
		
		<article id="MensajeDirector" class="container-fluid enfasis">
			<div class="container jumbotron text-center">
				<h1 class="text-red">Bienvenido</h1>
				<div class="margin-top-low">

					<p>El <strong>Instituto Tecnológico de Acapulco</strong>, fundado en el año de 1975, asume su liderazgo como la mejor opción en la <strong>región Centro y de la Costa de Guerrero</strong> para los jóvenes que desean cursar una Carrera Superior. Actualmente nuestra matrícula consta de 4,350 estudiantes en las <strong>Carreras de Arquitectura, Ingeniería Bioquímica, Ingeniería Electromecánica, Ingeniería en Sistemas Computacionales, Ingeniería en Gestión Empresarial, Licenciatura en Administración y en Contaduría Pública.</strong></p>
				</div>
			</div>	
		</article>
		
		<article id="recent-news" class="container-fluid">

			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h3>Publicaciones</h3>
					</div>
					<div class="col-sm-6">
						
						<form role="search" class="seach-field" action="/busqueda/" method="GET">
						  <div class="input-group">
						      {# <input type="text" placeholder="¿Qué noticia esta buscando?" class="form-control"> #}
						      {{ searchform.pista.errors }}
		                        {{ searchform.pista }}
						      <span class="input-group-btn">
						        <button id="btnSearch" type="submit" class="btn btn-success" type="button">BUSCAR</button>
						      </span>
						    </div><!-- /input-group -->
						</form>
					</div>
					<div class="col-xs-12">
						<h4>{{ textoBusqueda }}</h4>
					</div>
				</div>
			</div>
		</article>

		<article id="recent-news" class="container-fluid">
			<div class="container">
				
				<div class="row">
					
					{% for publicacion in publicacionesPermanentes %}
						{% if forloop.first %}
						<div class="col-sm-12 col-md-6">
							<a class="thumbnail recent home" href="{% url 'publicacion' publicacion.id %}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% if publicacion.imagen %}
							      	{% thumbnail publicacion.imagen "750x400" crop="center" as im %}
					      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}">
					      			{% endthumbnail %}
					      		{% else %}
					      			<img src="{% static "img/placeholder.jpg" %}" /> 
					      		{% endif %}
						{% else %}
						<div class="col-sm-6 col-md-3">
						    <a class="thumbnail recent home" href="/publicaciones/{{ publicacion.id }}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% if publicacion.imagen %}
							      	{% thumbnail publicacion.imagen "562x300" crop="center" as im %}
					      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}" />
					      			{% endthumbnail %}
					      		{% else %}
					      			<img src="{% static "img/placeholder.jpg" %}" /> 
					      		{% endif %}
						{% endif %}
						      	<div class="caption">
						        	<h4 class="text-red">{{ publicacion.titulo }}</h4> 
						         	<div class="new-content">
						        	<p>{{ publicacion.resumen|slice:":150" }}</p>
						        </div>
						      </div>
						    </a>
						</div>
					{% endfor%}

				</div>
			</div>
		</article>

		<article class="container-fluid margin-top-med">
			<div class="container">
				<div class="row">
					
					{% for publicacion in publicaciones %}
						<div class="col-sm-6 col-md-3">
						    <a class="thumbnail" href="{% url 'publicacion' publicacion.id %}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% if publicacion.imagen %}
							      	{% thumbnail publicacion.imagen "562x300" crop="center" as im %}
					      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}" />
					      			{% endthumbnail %}
					      		{% else %}
					      			<img src="{% static "img/placeholder.jpg" %}" /> 
					      		{% endif %}
						      	<div class="caption">
						        	<h4 class="text-red">{{ publicacion.titulo }}</h4> 
						         	<div class="new-content">
						        	<p>{{ publicacion.resumen|slice:":150" }}</p>
						        </div>
						      </div>
						    </a>
						</div>
					{% endfor%}
					
					{% if eventos.count > 0 %}
					<div class="col-sm-6 col-md-3 dispTable">
					    <a class="thumbnail eventos boxAutoHeight" href="{% url 'eventos' %}">
					      	<div class="caption">
					        	<h4>
								<span class="icon-calendar"></span>
								Eventos próximos
							</h4>
					         	<div>
					         		<ul>
					         			{% for evento in eventos %}
					         				<li>
					         					<strong>{{ evento.titulo }}</strong>
					         					<i>{{ evento.fechaHora }}</i>
					         				</li>
					         			{% endfor %}
					         		</ul>
					        	</div>
					      	</div>
					    </a>
					</div>
					{% endif %}

				</div>
				<p class="text-center"><a href="/publicaciones/" class="btn btn-primary margin-top-med" role="button">TODAS LAS PUBLICACIONES</a></p>
			</div>
		</article>
	</section>
    <section>

    <section id="MensajeDirector" class="container-fluid enfasis red">
		<div class="container jumbotron text-center">
            <div class="row">
                <article class="col-md-4">
                    <h2>Nuestro instituto</h2>
                    <p>
                        El Instituto Tecnológico de Acapulco te ofrece la mejor oferta educativa a nivel superior para que realices tus metas y objetivos.
                        Con el mejor plan de estudios por competencias ven y formas parte de nuestra gran familia Tecnológica.
                    </p>
                </article>
                <article class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"  src="//www.youtube.com/embed/k8kUedO1PuY" ></iframe>
                    </div>
                </article>
            </div>
        </div>
	</section>

    </section>
	<aside id="social" class="container-fluid">
		<div class="container">
			<row>
				<div class="col-md-4 text-center">
					<div class="g-plusone" data-size="tall"></div>
				</div>
				<div class="col-md-4 text-center">
					<div class="fb-like" data-href="https://www.facebook.com/it.acapulco" data-layout="box_count" data-action="like" data-show-faces="true" data-share="false"></div>
				</div>
				<div class="col-md-4 text-center">
					<a href="https://twitter.com/ITecAcapulco" class="twitter-follow-button" data-show-count="false" data-size="large"></a>

				</div>
			</row>
		</div>
	</aside>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '1612804425607316',
	      xfbml      : true,
	      version    : 'v2.2'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/es_LA/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<script>
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
	</script>
	<script src="https://apis.google.com/js/platform.js" async defer>
	  {lang: 'es-419'}
	</script>
	
{% endblock %}
