{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}

	<section id="mainContent">
		<div id="slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  
			  <ol class="carousel-indicators">
			    {% for slider in sliders %}
		    		{% if forloop.first %}
		    			<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
		    		{% else %}
		    			<li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
		    		{% endif%}
			    {% endfor %}
			  </ol>
			  
			  <div class="carousel-inner">
			    
			    {% for slider in sliders %}
		    		{% if forloop.first %}
			    		<div class="item active">
			    	{% else %}
			    		<div class="item">
			    	{% endif %}
			    		
			    		{% thumbnail slider.imagen "2250x900" crop="center" as im %}
			      			{% if slider.link %}
							<a href="{{ slider.link }}"><img src="{{ im.url }}" alt="{{ slider.titulo }}"></a>
						{% else %}
							<img src="{{ im.url }}" alt="{{ slider.titulo }}">
						{% endif %}
			      		{% endthumbnail %}

			      	{% if slider.titulo|length > 0 %}
						<div class="carousel-caption">
					    	<h3>{{ slider.titulo }}</h3>
					    </div>
			      	{%endif%}

			      	</div>

		      	{% endfor %}

			  </div>

			  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			    <span class="icon-arrow-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			    <span class="icon-arrow-right"></span>
			  </a>
			</div>
		</div>
		
		<article id="MensajeDirector" class="container-fluid enfasis">
			<div class="container jumbotron text-center">
				<h1 class="text-red">Bienvenido</h1>
				<div class="margin-top-low">

					<p>El <strong>Instituto Tecnológico de Acapulco</strong>, fundado en el año de 1975, asume su liderazgo como la mejor opción en la <strong>región Centro y de la Costa de Guerrero</strong> para los jóvenes que desean cursar una Carrera Superior. Actualmente nuestra matrícula consta de 4,350 estudiantes en las <strong>Carreras de Arquitectura, Ingeniería Bioquímica, Ingeniería Electromecánica, Ingeniería en Sistemas Computacionales, Ingeniería en Gestión Empresarial, Licenciatura en Administración y en Contaduría Pública.</strong></p>
				</div>
			</div>	
		</article>
		
		<article id="recent-news" class="container-fluid">

			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h3>Publicaciones</h3>
					</div>
					<div class="col-sm-6">
						
						<form role="search" class="seach-field" action="/busqueda/" method="GET">
						  <div class="input-group">
						      {# <input type="text" placeholder="¿Qué noticia esta buscando?" class="form-control"> #}
						      {{ searchform.pista.errors }}
		                        {{ searchform.pista }}
						      <span class="input-group-btn">
						        <button id="btnSearch" type="submit" class="btn btn-success" type="button">BUSCAR</button>
						      </span>
						    </div><!-- /input-group -->
						</form>
					</div>
					<div class="col-xs-12">
						<h4>{{ textoBusqueda }}</h4>
					</div>
				</div>
			</div>
		</article>

		<article id="recent-news" class="container-fluid">
			<div class="container">
				
				<div class="row">
					
					{% for publicacion in publicacionesPermanentes %}
						{% if forloop.first %}
						<div class="col-sm-12 col-md-6">
							<a class="thumbnail recent home" href="/publicaciones/{{ publicacion.id }}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% if publicacion.imagen %}
							      	{% thumbnail publicacion.imagen "750x400" crop="center" as im %}
					      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}">
					      			{% endthumbnail %}
					      		{% else %}
					      			<img src="{% static "/img/placeholder.jpg" %}" /> 
					      		{% endif %}
						{% else %}
						<div class="col-sm-6 col-md-3">
						    <a class="thumbnail recent home" href="/publicaciones/{{ publicacion.id }}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% if publicacion.imagen %}
							      	{% thumbnail publicacion.imagen "562x300" crop="center" as im %}
					      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}" />
					      			{% endthumbnail %}
					      		{% else %}
					      			<img src="{% static "/img/placeholder.jpg" %}" /> 
					      		{% endif %}
						{% endif %}
						      	<div class="caption">
						        	<h4 class="text-red">{{ publicacion.titulo }}</h4> 
						         	<div class="new-content">
						        	<p>{{ publicacion.resumen|slice:":150" }}</p>
						        </div>
						      </div>
						    </a>
						</div>
					{% endfor%}

				</div>
			</div>
		</article>

		<article class="container-fluid margin-top-med">
			<div class="container">
				<div class="row">
					
					{% for publicacion in publicaciones %}
						<div class="col-sm-6 col-md-3">
						    <a class="thumbnail" href="/publicaciones/{{ publicacion.id }}">
						      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
						      	{% if publicacion.imagen %}
							      	{% thumbnail publicacion.imagen "562x300" crop="center" as im %}
					      				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}" />
					      			{% endthumbnail %}
					      		{% else %}
					      			<img src="{% static "/img/placeholder.jpg" %}" /> 
					      		{% endif %}
						      	<div class="caption">
						        	<h4 class="text-red">{{ publicacion.titulo }}</h4> 
						         	<div class="new-content">
						        	<p>{{ publicacion.resumen|slice:":150" }}</p>
						        </div>
						      </div>
						    </a>
						</div>
					{% endfor%}

					<div class="col-sm-6 col-md-3 dispTable">
					    <a class="thumbnail eventos boxAutoHeight" href="/eventos/">
					      	<div class="caption">
					        	<h4>
								<span class="icon-calendar"></span>
								Eventos próximos
							</h4>
					         	<div>
					         		<ul>
					         			{% for evento in eventos %}
					         				<li>
					         					<strong>{{ evento.titulo }}</strong>
					         					<i>{{ evento.fechaHora }}</i>
					         				</li>
					         			{% endfor %}
					         		</ul>
					        	</div>
					      	</div>
					    </a>
					</div>

				</div>
				<p class="text-center"><a href="/publicaciones/" class="btn btn-primary" role="button">TODAS LAS PUBLICACIONES</a></p>
			</div>
		</article>
	</section>
	
{% endblock %}
