{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
					<h2 class="text-red">Ingeniería en Sistemas Computacionales</h2>
					
					<div class="text-justify margin-top-low">
						
						<h3>Objetivo</h3>
						<p>
							Formar profesionistas líderes, analíticos, críticos y creativos, con visión estratégica y amplio sentido ético, capaces de diseñar, implementar y administrar infraestructura computacional para aportar soluciones innovadoras en el beneficio de la sociedad en un contexto global, multidisciplinario y sustentable.
						</p>

						<img src="{% static "img/ita/isc.jpg" %}" class="autoWidth" alt="Ingeniería en sistemas computacionales - ITA">

						<h3>Misión</h3>
						<p>
							Formar profesionistas en el área de Ingeniería en Sistemas Computacionales con un alto sentido de responsabilidad humana para integrarse al sector productivo de la región y país. Participando como actores de cambio en un entorno global.
						</p>

						<h3>Visión</h3>
						<p>
							Ser un departamento líder en formación integral de profesionales de calidad en el área de Sistemas Computacionales, con reconocimiento institucional y prestigio social tanto en la región como en el país.
						</p>
						
						<h3>Perfil de Egreso</h3>

						<ol>
							<li>Diseñar, configurar y administrar redes computacionales aplicando las normas y estándares vigentes.</li>
							<li>Desarrollar, implementar y administrar software de sistemas o de aplicación que cumpla con los estándares de calidad con el fin de apoyar la productividad y competitividad de las organizaciones.</li>
							<li>Coordinar y participar en proyectos interdisciplinarios.</li>
							<li>Diseñar e implementar interfaces hombre-máquina y máquina-máquina para la automatización de sistemas.</li>
							<li>Identificar y comprender las tecnologías de hardware para proponer, desarrollar y mantener aplicaciones eficientes.</li>
							<li>Diseñar, desarrollar y administrar bases de datos conforme a requerimientos definidos, normas organizacionales de manejo y seguridad de la información, utilizando tecnologías emergentes.</li>
							<li>Integrar soluciones computacionales con diferentes tecnologías, plataformas o dispositivos.</li>
							<li>Desarrollar una visión empresarial para detectar áreas de oportunidad que le permitan emprender y desarrollar proyectos aplicando las tecnologías de la información y comunicación. </li>
							<li>Desempeñar sus actividades profesionales considerando los aspectos legales, éticos, sociales y de desarrollo sustentable.</li>
							<li>Poseer habilidades metodológicas de investigación que fortalezcan el desarrollo cultural, científico y tecnológico en el ámbito de sistemas computacionales y disciplinas afines.</li>
							<li>Seleccionar y aplicar herramientas matemáticas para el modelado, diseño y desarrollo de tecnología computacional.</li>
						</ol>

						<h3>Quehacer profesional</h3> 
						<p> El desarrollo tecnológico de las comunicaciones, la computación y el manejo de la información han revolucionado las ingenierías.
							Las necesidades actuales de desarrollo y la globalización de las economías hacen necesario que nuestro país cuente con profesionales con preparación académica de calidad en los campos de la teleinformática y la computación, así como en el diseño, creación y mantenimiento de modernos e innovadores productos.
						</p>
						<p>
							En el área de sistemas computacionales los campos y aplicaciones de las nuevas tecnologías son múltiples y variados.
						</p>
						<p>
							La transformación de los sistemas computacionales en el ámbito mundial ha sido muy rápida; la combinación de software y hardware con tecnologías de comunicación, de interfaces con el medio ambiente y otras, han permitido el desarrollo de poderosos sistemas.
						</p>
						<p>
							Se espera, a escala mundial, una migración masiva de las telecomunicaciones tradicionales a las inalámbricas, que abarcará las redes de telefonía celular, de computadoras personales, la satelital y el software (celular).
						</p>

						<h3>Aptitudes</h3> 
						<ul>
							<li>Habilidad para las matemáticas</li>
							<li>Habilidad para captar relaciones especiales y visiones de conjunto</li>
							<li>Capacidad de organización</li>
							<li>Inventiva</li>
							<li>Razonamiento abstracto</li>
							<li>Sociabilidad</li>
						</ul>
						<h3>Campo de trabajo</h3> 
						<p>
							El egresado contará con un vasto campo de acción. Puede prestar sus servicios profesionales en:
						</p>
						
						<ul>
							<li>Empresas especializadas en el desarrollo de soluciones en hardware y en software de impacto tecnológico.</li>
							<li>Empresas especializadas en instalaciones de redes de corto, mediano y largo alcance (peer-to-peer, LAN, MAN, WAN, minicomputadoras, estaciones de trabajo, macrocomputadoras).</li>
							<li>Empresas privadas y públicas dedicadas a capacitación en software de propósito general y especializado.</li>
							<li>Centros de investigación científica de cualquier rama de la ciencia, participando como parte de equipos multidisciplinarios o como personal de soporte tecnológico.</li>
							<li>Profesor especializado en áreas computacionales en carreras universitarias y tecnológicas propias de las ciencias computacionales.</li>
						</ul>

						<h3>Servicios</h3> 
						<p>
							Para la formación integral de los estudiantes, el Instituto Tecnológico de Acapulco ofrece los siguientes programas y servicios:
						</p>

						<ul>
							<li>Programas de intercambio</li>
							<li>Programas para el aprendizaje del idioma Inglés</li>
							<li>Tutorías académicas</li>
							<li>Actividades Extraclase</li>
							<li>Becas</li>
							<li>Asesorías</li>
							<li>Orientación vocacional</li>
							<li>Servicio médico</li>
							<li>Centro de información</li>
							<li>Áreas deportivas</li>
							<li>Internet</li>
							<li>Talleres y laboratorios</li>
							<li>Cafetería</li>
						</ul>

						<h3>Servicio social</h3> 
						<p>
							Es una actividad eminentemente formativa y de servicio, es decir, por un lado afirma y amplía la información académica del estudiante y además permite fomentar en él una conciencia de solidaridad con la sociedad. 
						</p>

						<p>
							El Servicio Social es una estrategia educativa en su más amplio sentido, es una práctica integral comprometida con la sociedad que permite consolidar la formación y es también un factor estratégico en la tarea de impulsar el desarrollo municipal, estatal, regional y  nacional; así como para mejorar los mecanismos que conducen a disminuir las desigualdades sociales propiciando mayores oportunidades para un desarrollo individual y comunitario.
						</p>

						<h3>Residencias profesionales</h3>
						<p>
							Es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.
						</p> 
						
						<h3>Especialidades</h3> 
						<ul>
							<li><a class="text-green link" target="_blank" href="#">Tecnologías inteligentes para redes de datos (clave: ISIE-RDA-2013.02).</a></li>
							<li><a class="text-green link" target="_blank" href="#">Tecnologías de la información (clave: ISIF-TIF-2013-01).</a></li>

						</ul>

						<h3>Plan de estudios</h3> 

						<h4>Primer semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.1.pdf" %}">1.1  Cálculo Diferencial <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.2.pdf" %}">1.2  Fundamentos de Programación <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.3.pdf" %}">1.3  Taller de Ética <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.4.pdf" %}">1.4  Matemáticas Discretas <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.5.pdf" %}">1.5  Taller de Administración <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.6.pdf" %}">1.6  Fundamentos de Investigación <span class="icon-download"></span></a></li>
						</ol>
						<h4>Segundo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.1.pdf" %}">2.1 Cálculo Integral <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.2.pdf" %}">2.2 Programación Orientada a Objetos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.3.pdf" %}">2.3 Contabilidad Financiera <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.4.pdf" %}">2.4 Química <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.5.pdf" %}">2.5 Álgebra Lineal <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.6.pdf" %}">2.6 Probabilidad y Estadística <span class="icon-download"></span></a></li>
						</ol>
						<h4>Tercer semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.1.pdf" %}">3.1 Cálculo Vectorial <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.2.pdf" %}">3.2 Estructuras de Datos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.3.pdf" %}">3.3 Cultura Empresarial <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.4.pdf" %}">3.4 Investigación de Operaciones <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.5.pdf" %}">3.5 Sistemas Operativos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.6.pdf" %}">3.6 Física General <span class="icon-download"></span></a></li>
							
						</ol>
						<h4>Cuarto semestre</h4>
						<ol class="decimal-list">

							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.1.pdf" %}">4.1 Ecuaciones Diferenciales <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.2.pdf" %}">4.2 Métodos Numéricos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.3.pdf" %}">4.3 Tópicos Avanzado de Programación <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.4.pdf" %}">4.4 Fundamentos de Base de Datos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.5.pdf" %}">4.5 Taller de Sistemas Operativos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.6.pdf" %}">4.6 Principios Eléctricos y Aplicaciones Electrónicas <span class="icon-download"></span></a></li>
						</ol>
						<h4>Quinto semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.1.pdf" %}">5.1 Desarrollo Sustentable <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.2.pdf" %}">5.2 Telecomunicaciones <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.3.pdf" %}">5.3 Taller de Bases de Datos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.4.pdf" %}">5.4 Simulación <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.5.pdf" %}">5.5 Fundamentos de Investigación de software <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.6.pdf" %}">5.6 Arquitectura de Computadoras <span class="icon-download"></span></a></li>
						</ol>
						<h4>Sexto semestre</h4>
						<ol class="decimal-list">



							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.1.pdf" %}">6.1 Lenguajes y Autómatas I <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.2.pdf" %}">6.2 Redes de Computadoras <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.3.pdf" %}">6.3 Administración de Bases de Datos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.4.pdf" %}">6.4 Graficación <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.5.pdf" %}">6.5 Ingeniería de Software <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.6.pdf" %}">6.6 Lenguajes de Interfaz <span class="icon-download"></span></a></li>
						</ol>
						<h4>Séptimo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.1.pdf" %}">7.1 Lenguajes y Autómatas II <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.2.pdf" %}">7.2 Conmutación y Enrutamiento de Redes <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.3.pdf" %}">7.3 Taller de Investigación I <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.4.pdf" %}">7.4 Programación Lógica y Funcional <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.5.pdf" %}">7.5 Gestión de Proyectos de Software <span class="icon-download"></span></a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.6.pdf" %}">7.6 Sistemas Programables <span class="icon-download"></span></a></li>

						</ol>
						<h4>Octavo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.1.pdf" %}">8.1 Inteligencia Artificial I <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.2.pdf" %}">8.2 Administración de Redes <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.3.pdf" %}">8.3 Taller de Investigación II <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.4.pdf" %}">8.4 Programación Web <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.5.pdf" %}">8.5 isctectura II <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.6.pdf" %}">8.6 Modelado Virtual <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.7.pdf" %}">8.7 Bases de Datos Distribuidas  <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.8.pdf" %}">8.8 Datawarehouse <span class="icon-download"></span></a></li>

						</ol>
						<h4>Noveno semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.1.pdf" %}">9.1 Inteligencia Artificial II <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.2.pdf" %}">9.2 Tecnologías de Dispositivos Móviles <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.3.pdf" %}">9.3 Seguridad en Tic’s <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.4.pdf" %}">9.4 Cómputo Distribuido <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.5.pdf" %}">9.5 Minería de Datos <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.6.pdf" %}">9.6 Servicio social <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.7.pdf" %}">9.7 Residencias profesionales <span class="icon-download"></span></a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.8.pdf" %}">9.8 Otros créditos <span class="icon-download"></span></a></li>
						</ol>

					</div>
		</div>
	</section>

{% endblock %}