{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Ingeniería en Gestión Empresarial</h2>
			<div class="text-justify margin-top-low">
				<p>
					Un Ingeniero en Gestión Empresarial es un profesionista con formación integral basada en competencias gerenciales acordes a las demandas de los sectores productivo y de servicios, capaces de tomar decisiones estratégicas mediante el trabajo en equipo y el uso de nuevas tecnologías para fomentar y generar negocios en un ambiente competitivo acorde a las tendencias mundiales de los mercados y con prioridad en el desarrollo sustentable.
				</p>
				<h3>Objetivo</h3>

				<p>
					Formar integralmente profesionales que contribuyan a la gestión de  empresas e innovación de procesos; así como al diseño, implementación y desarrollo de sistemas estratégicos de negocios, optimizando recursos en un entorno global, con ética y responsabilidad social. 
				</p>

				<img src="{% static "img/ita/gestionemp.jpg" %}" class="autoWidth" alt="Licenciatura en Administración">
				
				<h3>Campo de desarrollo profesional</h3> 
				<ul>
					<li>Gerente de Empresas públicas o privadas. </li>
					<li>Diseñar y ejecutar proyectos de inversión. </li>
					<li>Asesor independiente en áreas empresariales. </li>
					<li>Creación de Empresas, Industrias, Comerciales o de servicios.</li>
					<li>Directivo y Ejecutivo en cualquier tipo de Empresa en el Área de Administración y Gestión. </li>
				</ul>

				<h3>Perfil profesional</h3>
				<ol>
					<li>Desarrollar y aplicar habilidades directivas y la ingeniería en el diseño, creación, gestión, desarrollo, fortalecimiento e innovación de las organizaciones, con una orientación sistémica y sustentable para la toma de decisiones en forma efectiva.</li>
					<li>Diseñar e innovar estructuras administrativas y procesos, con base en las necesidades de las organizaciones para competir eficientemente en mercados globales.</li>
					<li>Diseñar, evaluar y emprender nuevos negocios y proyectos empresariales, que promuevan el desarrollo sustentable y la responsabilidad social, en un mercado competitivo.</li>
					<li>Diseñar e implementar estrategias de mercadotecnia basadas en información recopilada de fuentes primarias y secundarias del consumidor o usuario de algún producto.</li>
					<li>Gestionar sistemas integrales de calidad, ejerciendo un liderazgo efectivo y un compromiso ético, aplicando las herramientas básicas de la ingeniería.</li>
				</ol>

				<h3>Plan de estudios</h3> 
				<p>
					Retícula oficial de la carrera de Ingeniería en Gestión Empresarial para trámites académicos, incluyendo cursos de verano, relacionados con el plan de estudios 2010 (por competencias profesionales).
				</p>

				<p>
					<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/gestionemp/IGEM_RETICULA2009-201ESPECIALIDAD.pdf" %}">Retícula <span class="icon-download"></span>.</a>
				</p>

				<h3>Plan de estudios</h3> 

				<h4>Primer semestre</h4>
				<ol class="decimal-list">
					<li>Introducción a la Contabilidad</li>
					<li>Administración</li>
					<li>Calculo Diferencial e Integral</li>
					<li>Fundamentos de Derecho</li>
					<li>Desarrollo Humano</li>
					<li>Fundamentos de Investigación</li>
				</ol>
				<h4>Segundo semestre</h4>
				<ol class="decimal-list">
					<li>Contabilidad Financiera I</li>
					<li>Estadística Administrativa I</li>
					<li>Algebra Lineal</li>
					<li>Derecho Mercantil</li>
					<li>Comunicación Humana</li>
					<li>Taller de Ética</li>
				</ol>
				<h4>Tercer semestre</h4>
				<ol class="decimal-list">
					<li>Contabilidad Financiera II</li>
					<li>Estadística Administrativa II</li>
					<li>Matemáticas Financieras</li>
					<li>Derecho Laboral y Seguridad Social</li>
					<li>Dinámica Social</li>
					<li>Taller de Informática i</li>
					<li>Microeconomía</li>
				</ol>

				<h4>Cuarto semestre</h4>
				<ol class="decimal-list">
					<li>Contabilidad de Sociedades</li>
					<li>Sistema de Costos Históricos</li>
					<li>Fundamentos de Auditoría</li>
					<li>Derecho Tributario</li>
					<li>Gestión del Talento Humano</li>
					<li>Taller de Informática II</li>
					<li>Macroeconomía</li>
				</ol>

				<h4>Quinto semestre</h4>
				<ol class="decimal-list">
					<li>Contabilidad Avanzada</li>
					<li>Sistema de Costos Predeterminados</li>
					<li>Auditoria para Efectos Financieros</li>
					<li>Mercadotecnia</li>
					<li>Análisis e Interpretación de Estados </li>
					<li>Financieros</li>
					<li>Taller de Investigación I</li>
					<li>Economía Internacional</li>
				</ol>

				<h4>Sexto semestre</h4>
				<ol class="decimal-list">
					<li>Contabilidad Internacional</li>
					<li>Gestión y Toma de Decisiones</li>
					<li>Auditoria para Efectos Fiscales</li>
					<li>Impuestos para Personas Físicas</li>
					<li>Planeación Financiera</li>
					<li>Taller de Investigación II</li>
					<li>Desarrollo Sustentable</li>
				</ol>

				<h4>Séptimo semestre</h4>
				<ol class="decimal-list">
					<li>Seminario de Contaduría</li>
					<li>Administración Estratégica</li>
					<li>Administración de la Producción y de las Operaciones</li>
					<li>Impuestos para Personas Morales</li>
					<li>Alternativas de Inversión y</li>
					<li>Financiamiento.</li>
					<li>Elaboración y Evaluación de Proyectos de Inversión</li>
				</ol>

				<h4>Octavo semestre</h4>
				<ol class="decimal-list">
					<li>Otros Impuestos y Contribuciones</li>
					<li>Asignaturas de especialidad (5)</li>
				</ol>

				<h4>Noveno semestre</h4>
				<ol class="decimal-list">
					<li>Residencias Profesionales</li>
					<li>Servicio Social</li>
					<li>Actividades Complementarias</li>
					<li>Asignatura de especialidad (1)</li>
				</ol>

				<p>
					Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.

				</p>
			</div>
		</div>
	</section>

{% endblock %}