{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Ingeniería Electromecánica</h2>
			<div class="text-justify margin-top-low">
			
				<h3>Objetivo</h3>

				<p>
					Formar profesionistas de excelencia en Ingeniería Electromecánica, con actitud emprendedora, con liderazgo y capacidad de analizar, diagnosticar, diseñar, seleccionar, instalar, administrar, mantener e innovar sistemas electromecánicos, en forma eficiente, segura y económica. Considerando las normas y estándares nacionales e internacionales para fomentar el desarrollo sustentable con plena conciencia ética, humanista y social.
				</p>

				<img src="{% static "img/ita/electromecanica.jpg" %}" class="autoWidth" alt="Licenciatura en Administración">
				
				<h3>Quehacer profesional</h3> 
				<p>
					La carrera responde a las necesidades del sector industrial, en el área de los equipos electromecánicos. El campo de trabajo ha tenido creciente demanda, principalmente en micros, pequeñas y medianas industrias, de diversas ramas de la ingeniería.
				</p>
				<p>
					El ámbito de trabajo comprende la instalación y aplicación de normas de seguridad e higiene; diseño, instalación y operación de sistemas electromecánicos en plantas generadoras de energía y en la industria de la construcción, entre otras; en sistemas de conservación de alimentos; redes y máquinas hidráulicas; selección de generadores de vapor, diseño e instalación de circuitos hidráulicos y neumáticos para máquinas de transmisión de potencia, así como en la automatización y control de los sistemas antes mencionados y mantenimiento industrial.
				</p>

				<h3>Perfil de egreso</h3>
				<ol>
					<li>Formular, gestionar y evaluar proyectos de ingeniería relacionados con sistemas y dispositivos en el área electromecánica, proponiendo soluciones con tecnologías de vanguardia, en el marco del desarrollo sustentable.</li>
					<li>Diseñar e implementar sistemas y dispositivos electromecánicos, utilizando estrategias para el uso eficiente de la energía en los sectores productivo y de servicios apegado a normas y acuerdos nacionales e internacionales.</li>
					<li>Diseñar e implementar estrategias y programas para el control y/o automatización de los procesos productivos y los dispositivos en los sistemas electromecánicos.</li>
					<li>Proyectar, gestionar, implementar y controlar actividades de instalación y operación de los sistemas electromecánicos.</li>
					<li>Formular, administrar y supervisar programas de mantenimiento  para la continuidad y optimización de procesos productivos, considerando el cuidado del medio ambiente.</li>
					<li>Colaborar en proyectos de investigación para el desarrollo tecnológico, en el área de electromecánica.</li>
					<li>Ejercer actitudes de liderazgo y de trabajo en grupo para la toma de decisiones a partir de un sentido ético profesional.</li>
					<li>Desarrollar la actitud emprendedora mediante la creación e incubación de empresas, innovando en productos y servicios del sector electromecánico.</li>
					<li>Aplicar herramientas computacionales de acuerdo a las tecnologías de vanguardia, para el diseño, simulación y operación de sistemas electromecánicos acordes a la demanda del sector industrial.</li>
					<li>Interpretar, comprender y comunicar ideas, textos y documentos de distinta índole en un segundo idioma.</li>
				</ol>

				<h3>Plan de estudios</h3> 
				<p>
					Retículas oficiales de la carrera de Ingeniería Electromecánica para trámites académicos, incluyendo cursos de verano, relacionados con los planes de estudios 2005 y 2010 (por competencias profesionales).
				</p>

				<p>
					<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/electromecanica/electromecanica-reticula-2005.pdf" %}">Retícula de 2005 <span class="icon-download"></span>.</a>
				</p>
				<p>
					<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/electromecanica/electromecanica-reticula-2010.pdf" %}">Retícula de 2010 <span class="icon-download"></span>.</a>
				</p>

				<p>
					Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características de propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.

				</p>
			</div>
		</div>
	</section>

{% endblock %}