{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
					<h2 class="text-red">Ingeniería Bioquímica</h2>
					<h4>IBQA -2010-207 (COMPETENCIAS PROFESIONALES)</h4>

					<blockquote>
					  “Formando Ingenieros Bioquímicos en Alimentos: líderes guerrerenses con compromiso social para el país”
					</blockquote>
					<div class="text-justify margin-top-low">
					
						<h3>Historia</h3>

						<p>
							El 8 de octubre del 1975, siendo director el ingeniero-arquitecto Raúl Roberto Aguilar Rezza el Instituto Tecnológico Regional de Acapulco (ITRA) abre sus puertas para ofrecer en el área de Químico-Biológicas el bachillerato técnico laboratorista químico (1975-1978),  a partir de 1978 se oferta el programa educativo de licenciatura en Ingeniería Bioquímica.
						</p>

						<img src="{% static "img/ita/ACADEMIA_DE_IBQ.jpg" %}" class="autoWidth" alt="Ingeniería bioquímica - ITA">
						
						<h3>El personal Docente</h3>
						<p>
							Trece integrantes conforman la Academia de Ingeniería  Bioquímica: dos con doctorado, nueve maestros en ciencias y dos Ingenieros Bioquímicos, de los cuales dos perfiles PROMEP y uno pertenece al Sistema Estatal de Investigadores.
						</p>

						<h3>Infraestructura</h3> 
						<p>
							El Departamento de Ingeniería Química y Bioquímica administra el programa de Ingeniería Bioquímica, ubicado en el edificio de los 500´s, a su interior se encuentra una sala de juntas propia del departamento, una sala de recepción y la oficina para realizar las gestiones administrativas para mantener el reconocimiento de un programa re-acreditador ante el CACEI (2013-2018).
						</p>
						<p>
							<strong>Aulas:</strong> cubren con el requisito mínimo de 1.2 m2, con una utilización del 80 al 90% de su disponibilidad de uso, las condiciones de aulas asignadas al programa de Ingeniería Bioquímica en los horarios programados, hacen que las condiciones de iluminación sean aceptables, cuentan con lámparas LED, aires mini Split y han sido adaptadas para el uso de TIC´S (tecnología de la información y la comunicación) mobiliario adecuado en éstas, reuniendo las condiciones suficientes para llevar a cabo el proceso enseñanza-aprendizaje. 
						</p>
						<p>
							Los cuatro laboratorios y un taller obedecen de forma congruente a las necesidades requeridas para atender de forma eficiente y eficaz los contenidos prácticos de las asignaturas que contemplan el programa de estudio de Ingeniería Bioquímica.
						</p>

						<h4>Laboratorio virtual de ciencias básicas</h4>
						<p>
							Se realiza las prácticas de ciencias básicas: como son la modelación de fenómenos químicos –biológicos, utilizando software generados  por la investigación del cuerpo colegiado de Ciencias Básicas e ingeniería Bioquímica
						</p>

						<h4>Laboratorio de Química</h4>
						<p>
							Se realiza prácticas básicas de inducción al estudiante al trabajo en laboratorio con las asignaturas del tronco común del programa de Ingeniería Bioquímica, contando este espacio con los equipos, reactivos y material de vidrio de laboratorio necesarios y actualizados para atender de forma eficiente al número de estudiantes  programados para el uso de las instalaciones del laboratorio.
						</p>

						<h4>Laboratorio de  Microbiología</h4>
						<p>
							Se realizan análisis microbiológicos de alimentos y aguas residuales para la determinación de la calidad e identificación de microorganismos patógenos, contando con los equipos, reactivos y material de vidrio de laboratorio necesarios y actualizados para la realización de las prácticas y la atención eficiente al número de estudiantes programados para el uso de las instalaciones del laboratorio.
						</p>

						<h4>Laboratorio de  Instrumental</h4>
						<p>
							Se realizan prácticas relacionadas con la utilización y calibración de instrumentos, preparación de patrones analíticos a través del uso de equipos de precisión y medición,  para cumplir con los objetivos prácticos de las asignaturas se cuenta con reactivos y material de vidrio de laboratorio necesarios y actualizados para la realización de las prácticas y la atención eficiente al número de estudiantes programados para el uso de las instalaciones del laboratorio.	
						</p>

						<h4>Taller de alimentos</h4>
						<p>
							Fue diseñado para atender las prácticas del módulo de especialidad del programa de Ingeniería Bioquímica, en su interior se desarrollan productos alimenticios convencionales y no convencionales con la utilización de tecnología, así como el control de calidad a través del análisis bromatológicas de éstos para sus caracterización fisicoquímica  y microbiológicos  para la determinación de la inocuidad durante su preparación y tiempo de disposición en anaquel. Para el cumplimiento de los objetivos prácticos de las asignaturas que contemplan el módulo de especialidad el taller dispone de equipo semi-industrial para el procesamiento de alimentos, así como utensilios para su manipulación, reactivos y material de vidrio de laboratorio necesario para el uso eficiente de las instalaciones.
						</p>

						<h4>Laboratorio de Investigación</h4>
						<p>
							En este laboratorio se realizan trabajos de investigación en el área de polisacáridos y síntesis de compuestos orgánicos; los cuales buscan la utilización de recursos regionales como una alternativa tecnológica. 
						</p>

						<h3>Misión</h3>
						<p>
							“Formar y desarrollar profesionales de la Ingeniería    Bioquímica que sean competentes en diferentes contextos, para incrementar sus habilidades, destrezas y potencialidades con sentido ético, crítico, creativo y emprendedor para que diseñen, operen, controlen,  simulen y optimicen  equipos y procesos que utilicen recursos naturales y sus derivados, a través de una actitud sostenible, en la producción de bienes y servicios que contribuyan a elevar el nivel de vida de la sociedad”
						</p>

						<h3>Visión</h3>
						<p>
							 “Ser una unidad de excelencia  académica en la formación de  profesionistas en el campo de la  Ingeniería Bioquímica encaminado a satisfacer las demandas tecnológicas, productivas y de servicios de la región y del País”
						</p>

						<h3>Perfil del egresado</h3>
						<p>
							Se prevé que el egresado tenga un fuerte desarrollo en sectores industriales, como procesamiento de alimentos y procesos de fermentación y farmacéuticos; asimismo se espera un potencial desarrollo en actividades emergentes tales como ingeniería genética, biotecnología general, cultivo de células y tejidos animales y la bioingeniería  desarrollando las competencias profesionales tales como:
						</p>

						<ol>
							<li>Trabajar en equipos multidisciplinarios y multiculturales con liderazgo, sentido crítico, disposición al cambio y comprometido con la calidad.</li>
							
							<li>Diseñar, seleccionar, adaptar y escalar equipos y procesos en los que se aprovechen de manera sustentable los recursos bióticos.</li>
							
							<li>Identificar, prevenir, controlar y dar solución a problemas de alta dirección dentro de la práctica de la ingeniería bioquímica.</li>
							
							<li>Identificar y aplicar tecnologías emergentes relacionadas con el campo de acción del Ingeniero Bioquímico.</li>
							
							<li>Participar en el diseño y aplicación de normas y programas de gestión y aseguramiento de la calidad, en empresas e instituciones del ámbito de la Ingeniería Bioquímica.</li>
							
							<li>Formular y evaluar proyectos de Ingeniería Bioquímica con criterios de sustentabilidad.</li>
							Realizar investigación científica y tecnológica en el campo de la Ingeniería Bioquímica y difundir sus resultados.
							
							<li>Crear, implementar y administrar con sustentabilidad, empresas de productos y servicios del ámbito de la Ingeniería Bioquímica</li>
						</ol>

						<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/RETICULA_2010_COMP_PROF.jpg" %}">
							Retícula: IBQA -2010-207 (Competencias profesionales)
						</a>

						<h3>Plan de estudios</h3> 

						<h4>Primer semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/1/IBQA-2010-207_Biologia.pdf" %}">
									1.1 Biología</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/1/IBQA-2010-207_Calculo_diferencial.pdf" %}">
									1.2 Cálculo Diferencial</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/1/IBQA-2010-207_Comportamien_o_Organizacional.pdf" %}">
									1.3 Comportamiento Organizacional</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/1/IBQA-2010-207_Dibujo_asistido_por_computadora.pdf" %}">
									1.4 Dibujo asistido por computadora</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/1/ibqa-2010-207_Fundamentos_de_investigacion.pdf.pdf" %}">
									1.5 Fundamentos de investigación</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/1/IBQA-2010-207_Química.pdf" %}">
									1.6 Química</li>
								</a>
						</ol>

						<h4>Segundo semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/2/IBQA-2010-207_Algebra_Lineal.pdf" %}">
									2.1 Algebra lineal</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/2/IBQA-2010-207_Calculo_Integral.pdf" %}">
									2.2 Cálculo integral</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/2/IBQA-2010-207_Fisica.pdf" %}">
									2.3 Física</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/2/IBQA-2010-207_Quimica_Analitica.pdf" %}">
									2.4 Química analítica</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/2/IBQA-2010-207_Quimica_Organica_I.pdf" %}">
									2.5 Química orgánica</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/2/IBQA-2010-207_Taller_de_Ética.pdf" %}">
									2.6 Taller de ética</li>
								</a>
						</ol>

						<h4>Tercer semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/3/IBQA-2010-207_Administracion_y_Legislacion_Empresas.pdf" %}">
									3.1 Administración y Legislación</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/3/IBQA-2010-207_Calculo_Vectorial.pdf" %}">
									3.2 Cálculo Vectorial</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/3/IBQA-2010-207_Desarrollo_sustentable.pdf" %}">
									3.3 Desarrollo sustentable</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/3/IBQA-2010-207_Electromagnetismo.pdf" %}">
									3.4 Electromagnetismo</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/3/IBQA-2010-207_Quimica_Organica_II.pdf" %}">
									3.5 Química Orgánica II</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/3/IBQA-2010-207_Termodinámica.pdf" %}">
									3.6 Termodinámica</li>
								</a>
						</ol>

						<h4>Cuarto semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/4/IBQA-2010-207_Aseguramiento_de_la_Calidad.pdf" %}">
									4.1 Aseguramiento de la calidad</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/4/IBQA-2010-207_Balance_de_Materia y_Energía.pdf" %}">
									4.2 Balance de Materia y Energía</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/4/IBQA-2010-207_Bioquímica.pdf" %}">
									4.3 Bioquímica</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/4/IBQA-2010-207_Ecuaciones_Diferenciales.pdf" %}">
									4.4 Ecuaciones diferenciales</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/4/IBQA-2010-207_Fisicoquimica.pdf" %}">
									4.5 Fisicoquímica</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/4/IBQA-2010-207_Programacion_y_Metodos_Numericos.pdf" %}">
									4.6 Programación y Métodos Numéricos</li>
								</a>
						</ol>

						<h4>Quinto semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/5/IBQA-2010-207_Analisis_Instrumental.pdf" %}">
									5.1 Análisis instrumental</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/5/IBQA-2010-207 Bioquimica_del_Nitrogeno_y_Regulacion_Genetica.pdf" %}">
									5.2 Bioquímica del Nitrógeno y regulación genética</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/5/IBQA-2010-207_Estadistica.pdf" %}">
									5.3 Estadística</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/5/IBQA-2010-207_Fenomenos_de_Transporte_I.pdf" %}">
									5.4 Fenómenos de transporte I</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/5/IBQA-2010-207_Ingenieria_Economica.pdf" %}">
									5.5 Ingeniería económica</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/5/IBQA-2010-207_Instrumentación_y_control.pdf" %}">
									5.6 Instrumentación y control</li>
								</a>
						</ol>

						<h4>Sexto semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/6/IBQA-2010-207_Cinetica_Quimica_Biologica.pdf" %}">
									6.1 Cinética Química Bioilógica</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/6/IBQA-2010-207_Fenomenos_de_Transporte_II.pdf" %}">
									6.2 Fenómenos de Transporte II</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/6/IBQA-2010-207_Operaciones_Unitarias_I.pdf" %}">
									6.3 Operaciones unitarias I</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/6/IBQA-2010-207_Química_de_los_Alimentos.pdf" %}">
									6.4 Química de los alimentos</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/6/IBQA-2010-207_Seguridad e_Higiene.pdf" %}">
									6.5 Seguridad e higiene</li>
								</a>
						</ol>

						<h4>Séptimo semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/7/IBQA-2010-207_Ciencia_y_Tec_de_Cereales_y_Frutas.pdf" %}">
									7.1 Ciencia y tecnología de cereales y frutas</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/7/IBQA-2010-207_Ingenieria_de_Biorreactores.pdf" %}">
									7.2 Ingeniería de biorreactores</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/7/IBQA-2010-207_Microbiología_de_los_Alimentos.pdf" %}">
									7.3 Microbiología de los alimentos</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/7/IBQA-2010-207_Operaciones_Unitarias_II.pdf" %}">
									7.4 Operaciones unitarias II</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/7/IBQA-2010-207_Operaciones_Unitarias_III.pdf" %}">
									7.5 Operaciones unitarias III</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/7/IBQA-2010-207_Taller_de_Investigación_I.pdf" %}">
									7.6 Taller de investigación</li>
								</a>
						</ol>

						<h4>Octavo semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/8/IBQA-2010-207_Ciencia_y_Tec_de_Carnes_y_Lácteos.pdf" %}">
									8.1 Ciencia y tecnología </li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/8/IBQA-2010-207_Ingenieria_de_Procesos.pdf" %}">
									8.2 Ingeniería de procesos</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/8/IBQA-2010-207_Ingenieria_de_Proyectos.pdf" %}">
									8.3 Ingeniería de proyectos</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/8/IBQA-2010-207_Ingenieria_y_Gestion_Ambiental.pdf" %}">
									8.4 Ingeniería y gestión ambiental</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/8/IBQA-2010-207_Nutricion_Humana.pdf" %}">
									8.5 Nutrición humana</li>
								</a>
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/8/IBQA-2010-207_Taller_de_Investigación_II.pdf" %}">
									8.6 Taller de investigación II</li>
								</a>
						</ol>

						<h4>Noveno semestre</h4>
						<ol class="decimal-list">
							<li>
								<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/9/IBQA-2010-207_Formulacion_y_Evaluacion_de_Proyectos.pdf" %}">
									9.1 Formación y Evaluación de proyectos</li>
								</a>
						</ol>

						<img src="{% static "img/ita/TRABAJO_DEL_BIOQUÍMICO.jpg" %}" class="autoWidth" alt="Ingeniería bioquímica - ITA">

					</div>
		</div>
	</section>

{% endblock %}