{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
					<h2 class="text-red">Ingeniería Bioquímica</h2>
					<div class="text-justify margin-top-low">
					
						<h3>Objetivo</h3>

						<p>
							Formar profesionistas íntegros de la Ingeniería Bioquímica competentes para trabajar en equipos interdisciplinarios, que con sentido ético, crítico, creativo, emprendedor y actitud de liderazgo diseñe, controle, simule y optimice equipos, procesos y tecnologías sustentables que utilicen recursos bióticos y sus derivados, para la producción de bienes y servicios que contribuyen a elevar el nivel de vida de la población.
						</p>

						<img src="{% static "img/ita/bioquimica.jpg" %}" class="autoWidth" alt="Ingeniería bioquímica - ITA">
						
						<h3>Perfil de egreso</h3>
						<ol>
							<li>Trabajar en equipos multi disciplinarios y multi culturales con liderazgo, sentido crítico, disposición al cambio y comprometido con la calidad.</li>
							<li>Diseñar, seleccionar, adaptar y escalar equipos y procesos en los que se aprovechen de manera sustentable los recursos bióticos.</li>
							<li>Identificar, prevenir, controlar y dar solución a problemas de alta dirección dentro de la práctica de la Ingeniería Bioquímica.</li>
							<li> Identificar y aplicar tecnologías emergentes relacionadas con el campo de acción del Ingeniero Bioquímico.</li>
							<li>Participar en el diseño y aplicación de normas y programas de gestión y aseguramiento de la calidad, en empresas e instituciones del ámbito de la Ingeniería Bioquímica.</li>
							<li>Formular y evaluar proyectos de Ingeniería Bioquímica con criterios de sustentabilidad.</li>
							<li>Realizar investigación científica y tecnológica en el campo de la Ingeniería Bioquímica y difundir sus resultados.</li>
						</ol>

						<h3>Quehacer profesional</h3> 
						<p>
							Se prevé que la Ingeniería Bioquímica tenga un fuerte desarrollo en sectores industriales, como procesamiento de alimentos y procesos de fermentación y farmacéuticos; asimismo se espera un potencial desarrollo en actividades emergentes tales como ingeniería genética, biotecnología general, cultivo de células y tejidos animales y la bioingeniería.
						</p>
						<ol type="a">
							<li>Formulación y evaluación técnica, económica y social, estratégica de proyectos de la industria bioquímica.</li>
							<li>Diseños de normas y programas de control de calidad en la industria bioquímica.</li>
							<li>Prevención, control y solución de problemas originados en las áreas de salud, alimentación y ambiente.</li>
							<li>El campo académico.</li>
						</ol>

						<p>
							La apertura económica del país trae consigo mayores niveles de competencia que demanda la generación, innovación, adquisición, difusión y adaptación de nuevas tecnologías, por lo que se requieren recursos humanos capacitados que sepan aprovechar plenamente el potencial técnico y económico de las nuevas tecnologías.
						</p>

						<p>
							En México el número de profesionales en este campo es significativamente reducido, por lo que las perspectivas son favorables para:
						</p>
						<ol type="a">
							<li>Desarrollar una actividad crítica en el desempeño de su práctica profesional.</li>
							<li>Desarrollar una actividad emprendedora que le permita participar en la creación de empresas.</li>
							<li>Propiciar asesoría técnica a organismos y empresas dedicadas a la transformación y conservación de recursos bióticos.</li>
							<li>Participar en el desarrollo de trabajos interdisciplinarios en la planeación, organización y administración de unidades procesadores de recursos bióticos.</li>
						</ol>

						<h3>Plan de estudios</h3> 
						<p>
							Retículas oficiales de la carrera de Ingeniería Bioquímica para trámites académicos, incluyendo cursos de verano, relacionados con los planes de estudio 2005 y 2010 (por competencias profesionales).
						</p>

						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/bioquimica-reticula-2010.pdf" %}">Retícula 2005 <span class="icon-download"></span>.</a>
						</p>
						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/bioquimica-reticula-2010.pdf" %}">Retícula 2010 <span class="icon-download"></span>.</a>
						</p>

						<p>
							Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.
						</p>
					</div>
		</div>
	</section>

{% endblock %}