{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Licenciatura en Contabilidad</h2>
			<div class="text-justify margin-top-low">
				<h3>Objetivo</h3>

				<p>
					Formar profesionales de la contaduría, capaces de diseñar, establecer, aplicar, controlar, analizar y evaluar sistemas de información contable, administrativa, financiera y fiscal para la toma de decisiones de las entidades económicas, que a su vez participen en la dinámica socioeconómica, a través de la investigación.
				</p>

				<!-- <img src="img/ita/gestionemp.jpg" class="autoWidth" alt="Licenciatura en Administración"> -->
				
				<h3>Quehacer profesional</h3>
				<p>
					El Licenciado en Contaduría es el profesional que se encuentra directamente relacionado con la atención de necesidades de información contable, financiera y fiscal que todas las organizaciones públicas, privadas, agropecuarias, industriales y de servicios, requieren para desarrollarse y, de este manera, cumplir su función económica y social.
				</p> 
				<p>
					La apertura comercial y la intensificación de las relaciones de intercambio entre México, Canadá y Estados Unidos, plantean a las empresas, en su propósito de internacionalización o en el caso de establecer alianzas empresariales, la necesidad de adaptar sus sistemas administrativos y contables para hacerlos compatibles con las prácticas que llevan a cabo los socios comerciales. De igual forma el capítulo de los impuestos o de la administración fiscal deberá adecuarse para facilitar las transacciones comerciales entre los tres países. Razones por las cuales, los profesionales de la contaduría deben estar convenientemente preparados y actualizados en estos aspectos.
				</p>
				
				<h3>Campo de trabajo</h3>
				<p>
					El licenciado en contaduría puede incorporarse a todo tipo de organizaciones; públicas o privadas, agropecuarias, industriales o de servicios; ya sea pequeñas, medianas o grandes. Asimismo estará capacitado para desempeñarse de manera independiente, prestando sus servicios profesionales.
				</p>

				<h3>Perfil profesional</h3>
				<ol>
					<li>Diseñar, implantar, controlar, evaluar, asesorar e innovar  sistemas de información financiera, administrativa, fiscal y de auditoría en entidades económicas. </li>
					<li>Auditar sistemas financieros, fiscales y administrativos de las entidades económicas con apego a las Normas y Procedimientos de Auditoria.</li>
					<li>Aplicar el marco legal pertinente a las características y necesidades de la entidad económica dentro del campo profesional.</li>
					<li>Elaborar y evaluar proyectos de inversión de acuerdo a las características y necesidades del entorno y propiciar la      generación de empresas. </li>
				</ol>

				<p>
					El Licenciado en Contaduría es el profesional que se encuentra   directamente relacionado con la atención de necesidades de información contable, financiera y fiscal que todas las  organizaciones públicas, privadas, agropecuarias, industriales y de servicios, requieren para  desarrollarse y, de   este manera, cumplir su función económica y social.
				</p>


				<h3>Plan de estudios</h3> 
				<p>
					Retícula oficial de la carrera de Contador Público para trámites académicos, incluyendo cursos de verano, relacionados con el plan de estudios 2010 (por competencias profesionales).
				</p>

				<p>
					<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/contabilidad/copu_RETICULA2010.pdf" %}">Retícula <span class="icon-download"></span>.</a>
				</p>

				<p>
					Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de un proyecto o la aplicación de un modelo, en cualquier de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.
				</p>

				<h3>Plan de estudios</h3> 
				<h4>Primer semestre</h4>
				<ol class="decimal-list">
					<li>1.1  Fundamentos de Investigación</li>
					<li>1.2  Fundamentos de Química</li>
					<li>1.3  Desarrollo  Humano</li>
					<li>1.4  Fundamentos de Gestión Empresarial</li>
					<li>1.5  Fundamentos de Física</li>
					<li>1.6  Cálculo Diferencial</li>
				</ol>
				<h4>Segundo semestre</h4>
				<ol class="decimal-list">
					<li>2.1 Software de Aplicación Ejecutivo</li>
					<li>2.2 Legislación  Laboral</li>
					<li>2.3 Contabilidad Orientada a los negocios GED</li>
					<li>2.4 Dinámica Social</li>
					<li>2.5 Taller de Ética</li>
					<li>2.6 Cálculo Integral</li>
				</ol>
				<h4>Tercer semestre</h4>
				<ol class="decimal-list">
					<li>3.1 Marco Legal de las Organizaciones</li>
					<li>3.2 Probabilidad y Estadística Descriptiva</li>
					<li>3.3 Costos Empresariales</li>
					<li>3.4 Habilidades Directivas I</li>
					<li>3.5 Entorno Macroeconómico</li>
					<li>3.6 Investigación de Operaciones</li>
					
				</ol>
				<h4>Cuarto semestre</h4>
				<ol class="decimal-list">

					<li>4.1 Ingeniería Económica</li>
					<li>4.2 Estadística Interferencial I</li>
					<li>4.3 TInstrumentos de Presupuestación Empresarial</li>
					<li>4.4 Habilidades Directivas II</li>
					<li>4.5 Taller de Sistemas Operativos</li>
					<li>4.6 Principios Eléctricos y Aplicaciones Electrónicas</li>
				</ol>
				<h4>Quinto semestre</h4>
				<ol class="decimal-list">
					<li>5.1 Desarrollo Sustentable</li>
					<li>5.2 Estadística Interferencial II</li>
					<li>5.3 Ingeniería de Procesos</li>
					<li>5.4 Gestión del Capital Humano</li>
					<li>5.5 Taller de Investigación I</li>
					<li>5.6 Mercadotecnia</li>
				</ol>
				<h4>Sexto semestre</h4>
				<ol class="decimal-list">
					<li>6.1 Administración de la Salud y Seguridad Ocupacional</li>
					<li>6.2 El Emprendedor y la Innovación</li>
					<li>6.3 Gestión de la Producción I</li>
					<li>6.4 Diseño Organizacional</li>
					<li>6.5 Taller de   Investigación II</li>
					<li>6.6 Sistema de la Información de la Mercadotecnia</li>
				</ol>
				<h4>Séptimo semestre</h4>
				<ol class="decimal-list">
					<li>7.1 Calidad Aplicada a la Gestión Empresarial</li>
					<li>7.2 Plan de Negocios</li>
					<li>7.3 Gestión de la Producción II</li>
					<li>7.4 Gestión Estratégica</li>
					<li>7.5 Desarrollo Sustentable</li>
					<li>7.6 Mercadotecnia Electrónica</li>

				</ol>
				<h4>Octavo semestre</h4>
				<ol class="decimal-list">
					<li>8.1 Cadena de Suministro</li>
					<li>8.2 Asignaturas de especialidad (5)</li>

				</ol>
				<h4>Noveno semestre</h4>
				<ol class="decimal-list">
					<li>9.1 Residencias Profesionales</li>
					<li>9.2 Servicio Social</li>
					<li>9.3 Actividades</li>
					<li>9.4 Complementarias</li>
					<li>9.5 Asignatura de especialidad (1)</li>
				</ol>
				

				<p>
					Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.

				</p>
			</div>
		</div>
	</section>

{% endblock %}