{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Licenciatura en Administración</h2>
			<div class="text-justify margin-top-low">
			
				<h3>Objetivo</h3>

				<p>
					Formar profesionistas de la administración capaces de actuar como agentes de cambio, a través del diseño, innovación y dirección en organizaciones, sensibles a las demandas sociales y oportunidades del entorno, con capacidad de intervención en ámbitos globales y con un firme propósito de observar las normas y los valores universales.
				</p>

				<img src="{% static "img/ita/administracion.jpg" %}" class="autoWidth" alt="Licenciatura en Administración">
				
				<h3>Especialidad: Empresas turísticas</h3>
				<p>
					Formar profesionales que respondan a los requerimientos de los sectores social, tecnológico y de servicios de organizaciones turísticas para impulsar el desarrollo económico del país.
				</p>

				<h3>Especialidad: Mercadotecnia</h3>
				<p>
					Proporcionar al licenciado en administración, programas específicos para el ejercício de la mercadotecnia fomentando en él un sentido emprendedor en la comercialización de productos y servicios que le permita identificar y aprovechar las oportunidades que presenta el mercado nacional e internacional.
				</p>

				<h3>Campo de trabajo</h3>			
				<p>
					El Licenciado en Administración puede incorporarse a todo tipo de organizaciones: públicas, privadas o de servicio; ya sea, pequeñas, medianas y grandes.
				</p>
				<p>
					Asimismo, estará capacitado para desempeñarse de manera independiente, prestando sus servicios profesionales.	
				</p>

				<h3>Perfil de egreso</h3>
				<ol>
					<li>Integrar los procesos gerenciales, de administración, de innovación y las estrategias de dirección para la competitividad y productividad de las organizaciones.</li>
					<li>Aplicar los conocimientos modernos de la gestión de negocios a las fases del proceso administrativo para la optimización de recursos y el manejo de los cambios organizacionales.</li>
					<li>Desarrollar las habilidades directivas y de vinculación basadas en la ética y la responsabilidad social, que le permitan integrar y coordinar equipos interdisciplinarios, para favorecer el crecimiento de la organización y su entorno global.</li>
					<li>Crear y desarrollar proyectos sustentables aplicando herramientas administrativas y métodos de investigación de vanguardia, con un enfoque estratégico, multicultural y humanista.</li>
					<li>Conducir la organización hacia la consecución de sus objetivos mediante un esfuerzo coordinado y espíritu emprendedor.</li>
					<li>Crear organizaciones que contribuyan a la transformación económica y social, identificando las oportunidades de negocios en un contexto global.</li>
					<li>Conocer y aplicar el marco legal vigente nacional e internacional de las organizaciones.</li>
					<li>Analizar e interpretar información financiera y económica para la toma de decisiones en las organizaciones.</li>
					<li>Ser un agente de cambio con la habilidad de potenciar el capital humano para la solución de los problemas y la toma de decisiones que las organizaciones afrontan.</li>
					<li>Implementar y administrar sistemas de gestión de calidad para orientarlos a la mejora continua con la finalidad de lograr la productividad de la organización, desarrollando una cultura de calidad total.</li>
					<li>Aplicar las tecnologías de la información y comunicación para optimizar el trabajo y desarrollo de la organización.</li>
					<li>Actualizar conocimientos permanentemente para responder a los cambios globales.</li>
					<li>Diseñar sistemas de organización considerando alternativas estratégicas que generen cadenas productivas en beneficio de la sociedad.</li>
					<li>Tener visión multidisciplinaria para generar propuestas y desarrollar acciones de manera inmediata ante escenarios de contingencia.</li>
					<li>Diseñar estrategias de mercadotecnia para las organizaciones mediante decisiones basadas en el análisis de la información interna y del entorno global que aseguren el éxito de la comercialización.</li>
				</ol>

				<h3>Plan de estudios</h3> 
				<p>
					Retícula oficial de la carrera de Licenciatura en Administración para trámites académicos, incluyendo cursos de verano, relacionados con el plan de estudios 2010 (por competencias profesionales).
				</p>

				<p>
					<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/administracion/administracion-reticula-2010.pdf" %}">Retícula <span class="icon-download"></span>.</a>
				</p>

				<p>
					Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.
				</p>
			</div>
		</div>
	</section>

{% endblock %}