{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent" class="container">

		<article class="row">
			<div class="col-md-3 margin-top-low">
				<h3 class="text-green">Licenciaturas e ingenierías</h3>

				<ul class="nav nav-pills nav-stacked" role="tablist">
			      <li role="presentation" class="active"><a href="#arquitectura" role="tab" data-toggle="tab">Arquitectura</a></li>
			      <li role="presentation"><a href="#sistemas" role="tab" data-toggle="tab">Ingeniería en Sistemas Computacionales</a></li>
			      <li role="presentation"><a href="#electromecanica" role="tab" data-toggle="tab">Ingeniería Electromecánica</a></li>
			      <li role="presentation"><a href="#bioquimica" role="tab" data-toggle="tab">Ingeniería Bioquímica</a></li>
			      <li role="presentation"><a href="#ges-emp" role="tab" data-toggle="tab">Ingeniería en Gestión Empresarial</a></li>
			      <li role="presentation"><a href="#administracion" role="tab" data-toggle="tab">Licenciatura en Administración</a></li>
			      <li role="presentation"><a href="#contabilidad" role="tab" data-toggle="tab">Licenciatura en Contabilidad</a></li>
			    </ul>
			</div>

			<div class="col-md-9 tab-content column-right" id="news-body">
			
				<div id="arquitectura" role="tabpanel" class="tab-pane active">
					<h2 class="text-red">Arquitectura</h2>
					<div class="text-justify margin-top-low">
					
						<h3>Objetivo</h3>

						<p>Formar en competencias profesionales líderes con excelencia académica y humanística, capaces de diseñar, gestionar y construir el hábitat humano con alto desempeño, sustentabilidad y vocación de servicio a la sociedad.
						</p>
						
						<img src="{% static "img/ita/arquitectura.jpg" %}" class="autoWidth" alt="Arquitectura - ITA">
						
						<h3>Perfil de Egreso</h3>

						<ol>
							<li>Diseñar de manera integral proyectos urbano – arquitectónicos, respetando los marcos normativos y los criterios de diseño universal, estéticos y espaciales.</li>
							<li>Diseñar el interiorismo y paisajismo para crear ambientes confortables y funcionales.</li>
							<li>Seleccionar y aplicar materiales y sistemas constructivos que respondan a una continua calidad e innovación.</li>
							<li>Gestionar desarrollos urbanos de manera estratégica y sustentable.</li>
							<li>Operar planes de desarrollo urbano con una visión de sustentabilidad y mejora de la calidad de vida.</li>
							<li>Seleccionar y diseñar estructuras, instalaciones y sistemas constructivos sustentables.</li>
							<li>Administrar el proceso constructivo de las obras urbano – arquitectónicas, con base en la legislación vigente.</li>
							<li>Asesorar a los sectores público y privado, en la valoración y conservación del patrimonio, re-arquitectura, proyectos de inversión inmobiliaria y legislación urbana.</li>
							<li>Liderar organismos y grupos inter y multidisciplinarios para la integración de proyectos urbano – arquitectónicos.</li>
							<li>Actuar de manera responsable y ética con la sociedad y su entorno.</li>
							<li>Desarrollar los valores de responsabilidad, orden y disciplina así como el entusiasmo por continuar su crecimiento personal y profesional.</li>
						</ol>

						<h3>Quehacer profesional</h3> 
						<p>El arquitecto es el profesional que asume la responsabilidad de proyectar y construir los espacios habitables que necesita la sociedad, incluyendo aspectos físicos y culturales.
						Su trabajo surge a partir de las necesidades de la sociedad, en este sentido debe promover los medios para cubrir esas expectativas sin deteriorar el contexto cultural y ecológico.
						El reto en la actividad es atender la situación cada vez más compleja que presentan los asentamientos humanos en nuestro país.
						</p>

						<h3>Campo de Trabajo</h3> 
						<p>El arquitecto es un profesional con amplias perspectivas laborales; puede desarrollarse en dos grandes sectores; administración pública, empresas paraestatales o descentralizadas, y en el sector privado, en trabajos con inversionistas, productores urbanos turísticos y en pequeñas industrias y comercios.
						</p>

						<h3>Plan de estudios</h3> 
						<p>Retículas oficiales de la carrera de Arquitectura, para trámites académicos relacionados con los planes de estudio 2004 y 2010 (Por competencias profesionales).</p>

						<p><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/arq-reticula-2004.pdf" %}">Descargar la retícula 2004,</a>. El alumno deberá apegarse al Manual Operativo para los Cursos de Verano. 
						</p>

						<p><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/arq-reticula-2010.pdf" %}">Descargar la retícula 2010</a>. El alumno deberá apegarse al Lineamiento para la Operación de Curso de Verano, versión 1.0.
						</p>

						<h3>Plan de estudios 2010:</h3> 
						<h4>Primer semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.1.pdf" %}">1.1  Fundamentos Teóricos del Diseño I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.2.pdf" %}">1.2  Fundamentos de Investigación</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.3.pdf" %}">1.3  Estética</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.4.pdf" %}">1.4  Geometría Descriptiva I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.5.pdf" %}">1.5  Análisis Crítico de la Arquitectura y el Arte I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/1.6.pdf" %}">1.6  Taller de Expresión Plástica</a></li>
						</ol>
						<h4>Segundo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.1.pdf" %}">2.1 Fundamentos Teóricos del Diseño II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.2.pdf" %}">2.2 Metodología para el Diseño</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.3.pdf" %}">2.3 Matemáticas aplicadas a la Arquitectura</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.4.pdf" %}">2.4 Geometría Descriptiva II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.5.pdf" %}">2.5 Análisis Crítico de la Arquitectura y el Arte II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.6.pdf" %}">2.6 Taller de Lenguaje Arquitectónico I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/2.7.pdf" %}">2.7 Analisis Proyectual</a></li>
						</ol>
						<h4>Tercer semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.1.pdf" %}">3.1 Taller de Diseño I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.2.pdf" %}">3.2 Propiedades y Comportamiento de los Materiales</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.3.pdf" %}">3.3 Estructuras I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.4.pdf" %}">3.4 Topografía</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.5.pdf" %}">3.5 Análisis Crítico de la Arquitectura y el Arte III</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/3.6.pdf" %}">3.6 Taller de Lenguaje Arquitectónico II</a></li>
							
						</ol>
						<h4>Cuarto semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.1.pdf" %}">4.1 Taller de Diseño II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.2.pdf" %}">4.2 Taller de Construcción I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.3.pdf" %}">4.3 Estructuras II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.4.pdf" %}">4.4 Desarrollo Sustentable</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.5.pdf" %}">4.5 Análisis Crítico de la Arquitectura y el Arte IV</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/4.6.pdf" %}">4.6 Instalaciones I</a></li>
						</ol>
						<h4>Quinto semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.1.pdf" %}">5.1 Taller de Diseño III</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.2.pdf" %}">5.2 Taller de Construcción II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.3.pdf" %}">5.3 Estructuras de Concreto</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.4.pdf" %}">5.4 Administración de la Construcción I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.5.pdf" %}">5.5 Pensamiento Arquitectónico Contemporáneo</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/5.6.pdf" %}">5.6 Instalaciones II</a></li>
						</ol>
						<h4>Sexto semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.1.pdf" %}">6.1 Taller de Diseño IV</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.2.pdf" %}">6.2 Estructuras de Acero</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.3.pdf" %}">6.3 Taller de Investigación I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.4.pdf" %}">6.4 Urbanismo I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.5.pdf" %}">6.5 Administración de la Construcción II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/6.6.pdf" %}">6.6 Taller de Ética</a></li>
						</ol>
						<h4>Séptimo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.1.pdf" %}">7.1 Taller de Diseño V</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.2.pdf" %}">7.2 Taller de Investigación II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.3.pdf" %}">7.3 Urbanismo II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/7.4.pdf" %}">7.4 Administración de Empresas Constructoras I</a></li>
						</ol>
						<h4>Octavo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/8.1.pdf" %}">8.1 Taller de Diseño VI</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/8.2.pdf" %}">8.2 Administración de Empresas Constructoras II</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/arqui/8.3.pdf" %}">8.3 Gestión Urbanística</a></li>
						</ol>
						<h3>Especialidad</h3>
						<p>
						Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.
						</p>

					</div>
				</div>
				<div id="sistemas" role="tabpanel" class="tab-pane">
					<h2 class="text-red">Ingeniería en Sistemas Computacionales</h2>
					
					<div class="text-justify margin-top-low">
						
						<h3>Objetivo</h3>
						<p>
							Formar profesionistas líderes, analíticos, críticos y creativos, con visión estratégica y amplio sentido ético, capaces de diseñar, implementar y administrar infraestructura computacional para aportar soluciones innovadoras en el beneficio de la sociedad en un contexto global, multidisciplinario y sustentable.
						</p>

						<img src="{% static "img/ita/isc.jpg" %}" class="autoWidth" alt="Ingeniería en sistemas computacionales - ITA">

						<h3>Misión</h3>
						<p>
							Formar profesionistas en el área de Ingeniería en Sistemas Computacionales con un alto sentido de responsabilidad humana para integrarse al sector productivo de la región y país. Participando como actores de cambio en un entorno global.
						</p>

						<h3>Visión</h3>
						<p>
							Ser un departamento líder en formación integral de profesionales de calidad en el área de Sistemas Computacionales, con reconocimiento institucional y prestigio social tanto en la región como en el país.
						</p>
						
						<h3>Perfil de Egreso</h3>

						<ol>
							<li>Diseñar, configurar y administrar redes computacionales aplicando las normas y estándares vigentes.</li>
							<li>Desarrollar, implementar y administrar software de sistemas o de aplicación que cumpla con los estándares de calidad con el fin de apoyar la productividad y competitividad de las organizaciones.</li>
							<li>Coordinar y participar en proyectos interdisciplinarios.</li>
							<li>Diseñar e implementar interfaces hombre-máquina y máquina-máquina para la automatización de sistemas.</li>
							<li>Identificar y comprender las tecnologías de hardware para proponer, desarrollar y mantener aplicaciones eficientes.</li>
							<li>Diseñar, desarrollar y administrar bases de datos conforme a requerimientos definidos, normas organizacionales de manejo y seguridad de la información, utilizando tecnologías emergentes.</li>
							<li>Integrar soluciones computacionales con diferentes tecnologías, plataformas o dispositivos.</li>
							<li>Desarrollar una visión empresarial para detectar áreas de oportunidad que le permitan emprender y desarrollar proyectos aplicando las tecnologías de la información y comunicación. </li>
							<li>Desempeñar sus actividades profesionales considerando los aspectos legales, éticos, sociales y de desarrollo sustentable.</li>
							<li>Poseer habilidades metodológicas de investigación que fortalezcan el desarrollo cultural, científico y tecnológico en el ámbito de sistemas computacionales y disciplinas afines.</li>
							<li>Seleccionar y aplicar herramientas matemáticas para el modelado, diseño y desarrollo de tecnología computacional.</li>
						</ol>

						<h3>Quehacer profesional</h3> 
						<p> El desarrollo tecnológico de las comunicaciones, la computación y el manejo de la información han revolucionado las ingenierías.
							Las necesidades actuales de desarrollo y la globalización de las economías hacen necesario que nuestro país cuente con profesionales con preparación académica de calidad en los campos de la teleinformática y la computación, así como en el diseño, creación y mantenimiento de modernos e innovadores productos.
						</p>
						<p>
							En el área de sistemas computacionales los campos y aplicaciones de las nuevas tecnologías son múltiples y variados.
						</p>
						<p>
							La transformación de los sistemas computacionales en el ámbito mundial ha sido muy rápida; la combinación de software y hardware con tecnologías de comunicación, de interfaces con el medio ambiente y otras, han permitido el desarrollo de poderosos sistemas.
						</p>
						<p>
							Se espera, a escala mundial, una migración masiva de las telecomunicaciones tradicionales a las inalámbricas, que abarcará las redes de telefonía celular, de computadoras personales, la satelital y el software (celular).
						</p>

						<h3>Aptitudes</h3> 
						<ul>
							<li>Habilidad para las matemáticas</li>
							<li>Habilidad para captar relaciones especiales y visiones de conjunto</li>
							<li>Capacidad de organización</li>
							<li>Inventiva</li>
							<li>Razonamiento abstracto</li>
							<li>Sociabilidad</li>
						</ul>
						<h3>Campo de trabajo</h3> 
						<p>
							El egresado contará con un vasto campo de acción. Puede prestar sus servicios profesionales en:
						</p>
						
						<ul>
							<li>Empresas especializadas en el desarrollo de soluciones en hardware y en software de impacto tecnológico.</li>
							<li>Empresas especializadas en instalaciones de redes de corto, mediano y largo alcance (peer-to-peer, LAN, MAN, WAN, minicomputadoras, estaciones de trabajo, macrocomputadoras).</li>
							<li>Empresas privadas y públicas dedicadas a capacitación en software de propósito general y especializado.</li>
							<li>Centros de investigación científica de cualquier rama de la ciencia, participando como parte de equipos multidisciplinarios o como personal de soporte tecnológico.</li>
							<li>Profesor especializado en áreas computacionales en carreras universitarias y tecnológicas propias de las ciencias computacionales.</li>
						</ul>

						<h3>Servicios</h3> 
						<p>
							Para la formación integral de los estudiantes, el Instituto Tecnológico de Acapulco ofrece los siguientes programas y servicios:
						</p>

						<ul>
							<li>Programas de intercambio</li>
							<li>Programas para el aprendizaje del idioma Inglés</li>
							<li>Tutorías académicas</li>
							<li>Actividades Extraclase</li>
							<li>Becas</li>
							<li>Asesorías</li>
							<li>Orientación vocacional</li>
							<li>Servicio médico</li>
							<li>Centro de información</li>
							<li>Áreas deportivas</li>
							<li>Internet</li>
							<li>Talleres y laboratorios</li>
							<li>Cafetería</li>
						</ul>

						<h3>Servicio social</h3> 
						<p>
							Es una actividad eminentemente formativa y de servicio, es decir, por un lado afirma y amplía la información académica del estudiante y además permite fomentar en él una conciencia de solidaridad con la sociedad. 
						</p>

						<p>
							El Servicio Social es una estrategia educativa en su más amplio sentido, es una práctica integral comprometida con la sociedad que permite consolidar la formación y es también un factor estratégico en la tarea de impulsar el desarrollo municipal, estatal, regional y  nacional; así como para mejorar los mecanismos que conducen a disminuir las desigualdades sociales propiciando mayores oportunidades para un desarrollo individual y comunitario.
						</p>

						<h3>Residencias profesionales</h3>
						<p>
							Es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.
						</p> 
						
						<h3>Especialidades</h3> 
						<ul>
							<li><a class="text-green link" target="_blank" href="#">Tecnologías inteligentes para redes de datos (clave: ISIE-RDA-2013.02).</a></li>
							<li><a class="text-green link" target="_blank" href="#">Tecnologías de la información (clave: ISIF-TIF-2013-01).</a></li>

						</ul>

						<h3>Plan de estudios</h3> 

						<h4>Primer semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.1.pdf" %}">1.1  Cálculo Diferencial</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.2.pdf" %}">1.2  Fundamentos de Programación</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.3.pdf" %}">1.3  Taller de Ética</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.4.pdf" %}">1.4  Matemáticas Discretas</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.5.pdf" %}">1.5  Taller de Administración</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/1.6.pdf" %}">1.6  Fundamentos de Investigación</a></li>
						</ol>
						<h4>Segundo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.1.pdf" %}">2.1 Cálculo Integral</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.2.pdf" %}">2.2 Programación Orientada a Objetos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.3.pdf" %}">2.3 Contabilidad Financiera</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.4.pdf" %}">2.4 Química</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.5.pdf" %}">2.5 Álgebra Lineal</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/2.6.pdf" %}">2.6 Probabilidad y Estadística</a></li>
						</ol>
						<h4>Tercer semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.1.pdf" %}">3.1 Cálculo Vectorial</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.2.pdf" %}">3.2 Estructuras de Datos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.3.pdf" %}">3.3 Cultura Empresarial</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.4.pdf" %}">3.4 Investigación de Operaciones</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.5.pdf" %}">3.5 Sistemas Operativos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/3.6.pdf" %}">3.6 Física General</a></li>
							
						</ol>
						<h4>Cuarto semestre</h4>
						<ol class="decimal-list">

							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.1.pdf" %}">4.1 Ecuaciones Diferenciales</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.2.pdf" %}">4.2 Métodos Numéricos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.3.pdf" %}">4.3 Tópicos Avanzado de Programación</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.4.pdf" %}">4.4 Fundamentos de Base de Datos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.5.pdf" %}">4.5 Taller de Sistemas Operativos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/4.6.pdf" %}">4.6 Principios Eléctricos y Aplicaciones Electrónicas</a></li>
						</ol>
						<h4>Quinto semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.1.pdf" %}">5.1 Desarrollo Sustentable</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.2.pdf" %}">5.2 Telecomunicaciones</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.3.pdf" %}">5.3 Taller de Bases de Datos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.4.pdf" %}">5.4 Simulación</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.5.pdf" %}">5.5 Fundamentos de Investigación de software</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/5.6.pdf" %}">5.6 Arquitectura de Computadoras</a></li>
						</ol>
						<h4>Sexto semestre</h4>
						<ol class="decimal-list">



							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.1.pdf" %}">6.1 Lenguajes y Autómatas I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.2.pdf" %}">6.2 Redes de Computadoras</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.3.pdf" %}">6.3 Administración de Bases de Datos</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.4.pdf" %}">6.4 Graficación</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.5.pdf" %}">6.5 Ingeniería de Software</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/6.6.pdf" %}">6.6 Lenguajes de Interfaz</a></li>
						</ol>
						<h4>Séptimo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.1.pdf" %}">7.1 Lenguajes y Autómatas II</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.2.pdf" %}">7.2 Conmutación y Enrutamiento de Redes</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.3.pdf" %}">7.3 Taller de Investigación I</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.4.pdf" %}">7.4 Programación Lógica y Funcional</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.5.pdf" %}">7.5 Gestión de Proyectos de Software</a></li>
							<li><a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/7.6.pdf" %}">7.6 Sistemas Programables</a></li>

						</ol>
						<h4>Octavo semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.1.pdf" %}">8.1 Inteligencia Artificial I</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.2.pdf" %}">8.2 Administración de Redes</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.3.pdf" %}">8.3 Taller de Investigación II</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.4.pdf" %}">8.4 Programación Web</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.5.pdf" %}">8.5 isctectura II</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.6.pdf" %}">8.6 Modelado Virtual</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.7.pdf" %}">8.7 Bases de Datos Distribuidas </a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/8.8.pdf" %}">8.8 Datawarehouse</a></li>

						</ol>
						<h4>Noveno semestre</h4>
						<ol class="decimal-list">
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.1.pdf" %}">9.1 Inteligencia Artificial II</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.2.pdf" %}">9.2 Tecnologías de Dispositivos Móviles</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.3.pdf" %}">9.3 Seguridad en Tic’s</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.4.pdf" %}">9.4 Cómputo Distribuido</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.5.pdf" %}">9.5 Minería de Datos</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.6.pdf" %}">9.6 Servicio social</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.7.pdf" %}">9.7 Residencias profesionales</a></li>
							<li><a class="text-green link" tarjet="_blank" href="{% static "docs/OfertaEducativa/licIng/isc/9.8.pdf" %}">9.8 Otros créditos</a></li>
						</ol>

					</div>
				</div>
				<div id="bioquimica" role="tabpanel" class="tab-pane">
					<h2 class="text-red">Ingeniería Bioquímica</h2>
					<div class="text-justify margin-top-low">
					
						<h3>Objetivo</h3>

						<p>
							Formar profesionistas íntegros de la Ingeniería Bioquímica competentes para trabajar en equipos interdisciplinarios, que con sentido ético, crítico, creativo, emprendedor y actitud de liderazgo diseñe, controle, simule y optimice equipos, procesos y tecnologías sustentables que utilicen recursos bióticos y sus derivados, para la producción de bienes y servicios que contribuyen a elevar el nivel de vida de la población.
						</p>

						<img src="{% static "img/ita/bioquimica.jpg" %}" class="autoWidth" alt="Ingeniería bioquímica - ITA">
						
						<h3>Perfil de egreso</h3>
						<ol>
							<li>Trabajar en equipos multi disciplinarios y multi culturales con liderazgo, sentido crítico, disposición al cambio y comprometido con la calidad.</li>
							<li>Diseñar, seleccionar, adaptar y escalar equipos y procesos en los que se aprovechen de manera sustentable los recursos bióticos.</li>
							<li>Identificar, prevenir, controlar y dar solución a problemas de alta dirección dentro de la práctica de la Ingeniería Bioquímica.</li>
							<li> Identificar y aplicar tecnologías emergentes relacionadas con el campo de acción del Ingeniero Bioquímico.</li>
							<li>Participar en el diseño y aplicación de normas y programas de gestión y aseguramiento de la calidad, en empresas e instituciones del ámbito de la Ingeniería Bioquímica.</li>
							<li>Formular y evaluar proyectos de Ingeniería Bioquímica con criterios de sustentabilidad.</li>
							<li>Realizar investigación científica y tecnológica en el campo de la Ingeniería Bioquímica y difundir sus resultados.</li>
						</ol>

						<h3>Quehacer profesional</h3> 
						<p>
							Se prevé que la Ingeniería Bioquímica tenga un fuerte desarrollo en sectores industriales, como procesamiento de alimentos y procesos de fermentación y farmacéuticos; asimismo se espera un potencial desarrollo en actividades emergentes tales como ingeniería genética, biotecnología general, cultivo de células y tejidos animales y la bioingeniería.
						</p>
						<ol type="a">
							<li>Formulación y evaluación técnica, económica y social, estratégica de proyectos de la industria bioquímica.</li>
							<li>Diseños de normas y programas de control de calidad en la industria bioquímica.</li>
							<li>Prevención, control y solución de problemas originados en las áreas de salud, alimentación y ambiente.</li>
							<li>El campo académico.</li>
						</ol>

						<p>
							La apertura económica del país trae consigo mayores niveles de competencia que demanda la generación, innovación, adquisición, difusión y adaptación de nuevas tecnologías, por lo que se requieren recursos humanos capacitados que sepan aprovechar plenamente el potencial técnico y económico de las nuevas tecnologías.
						</p>

						<p>
							En México el número de profesionales en este campo es significativamente reducido, por lo que las perspectivas son favorables para:
						</p>
						<ol type="a">
							<li>Desarrollar una actividad crítica en el desempeño de su práctica profesional.</li>
							<li>Desarrollar una actividad emprendedora que le permita participar en la creación de empresas.</li>
							<li>Propiciar asesoría técnica a organismos y empresas dedicadas a la transformación y conservación de recursos bióticos.</li>
							<li>Participar en el desarrollo de trabajos interdisciplinarios en la planeación, organización y administración de unidades procesadores de recursos bióticos.</li>
						</ol>

						<h3>Plan de estudios</h3> 
						<p>
							Retículas oficiales de la carrera de Ingeniería Bioquímica para trámites académicos, incluyendo cursos de verano, relacionados con los planes de estudio 2005 y 2010 (por competencias profesionales).
						</p>

						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/bioquimica-reticula-2010.pdf" %}">Descargar la retícula 2005.</a>
						</p>
						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/bioquimica/bioquimica-reticula-2010.pdf" %}">Descargar la retícula 2010.</a>
						</p>

						<p>
							Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.
						</p>
					</div>
				</div>
				<div id="administracion" role="tabpanel" class="tab-pane">
					<h2 class="text-red">Licenciatura en Administración</h2>
					<div class="text-justify margin-top-low">
					
						<h3>Objetivo</h3>

						<p>
							Formar profesionistas de la administración capaces de actuar como agentes de cambio, a través del diseño, innovación y dirección en organizaciones, sensibles a las demandas sociales y oportunidades del entorno, con capacidad de intervención en ámbitos globales y con un firme propósito de observar las normas y los valores universales.
						</p>

						<img src="{% static "img/ita/administracion.jpg" %}" class="autoWidth" alt="Licenciatura en Administración">
						
						<h3>Especialidad: Empresas turísticas</h3>
						<p>
							Formar profesionales que respondan a los requerimientos de los sectores social, tecnológico y de servicios de organizaciones turísticas para impulsar el desarrollo económico del país.
						</p>

						<h3>Especialidad: Mercadotecnia</h3>
						<p>
							Proporcionar al licenciado en administración, programas específicos para el ejercício de la mercadotecnia fomentando en él un sentido emprendedor en la comercialización de productos y servicios que le permita identificar y aprovechar las oportunidades que presenta el mercado nacional e internacional.
						</p>

						<h3>Campo de trabajo</h3>			
						<p>
							El Licenciado en Administración puede incorporarse a todo tipo de organizaciones: públicas, privadas o de servicio; ya sea, pequeñas, medianas y grandes.
						</p>
						<p>
							Asimismo, estará capacitado para desempeñarse de manera independiente, prestando sus servicios profesionales.	
						</p>

						<h3>Perfil de egreso</h3>
						<ol>
							<li>Integrar los procesos gerenciales, de administración, de innovación y las estrategias de dirección para la competitividad y productividad de las organizaciones.</li>
							<li>Aplicar los conocimientos modernos de la gestión de negocios a las fases del proceso administrativo para la optimización de recursos y el manejo de los cambios organizacionales.</li>
							<li>Desarrollar las habilidades directivas y de vinculación basadas en la ética y la responsabilidad social, que le permitan integrar y coordinar equipos interdisciplinarios, para favorecer el crecimiento de la organización y su entorno global.</li>
							<li>Crear y desarrollar proyectos sustentables aplicando herramientas administrativas y métodos de investigación de vanguardia, con un enfoque estratégico, multicultural y humanista.</li>
							<li>Conducir la organización hacia la consecución de sus objetivos mediante un esfuerzo coordinado y espíritu emprendedor.</li>
							<li>Crear organizaciones que contribuyan a la transformación económica y social, identificando las oportunidades de negocios en un contexto global.</li>
							<li>Conocer y aplicar el marco legal vigente nacional e internacional de las organizaciones.</li>
							<li>Analizar e interpretar información financiera y económica para la toma de decisiones en las organizaciones.</li>
							<li>Ser un agente de cambio con la habilidad de potenciar el capital humano para la solución de los problemas y la toma de decisiones que las organizaciones afrontan.</li>
							<li>Implementar y administrar sistemas de gestión de calidad para orientarlos a la mejora continua con la finalidad de lograr la productividad de la organización, desarrollando una cultura de calidad total.</li>
							<li>Aplicar las tecnologías de la información y comunicación para optimizar el trabajo y desarrollo de la organización.</li>
							<li>Actualizar conocimientos permanentemente para responder a los cambios globales.</li>
							<li>Diseñar sistemas de organización considerando alternativas estratégicas que generen cadenas productivas en beneficio de la sociedad.</li>
							<li>Tener visión multidisciplinaria para generar propuestas y desarrollar acciones de manera inmediata ante escenarios de contingencia.</li>
							<li>Diseñar estrategias de mercadotecnia para las organizaciones mediante decisiones basadas en el análisis de la información interna y del entorno global que aseguren el éxito de la comercialización.</li>
						</ol>

						<h3>Plan de estudios</h3> 
						<p>
							Retícula oficial de la carrera de Licenciatura en Administración para trámites académicos, incluyendo cursos de verano, relacionados con el plan de estudios 2010 (por competencias profesionales).
						</p>

						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/administracion/administracion-reticula-2010.pdf" %}">Descargue la retícula.</a>
						</p>

						<p>
							Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.
						</p>
					</div>
				</div>
				<div id="electromecanica" role="tabpanel" class="tab-pane">
					<h2 class="text-red">Ingeniería Electromecánica</h2>
					<div class="text-justify margin-top-low">
					
						<h3>Objetivo</h3>

						<p>
							Formar profesionistas de excelencia en Ingeniería Electromecánica, con actitud emprendedora, con liderazgo y capacidad de analizar, diagnosticar, diseñar, seleccionar, instalar, administrar, mantener e innovar sistemas electromecánicos, en forma eficiente, segura y económica. Considerando las normas y estándares nacionales e internacionales para fomentar el desarrollo sustentable con plena conciencia ética, humanista y social.
						</p>

						<img src="{% static "img/ita/electromecanica.jpg" %}" class="autoWidth" alt="Licenciatura en Administración">
						
						<h3>Quehacer profesional</h3> 
						<p>
							La carrera responde a las necesidades del sector industrial, en el área de los equipos electromecánicos. El campo de trabajo ha tenido creciente demanda, principalmente en micros, pequeñas y medianas industrias, de diversas ramas de la ingeniería.
						</p>
						<p>
							El ámbito de trabajo comprende la instalación y aplicación de normas de seguridad e higiene; diseño, instalación y operación de sistemas electromecánicos en plantas generadoras de energía y en la industria de la construcción, entre otras; en sistemas de conservación de alimentos; redes y máquinas hidráulicas; selección de generadores de vapor, diseño e instalación de circuitos hidráulicos y neumáticos para máquinas de transmisión de potencia, así como en la automatización y control de los sistemas antes mencionados y mantenimiento industrial.
						</p>

						<h3>Perfil de egreso</h3>
						<ol>
							<li>Formular, gestionar y evaluar proyectos de ingeniería relacionados con sistemas y dispositivos en el área electromecánica, proponiendo soluciones con tecnologías de vanguardia, en el marco del desarrollo sustentable.</li>
							<li>Diseñar e implementar sistemas y dispositivos electromecánicos, utilizando estrategias para el uso eficiente de la energía en los sectores productivo y de servicios apegado a normas y acuerdos nacionales e internacionales.</li>
							<li>Diseñar e implementar estrategias y programas para el control y/o automatización de los procesos productivos y los dispositivos en los sistemas electromecánicos.</li>
							<li>Proyectar, gestionar, implementar y controlar actividades de instalación y operación de los sistemas electromecánicos.</li>
							<li>Formular, administrar y supervisar programas de mantenimiento  para la continuidad y optimización de procesos productivos, considerando el cuidado del medio ambiente.</li>
							<li>Colaborar en proyectos de investigación para el desarrollo tecnológico, en el área de electromecánica.</li>
							<li>Ejercer actitudes de liderazgo y de trabajo en grupo para la toma de decisiones a partir de un sentido ético profesional.</li>
							<li>Desarrollar la actitud emprendedora mediante la creación e incubación de empresas, innovando en productos y servicios del sector electromecánico.</li>
							<li>Aplicar herramientas computacionales de acuerdo a las tecnologías de vanguardia, para el diseño, simulación y operación de sistemas electromecánicos acordes a la demanda del sector industrial.</li>
							<li>Interpretar, comprender y comunicar ideas, textos y documentos de distinta índole en un segundo idioma.</li>
						</ol>

						<h3>Plan de estudios</h3> 
						<p>
							Retículas oficiales de la carrera de Ingeniería Electromecánica para trámites académicos, incluyendo cursos de verano, relacionados con los planes de estudios 2005 y 2010 (por competencias profesionales).
						</p>

						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/electromecanica/electromecanica-reticula-2005.pdf" %}">Descargue la retícula de 2005.</a>
						</p>
						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/electromecanica/electromecanica-reticula-2010.pdf" %}">Descargue la retícula de 2010.</a>
						</p>

						<p>
							Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características de propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.

						</p>
					</div>
				</div>
				<div id="ges-emp" role="tabpanel" class="tab-pane">
					<h2 class="text-red">Ingeniería en Gestión Empresarial</h2>
					<div class="text-justify margin-top-low">
						<p>
							Un Ingeniero en Gestión Empresarial es un profesionista con formación integral basada en competencias gerenciales acordes a las demandas de los sectores productivo y de servicios, capaces de tomar decisiones estratégicas mediante el trabajo en equipo y el uso de nuevas tecnologías para fomentar y generar negocios en un ambiente competitivo acorde a las tendencias mundiales de los mercados y con prioridad en el desarrollo sustentable.
						</p>
						<h3>Objetivo</h3>

						<p>
							Formar integralmente profesionales que contribuyan a la gestión de  empresas e innovación de procesos; así como al diseño, implementación y desarrollo de sistemas estratégicos de negocios, optimizando recursos en un entorno global, con ética y responsabilidad social. 
						</p>

						<img src="{% static "img/ita/gestionemp.jpg" %}" class="autoWidth" alt="Licenciatura en Administración">
						
						<h3>Campo de desarrollo profesional</h3> 
						<ul>
							<li>Gerente de Empresas públicas o privadas. </li>
							<li>Diseñar y ejecutar proyectos de inversión. </li>
							<li>Asesor independiente en áreas empresariales. </li>
							<li>Creación de Empresas, Industrias, Comerciales o de servicios.</li>
							<li>Directivo y Ejecutivo en cualquier tipo de Empresa en el Área de Administración y Gestión. </li>
						</ul>

						<h3>Perfil profesional</h3>
						<ol>
							<li>Desarrollar y aplicar habilidades directivas y la ingeniería en el diseño, creación, gestión, desarrollo, fortalecimiento e innovación de las organizaciones, con una orientación sistémica y sustentable para la toma de decisiones en forma efectiva.</li>
							<li>Diseñar e innovar estructuras administrativas y procesos, con base en las necesidades de las organizaciones para competir eficientemente en mercados globales.</li>
							<li>Diseñar, evaluar y emprender nuevos negocios y proyectos empresariales, que promuevan el desarrollo sustentable y la responsabilidad social, en un mercado competitivo.</li>
							<li>Diseñar e implementar estrategias de mercadotecnia basadas en información recopilada de fuentes primarias y secundarias del consumidor o usuario de algún producto.</li>
							<li>Gestionar sistemas integrales de calidad, ejerciendo un liderazgo efectivo y un compromiso ético, aplicando las herramientas básicas de la ingeniería.</li>
						</ol>

						<h3>Plan de estudios</h3> 
						<p>
							Retícula oficial de la carrera de Ingeniería en Gestión Empresarial para trámites académicos, incluyendo cursos de verano, relacionados con el plan de estudios 2010 (por competencias profesionales).
						</p>

						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/gestionemp/IGEM_RETICULA2009-201ESPECIALIDAD.pdf" %}">Descargue la retícula.</a>
						</p>

						<h3>Plan de estudios</h3> 

						<h4>Primer semestre</h4>
						<ol class="decimal-list">
							<li>Introducción a la Contabilidad</li>
							<li>Administración</li>
							<li>Calculo Diferencial e Integral</li>
							<li>Fundamentos de Derecho</li>
							<li>Desarrollo Humano</li>
							<li>Fundamentos de Investigación</li>
						</ol>
						<h4>Segundo semestre</h4>
						<ol class="decimal-list">
							<li>Contabilidad Financiera I</li>
							<li>Estadística Administrativa I</li>
							<li>Algebra Lineal</li>
							<li>Derecho Mercantil</li>
							<li>Comunicación Humana</li>
							<li>Taller de Ética</li>
						</ol>
						<h4>Tercer semestre</h4>
						<ol class="decimal-list">
							<li>Contabilidad Financiera II</li>
							<li>Estadística Administrativa II</li>
							<li>Matemáticas Financieras</li>
							<li>Derecho Laboral y Seguridad Social</li>
							<li>Dinámica Social</li>
							<li>Taller de Informática i</li>
							<li>Microeconomía</li>
						</ol>

						<h4>Cuarto semestre</h4>
						<ol class="decimal-list">
							<li>Contabilidad de Sociedades</li>
							<li>Sistema de Costos Históricos</li>
							<li>Fundamentos de Auditoría</li>
							<li>Derecho Tributario</li>
							<li>Gestión del Talento Humano</li>
							<li>Taller de Informática II</li>
							<li>Macroeconomía</li>
						</ol>

						<h4>Quinto semestre</h4>
						<ol class="decimal-list">
							<li>Contabilidad Avanzada</li>
							<li>Sistema de Costos Predeterminados</li>
							<li>Auditoria para Efectos Financieros</li>
							<li>Mercadotecnia</li>
							<li>Análisis e Interpretación de Estados </li>
							<li>Financieros</li>
							<li>Taller de Investigación I</li>
							<li>Economía Internacional</li>
						</ol>

						<h4>Sexto semestre</h4>
						<ol class="decimal-list">
							<li>Contabilidad Internacional</li>
							<li>Gestión y Toma de Decisiones</li>
							<li>Auditoria para Efectos Fiscales</li>
							<li>Impuestos para Personas Físicas</li>
							<li>Planeación Financiera</li>
							<li>Taller de Investigación II</li>
							<li>Desarrollo Sustentable</li>
						</ol>

						<h4>Séptimo semestre</h4>
						<ol class="decimal-list">
							<li>Seminario de Contaduría</li>
							<li>Administración Estratégica</li>
							<li>Administración de la Producción y de las Operaciones</li>
							<li>Impuestos para Personas Morales</li>
							<li>Alternativas de Inversión y</li>
							<li>Financiamiento.</li>
							<li>Elaboración y Evaluación de Proyectos de Inversión</li>
						</ol>

						<h4>Octavo semestre</h4>
						<ol class="decimal-list">
							<li>Otros Impuestos y Contribuciones</li>
							<li>Asignaturas de especialidad (5)</li>
						</ol>

						<h4>Noveno semestre</h4>
						<ol class="decimal-list">
							<li>Residencias Profesionales</li>
							<li>Servicio Social</li>
							<li>Actividades Complementarias</li>
							<li>Asignatura de especialidad (1)</li>
						</ol>

						<p>
							Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.

						</p>
					</div>
				</div>
				<div id="contabilidad" role="tabpanel" class="tab-pane">
					<h2 class="text-red">Licenciatura en Contabilidad</h2>
					<div class="text-justify margin-top-low">
						<h3>Objetivo</h3>

						<p>
							Formar profesionales de la contaduría, capaces de diseñar, establecer, aplicar, controlar, analizar y evaluar sistemas de información contable, administrativa, financiera y fiscal para la toma de decisiones de las entidades económicas, que a su vez participen en la dinámica socioeconómica, a través de la investigación.
						</p>

						<!-- <img src="img/ita/gestionemp.jpg" class="autoWidth" alt="Licenciatura en Administración"> -->
						
						<h3>Quehacer profesional</h3>
						<p>
							El Licenciado en Contaduría es el profesional que se encuentra directamente relacionado con la atención de necesidades de información contable, financiera y fiscal que todas las organizaciones públicas, privadas, agropecuarias, industriales y de servicios, requieren para desarrollarse y, de este manera, cumplir su función económica y social.
						</p> 
						<p>
							La apertura comercial y la intensificación de las relaciones de intercambio entre México, Canadá y Estados Unidos, plantean a las empresas, en su propósito de internacionalización o en el caso de establecer alianzas empresariales, la necesidad de adaptar sus sistemas administrativos y contables para hacerlos compatibles con las prácticas que llevan a cabo los socios comerciales. De igual forma el capítulo de los impuestos o de la administración fiscal deberá adecuarse para facilitar las transacciones comerciales entre los tres países. Razones por las cuales, los profesionales de la contaduría deben estar convenientemente preparados y actualizados en estos aspectos.
						</p>
						
						<h3>Campo de trabajo</h3>
						<p>
							El licenciado en contaduría puede incorporarse a todo tipo de organizaciones; públicas o privadas, agropecuarias, industriales o de servicios; ya sea pequeñas, medianas o grandes. Asimismo estará capacitado para desempeñarse de manera independiente, prestando sus servicios profesionales.
						</p>

						<h3>Perfil profesional</h3>
						<ol>
							<li>Diseñar, implantar, controlar, evaluar, asesorar e innovar  sistemas de información financiera, administrativa, fiscal y de auditoría en entidades económicas. </li>
							<li>Auditar sistemas financieros, fiscales y administrativos de las entidades económicas con apego a las Normas y Procedimientos de Auditoria.</li>
							<li>Aplicar el marco legal pertinente a las características y necesidades de la entidad económica dentro del campo profesional.</li>
							<li>Elaborar y evaluar proyectos de inversión de acuerdo a las características y necesidades del entorno y propiciar la      generación de empresas. </li>
						</ol>

						<p>
							El Licenciado en Contaduría es el profesional que se encuentra   directamente relacionado con la atención de necesidades de información contable, financiera y fiscal que todas las  organizaciones públicas, privadas, agropecuarias, industriales y de servicios, requieren para  desarrollarse y, de   este manera, cumplir su función económica y social.
						</p>


						<h3>Plan de estudios</h3> 
						<p>
							Retícula oficial de la carrera de Contador Público para trámites académicos, incluyendo cursos de verano, relacionados con el plan de estudios 2010 (por competencias profesionales).
						</p>

						<p>
							<a class="text-green link" target="_blank" href="{% static "docs/OfertaEducativa/licIng/contabilidad/copu_RETICULA2010.pdf" %}">Descargue la retícula.</a>
						</p>

						<p>
							Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de un proyecto o la aplicación de un modelo, en cualquier de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los límites de 4 a 6 meses y 640 horas acumuladas.
						</p>

						<h3>Plan de estudios</h3> 
						<h4>Primer semestre</h4>
						<ol class="decimal-list">
							<li>1.1  Fundamentos de Investigación</li>
							<li>1.2  Fundamentos de Química</li>
							<li>1.3  Desarrollo  Humano</li>
							<li>1.4  Fundamentos de Gestión Empresarial</li>
							<li>1.5  Fundamentos de Física</li>
							<li>1.6  Cálculo Diferencial</li>
						</ol>
						<h4>Segundo semestre</h4>
						<ol class="decimal-list">
							<li>2.1 Software de Aplicación Ejecutivo</li>
							<li>2.2 Legislación  Laboral</li>
							<li>2.3 Contabilidad Orientada a los negocios GED</li>
							<li>2.4 Dinámica Social</li>
							<li>2.5 Taller de Ética</li>
							<li>2.6 Cálculo Integral</li>
						</ol>
						<h4>Tercer semestre</h4>
						<ol class="decimal-list">
							<li>3.1 Marco Legal de las Organizaciones</li>
							<li>3.2 Probabilidad y Estadística Descriptiva</li>
							<li>3.3 Costos Empresariales</li>
							<li>3.4 Habilidades Directivas I</li>
							<li>3.5 Entorno Macroeconómico</li>
							<li>3.6 Investigación de Operaciones</li>
							
						</ol>
						<h4>Cuarto semestre</h4>
						<ol class="decimal-list">

							<li>4.1 Ingeniería Económica</li>
							<li>4.2 Estadística Interferencial I</li>
							<li>4.3 TInstrumentos de Presupuestación Empresarial</li>
							<li>4.4 Habilidades Directivas II</li>
							<li>4.5 Taller de Sistemas Operativos</li>
							<li>4.6 Principios Eléctricos y Aplicaciones Electrónicas</li>
						</ol>
						<h4>Quinto semestre</h4>
						<ol class="decimal-list">
							<li>5.1 Desarrollo Sustentable</li>
							<li>5.2 Estadística Interferencial II</li>
							<li>5.3 Ingeniería de Procesos</li>
							<li>5.4 Gestión del Capital Humano</li>
							<li>5.5 Taller de Investigación I</li>
							<li>5.6 Mercadotecnia</li>
						</ol>
						<h4>Sexto semestre</h4>
						<ol class="decimal-list">
							<li>6.1 Administración de la Salud y Seguridad Ocupacional</li>
							<li>6.2 El Emprendedor y la Innovación</li>
							<li>6.3 Gestión de la Producción I</li>
							<li>6.4 Diseño Organizacional</li>
							<li>6.5 Taller de   Investigación II</li>
							<li>6.6 Sistema de la Información de la Mercadotecnia</li>
						</ol>
						<h4>Séptimo semestre</h4>
						<ol class="decimal-list">
							<li>7.1 Calidad Aplicada a la Gestión Empresarial</li>
							<li>7.2 Plan de Negocios</li>
							<li>7.3 Gestión de la Producción II</li>
							<li>7.4 Gestión Estratégica</li>
							<li>7.5 Desarrollo Sustentable</li>
							<li>7.6 Mercadotecnia Electrónica</li>

						</ol>
						<h4>Octavo semestre</h4>
						<ol class="decimal-list">
							<li>8.1 Cadena de Suministro</li>
							<li>8.2 Asignaturas de especialidad (5)</li>

						</ol>
						<h4>Noveno semestre</h4>
						<ol class="decimal-list">
							<li>9.1 Residencias Profesionales</li>
							<li>9.2 Servicio Social</li>
							<li>9.3 Actividades</li>
							<li>9.4 Complementarias</li>
							<li>9.5 Asignatura de especialidad (1)</li>
						</ol>
						

						<p>
							Residencia Profesional es toda actividad realizada durante el desarrollo de un proyecto o la aplicación de un modelo, en cualquiera de las áreas de colocación establecidas, que definan una problemática y propongan una solución viable, a través de la participación en un proyecto; podrá ser individual, grupal o multidisciplinaria, dependiendo de las características del propio proyecto y de los requerimientos de la empresa, organismo o dependencia donde se realice, esto permite que se desarrolle entre los limites de 4 a 6 meses y 640 horas acumuladas.

						</p>
					</div>
				</div>
			</div>
			
		</article>	
	</section>

{% endblock %}