{% load thumbnail %}

{% for publicacion in masPublicaciones %}
	<div class="col-sm-6 col-md-3">
	    <a class="thumbnail" href="/publicaciones/{{ publicacion.id }}">
	      <span class="news-date">{{ publicacion.fecha|date:"d M" }}</span>
	      	{% thumbnail publicacion.imagen "750x400" crop="center" as im %}
  				<img src="{{ im.url }}" alt="{{ publicacion.titulo }}">
  			{% endthumbnail %}
	      	<div class="caption">
	        	<h4 class="text-red">{{ publicacion.titulo }}</h4>
	         	<div class="new-content">
	        	{{ publicacion.resumen|slice:":150" }}
	        </div>
	      </div>
	    </a>
	</div>
{% endfor%}