{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<div class="text-justify margin-top-low">
				<h3 class="text-red">Visión</h3>
				<p>El Sistema Nacional de Educación Superior Tecnológica estableció su visión de -“Ser uno de los pilares fundamentales del desarrollo sostenido, sustentable y equitativo de la nación.”–, en concordancia con esta visión, el Instituto Tecnológico de Acapulco ha definido su visión hacia el año 2030 en los términos siguientes:</p>
				<p><strong>“Ser una Institución de Educación Superior Tecnológica de alto desempeño aplicada al servicio técnico-científico y cultural, que contribuya al desarrollo sostenido, sustentable y equitativo regional, estatal y nacional, encaminada hacia la modernidad”.</strong></p>
				<p>Con esta visión el Instituto Tecnológico de Acapulco busca contribuir a la transformación educativa en México, orientando sus esfuerzos hacia el desarrollo humano sustentable y la competitividad.</p>
				<hr/>
				<h3 class="text-red">Misión</h3>
				<p>
					Ofrecer servicios educativos de calidad, para contribuir al desarrollo de la Educación Superior Tecnológica moderna y competitiva, aplicando modelos educativos innovadores, en beneficio de la sociedad.
				</p>
				<hr/>
				<h3 class="text-red">Valores</h3>
				<p>A fin de guiar y orientar las acciones cotidianas de todo su personal, el Instituto Tecnológico de Acapulco define los siguientes valores institucionales:</p>
				
				<h4 class="text-red">El ser humano</h4>
				<p>El sentido primario del instituto es el ser humano. La existencia del Tecnológico se justifica sólo si los resultados de su quehacer inciden en el mejoramiento de la calidad de vida de las personas.</p>
				
				<h4 class="text-red">Etica profesional</h4>
				<p>A partir de los hábitos y costumbres, desarrollar en los trabajadores un modo de ser o personalidad que los guíe en el comportamiento ético y rectitud, para conseguir el ejercicio profesional.</p>
				
				<hr/>
				<h3 class="text-red">Responsabilidad social</h3>
				<p>Estar atentos ante los cambios ambientales, sociales y tecnológicos para elevar la calidad de vida de la comunidad en su conjunto.</p>
				
				<hr/>
				<h3 class="text-red">Espíritu de servicio</h3>
				<p>Adoptar una actitud proactiva que determine la razón de ser y que responda en forma eficiente y eficaz a las necesidades de sus clientes.</p>
				
				<hr/>
				<h3 class="text-red">Trabajo en equipo</h3>
				<p>Propiciar el desarrollo de las personas de manera armónica y coordinada, para realizar la ejecución de los trabajos con aptitudes y actitudes para alcanzar los objetivos comunes, que satisfagan las necesidades del Instituto.</p>
				
				<hr/>
				<h3 class="text-red">El alto desempeño</h3>
				<p>El propósito permanente por superar los estándares de calidad y mejorar los resultados del trabajo, fundamentado en los valores y convicciones de la propia persona.</p>
				
				<hr/>
				<h3 class="text-red">Pensamiento innovador</h3>
				<p>Controlar y ordenar los procesos y procedimientos con visión creativa, progresando en la certeza de nuestra sociedad compulsivamente orientada a la solución de problemas con firmeza y seguridad.</p>
			</div>
			<img src="http://placehold.it/800x350" class="autoWidth" alt="">
		</div>
	</section>

{% endblock %}