<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mision Vision - Instituto Tecnologico de Acapulco</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/custom.css" />

	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<header class="hidden-xs hidden-sm">
		<div class="container">
			<div class="row">
				<div class="col-xs-3">
					<a href="index.html"><img class="logofederal" src="img/logoheaderIzquierdo.png" alt="logo de la sep federal"></a>
				</div>
				<div class="col-xs-6">
					<h1>tecnológico nacional de méxico<br/>instituto tecnológico de acapulco</h1>
				</div>
				<div class="col-xs-3">
					<a href="index.html"><img class="logoita" src="img/tecnologico.png" alt="logo tecnologico acapulco"></a>
				</div>
			</div>
		</div>
	</header>
	
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
			
	      <a class="navbar-brand visible-xs visible-sm" href="index.html">
			<img class="logos-collapsed" src="img/logos.png" alt="logo tecnologico acapulco">
			<h5 class="visible-sm-inline-block">INSTITUTO TECNOLOGICO DE ACAPULCO</h5>
	      </a>

	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="index.html">Inicio</a></li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestro instituto <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="mensaje-director.html">Mensaje del director</a></li>
	            <li><a href="mision-vision.html">Misión, Visión</a></li>
	            <li><a href="plano.html">Plano</a></li>
	            <li><a href="historia.html">Historia</a></li>
	            <li><a target="_blank" href="docs/Organigrama-2014.pdf">Organigrama</a></li>
	            <li><a href="directorio.html">Directorio</a></li>
	            <li class="divider"></li>
	            <li><a href="licitaciones.html">Licitaciones</a></li>
	            <li><a href="becas.html">Becas</a></li>
	            <li><a href="convocatorias.html">Convocatorias</a></li>
	            <li><a href="sie.html">S.I.E</a></li>
	            <li><a href="calendario.html">Calendario</a></li>
	            <li><a href="pta.html">PTA</a></li>
	            <li><a href="pifit.html">PIFIT</a></li>
	            <li><a href="tecnologias.html">TECnologias</a></li>
	            <li><a href="vision-tecnologica.html">Visión Tecnologica</a></li>
	            <li><a href="email.html">Email</a></li>
	            <li><a href="contacto.html">Ubicación y contacto</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Oferta educativa <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="centro-de-idiomas.html">Centro de idiomas</a></li>
	            <li><a href="licenciaturas-ingenierias.html">Licenciaturas - Ingenierías</a></li>
	            <li><a href="postgrados.html">Postgrados</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aspirantes<span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="requisitos-ingreso.html">Requisitos de ingreso</a></li>
	            <li><a href="convocatoria.html">Convocatoria</a></li>
	            <li><a href="resultados.html">Resultados</a></li>
	            <li><a href="curso-induccion.html">Curso de inducción</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="nuevo-ingreso.html">Nuevo ingreso</a></li>
	            <li><a href="calificaciones.html">Calificaciones</a></li>
	            <li><a href="reinscripciones.html">Reinscripciones</a></li>
	            <li><a href="servicio-social.html">Servicio social</a></li>
	            <li><a href="lineamientos-extraescolares.html">Lineamientos extraescolares</a></li>
	            <li><a href="titulacion.html">Titulacion</a></li>
	            <li><a href="egresados.html">Egresados</a></li>
	            <li><a href="coordinacion-carreras.html">Coordinacion de carreras</a></li>
	            <li><a href="encuestas.html">Encuestas</a></li>
	            <li><a href="intercambios-academicos.html">Intercambios academicos</a></li>
	            <li><a href="traslados.html">Traslados</a></li>
	            <li><a href="cambio-carrera.html">Cambio de carrera</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Personal <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="administrativos.html">Administrativos</a></li>
	            <li><a href="docentes.html">Docentes</a></li>
	            <li><a href="recursos-humanos.html">Recursos humanos</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="servicios-escolares.html">Servicios escolares</a></li>
	            <li><a href="centro-de-informacion.html">Centro de información</a></li>
	            <li><a href="centro-computo.html">Centro de cómputo</a></li>
	            <li><a href="desarollo-academico.html">Desarrollo académico</a></li>
	            <li><a href="gestion-tec-vinc.html">Gestion de tec. y vinc.</a></li>
	          </ul>
	        </li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sitios ITA <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="centros-incubacion.html">Centro de incubación</a></li>
	            <li><a href="sistemas-gestion.html">Sistemas de gestión</a></li>
	            <li><a href="postgrados.html">Postgrados</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->

	  </div><!-- /.container-fluid -->
	</nav>
	
	<section id="mainContent" class="enfasis">
		<div class="container">
			<div class="text-justify margin-top-low">
				<h3 class="text-red">Visión</h3>
				<p>El Sistema Nacional de Educación Superior Tecnológica estableció su visión de -“Ser uno de los pilares fundamentales del desarrollo sostenido, sustentable y equitativo de la nación.”–, en concordancia con esta visión, el Instituto Tecnológico de Acapulco ha definido su visión hacia el año 2030 en los términos siguientes:</p>
				<p><strong>“Ser una Institución de Educación Superior Tecnológica de alto desempeño aplicada al servicio técnico-científico y cultural, que contribuya al desarrollo sostenido, sustentable y equitativo regional, estatal y nacional, encaminada hacia la modernidad”.</strong></p>
				<p>Con esta visión el Instituto Tecnológico de Acapulco busca contribuir a la transformación educativa en México, orientando sus esfuerzos hacia el desarrollo humano sustentable y la competitividad.</p>
				<hr/>
				<h3 class="text-red">Misión</h3>
				<p>
					Ofrecer servicios educativos de calidad, para contribuir al desarrollo de la Educación Superior Tecnológica moderna y competitiva, aplicando modelos educativos innovadores, en beneficio de la sociedad.
				</p>
				<hr/>
				<h3 class="text-red">Valores</h3>
				<p>A fin de guiar y orientar las acciones cotidianas de todo su personal, el Instituto Tecnológico de Acapulco define los siguientes valores institucionales:</p>
				
				<h4 class="text-red">El ser humano</h4>
				<p>El sentido primario del instituto es el ser humano. La existencia del Tecnológico se justifica sólo si los resultados de su quehacer inciden en el mejoramiento de la calidad de vida de las personas.</p>
				
				<h4 class="text-red">Etica profesional</h4>
				<p>A partir de los hábitos y costumbres, desarrollar en los trabajadores un modo de ser o personalidad que los guíe en el comportamiento ético y rectitud, para conseguir el ejercicio profesional.</p>
				
				<hr/>
				<h3 class="text-red">Responsabilidad social</h3>
				<p>Estar atentos ante los cambios ambientales, sociales y tecnológicos para elevar la calidad de vida de la comunidad en su conjunto.</p>
				
				<hr/>
				<h3 class="text-red">Espíritu de servicio</h3>
				<p>Adoptar una actitud proactiva que determine la razón de ser y que responda en forma eficiente y eficaz a las necesidades de sus clientes.</p>
				
				<hr/>
				<h3 class="text-red">Trabajo en equipo</h3>
				<p>Propiciar el desarrollo de las personas de manera armónica y coordinada, para realizar la ejecución de los trabajos con aptitudes y actitudes para alcanzar los objetivos comunes, que satisfagan las necesidades del Instituto.</p>
				
				<hr/>
				<h3 class="text-red">El alto desempeño</h3>
				<p>El propósito permanente por superar los estándares de calidad y mejorar los resultados del trabajo, fundamentado en los valores y convicciones de la propia persona.</p>
				
				<hr/>
				<h3 class="text-red">Pensamiento innovador</h3>
				<p>Controlar y ordenar los procesos y procedimientos con visión creativa, progresando en la certeza de nuestra sociedad compulsivamente orientada a la solución de problemas con firmeza y seguridad.</p>
			</div>
			<img src="http://placehold.it/800x350" class="autoWidth" alt="">
		</div>
	</section>
	
	<footer class="container">
		
		</div>
		<div id="redesSociales" class="text-right">
			<a target="_blank" href="https://www.youtube.com/user/TecnologicoAcapulco"><span class="icon-youtube"></span></a>
			<a target="_blank" href="https://www.facebook.com/it.acapulco"><span class="icon-facebook"></span></a>
			<a target="_blank" href="https://twitter.com/ITecAcapulco"><span class="icon-twitter"></span></a>
		</div>
		<div class="row">
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-4 text-center">
				<img src="img/logoheaderIzquierdo.png" class="logoFederalFooter" alt="">
			</div>
			<div class="col-xs-4"><hr class="doubleLine"></div>
			<div class="col-xs-12">
				<p class="text-center margin-top-low">
					Avenida Instituto Tecnológico S/N, Crucero del Cayaco C.P. 39905, Teléfonos (744) 442-9010 al 19 y Fax (744) 468-3505
				</p>
			</div>
		</div>
	</footer>
</body>
</html>