{% extends "base.html" %}
{% load thumbnail static %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
					<h2 class="text-red">Modelo de Equidad de Género Meg: 2003</h2>
					<div class="text-justify margin-top-low">

						<p>
							Es una estrategia  que proporciona una herramienta dirigida para que empresas privadas, las instituciones públicas y los organismos sociales asuman el compromiso de revisar sus políticas y prácticas internas, para re-organizar y definir mecanismos que incorporen una perspectiva de género e instrumenten acciones  afirmativas y/o  a favor del personal, que conduzcan -a corto y mediano plazo- al establecimiento de condiciones equitativas para mujeres y hombres en sus espacios de trabajo.
						</p>

						<p>
							El día 30 de noviembre, en el I.T. de Colima fue entregado al Instituto Tecnológico de Acapulco el certificado del Modelo de Equidad de Género MEG: 2003, en una ceremonia en la que asistió la Arq. Blanca Estela López Ruiz, coordinadora del modelo en nuestra Institución, siendo testigos de honor el Gobernador de Colima y el Director General del DGEST, el Dr. Carlos Alfonso García Ibarra.
						</p>

						<p>
							En el encabezado del Diario “El Comentario” de la Ciudad de Colima del 1º de Diciembre, se publicó en primera plana: “Entrega Gobernador certificados del modelo de Equidad de Género a Tecnológicos del País”. Se entregó a 65 Instituciones del país el certificado por multisitios participando en la cruzada nacional en favor de la igualdad de oportunidades para mujres y hombres.
						</p>

						<p>
							El I.T. de Acapulco aplica la Política de Equidad de Género que se establece en el Manual del Sistema de Gestión de Equidad de Género MEG: 2003 del Sistema Nacional de Educación Superior Tecnológica.
						</p>

						<p><strong>
							Política del Sistema de Gestión de Equidad de Género
						</strong></p>

						<p><strong>
							“El SNEST establece el compromiso de promover la igualdad de oportunidades en el acceso y promoción al empleo, la prevención del hostigamiento sexual y la no discriminación entre hombres y mujeres; a través del desarrollo de acciones afirmativas y/o a favor del personal, con el propósito de mantener un ambiente de trabajo armonioso y favorecer la equidad de género”.
						</strong></p>

						<p><strong>
							Por ello en el Instituto Tecnológico de Acapulco:
						</strong></p>

						<ul>
							<li>Nos comprometemos a promover la igualdad de oportunidades entre mujeres y hombres, eliminado toda forma de discriminación y previniendo el hostigamiento sexual.</li>
							<li>A través del cumplimiento del Modelo de Equidad de Género, nos comprometemos a promover un ambiente sano y condiciones de trabajo armoniosos que brinden a hombres y mujeres mediante el establecimiento de las acciones afirmativas a favor del personal que sean necesarias para favorecer la equidad de género y la igualdad de oportunidades.</li>
						</ul>

						<p>Para conocer ampliamente nuestra Certificación se invita a conocer el Blog Equidad de Género del Tecnológico Nacional de México, en el siguiente Enlace: </p>
						<ul>
							<li>
								<a target="_blank" class="text-green link" href="http://www.tecnm.mx/sgeg/blog">http://www.tecnm.mx/sgeg/blog</a>
							</li>
						</ul>

						<p>Para conocer el Manual del Sistema de Gestión de Equidad de Género, documentos y procedimientos consultar el siguiente enlace:</p>
						<ul>
							<li>
								<a target="_blank" class="text-green link" href="http://www.tecnm.mx/sgeg">http://www.tecnm.mx/sgeg</a>
							</li>
						</ul>

						<img src="{% static "img/modelo-de-equidad-de-genero.jpg" %}" class="autoWidth margin-bottom" alt="Ingeniería bioquímica - ITA">
					</div>
		</div>
	</section>

{% endblock %}