{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Normatividad Académica</h2>
			<ul>
				<li><a class="text-green link" href="/normatividad/academica/lineamientos-academicos">Lineamientos Académicos – Administrativos 2010</a></li>
				<li><a class="text-green link" href="/normatividad/academica/manuales-academicos">Manuales Académicos – Administrativos 2007</a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/REGLAMENTO_ALUMNOSSNEST.pdf" %}">Reglamento estudiantil <strong>(Descarga)</strong></a></li>
			</ul>
		</div>
	</section>
{% endblock %}