{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Lineamientos Académicos-Administrativos 2010</h2>		

			<p>Listado de documentos normativos Académicos-Administrativos</p>
			<ul>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Acreditacion_de_Actividades_Complementarias.pdf" %}">Acreditación de actividades complementarias <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Convalidacion_de_Estudios.pdf" %}">Convalidación de estudios <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Educacion_a_Distancia.pdf" %}">Educación a distancia <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Evaluacion_y_Acreditacion_de_Asignaturas.pdf" %}">Evaluación y acreditación de asignaturas <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Integracion_y_Operacion_de_Academias.pdf" %}">Integración y operación de Academias <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Manual_de_apertura_y_cancelacion_de_carreras.pdf" %}">Manual de apertura y cancelación de carreras <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Manual_Normativo_Academico-Administrativo.pdf" %}">Manual normativo Académico-Administrativo <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Movilidad_Estudiantil.pdf" %}">Movilidad estudiantil <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Operacion_de_Cursos_de_Verano.pdf" %}">Operación de Cursos de Verano <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Operacion_del_Comite_Academico.pdf" %}">Operación del Comité Académico <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Operacion_del_Programa_de_Tutoria.pdf" %}">Operación del Programa de Tutoría <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Operacion_y_Acreditacion_de_la_Residencia_Profesional.pdf" %}">Operación y acreditación de la Residencia Profesional <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Operacion_y_Acreditacion_del_Servicio_Social.pdf" %}">Operación y acreditación del Servicio Social <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Resolucion_de_Equivalencia_de_Estudios.pdf" %}">Resolución de equivalencia de estudios <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Traslado_Estudiantil.pdf" %}">Traslado estudiantil <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/lineamientos/Lineamiento_para_Titulacion_Integral.pdf" %}">Titulación integral <span class="icon-cloud-download"></span></a></li>
			</ul>

		</div>
	</section>
{% endblock %}