{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Manuales Académicos-Administrativos 2007</h2>
			<ol>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/1-ACADEMIAS.pdf" %}">Academias <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/2-ACREDITACION-DE-ASIGNATURAS.pdf" %}">Acreditación de asignaturas <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/3-CAMBIO_DE_CARRERA.pdf" %}">Cambio de carrera <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/4-COMITE-ACADEMICO.pdf" %}">Comité Académico <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/5-CONVALIDACION_DE_ESTUDIOS.pdf" %}">Convalidación de estudios <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/6-CURSOS_DE-VERANO.pdf" %}">Cursos de Verano <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/7-EQUIVALENCIAS-DE-ESTUDIOS.pdf" %}">Equivalencias de estudios <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/8-ESPECIALIDADES.pdf" %}">Especialidades <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/9-LENGUA_EXTRANJERA.pdf" %}">Lengua extranjera <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/10-MOVILIDAD_ESTUDIANTIL.pdf" %}">Movilidad estudiantil <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/11-RESIDENCIA_PROFESIONAL.pdf" %}">Residencia profesional <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/12-SALIDA_LATERAL.pdf" %}">Salida lateral <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/13-TIToLACION.pdf" %}">Titulación <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/14-TRANSITO_ESTUDIANTIL.pdf" %}">Tránsito estudiantil <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/15-TUTORIA.pdf" %}">Tutoría <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/academica/manuales/16-EDUCACION_A_DISTANCIA.pdf" %}">Educación a distancia <span class="icon-file"></span></a></li>
			</ol>
		</div>
	</section>
{% endblock %}