{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Normatividad de Planeación</h2>
			<ul>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/planeacion/Ley adquisiciones y servicios sector público.pdf" %}">Ley de adquisiciones, arrendamiento y servicios para el sector pùblico <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/planeacion/Ley de Planeación.pdf" %}">Ley de Planeación <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/planeacion/Ley Responsabilidades Servidores Públicos.pdf" %}">Ley de responsabilidades administrativas de los servidores publicos <span class="icon-file"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/normatividad/planeacion/Manual de Organización.pdf" %}">Manual de organización del I.T. de Acapulco <span class="icon-file"></span></a></li>
			</ul>
		</div>
	</section>
{% endblock %}