{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Plano Instituto Tecnológico de Acapulco</h2>
			<img src="{% static "img/plano_ita_26_06_2015_a.png" %}" class="autoWidth" alt="plano - ITA">

            <a style="display: block" class="text-green link margin-top-med" target="_blank" href="{% static "img/plano_ita_26_06_2015_a.png" %}">
                Descargar plano <span class="icon-download"></span>
            </a><br/>
		</div>
	</section>

{% endblock %}
