{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}
	
	<section id="mainContent" class="container">

		<article class="row">
			<div class="col-md-3 margin-top-low" id="column-left">
				<h3 class="text-green">Postgrados</h3>
				<ul class="nav nav-pills nav-stacked" role="tablist">
			      <li role="presentation" class="active"><a href="#">postgrado</a></li>
			      <li role="presentation"><a href="#">postgrado</a></li>
			      <li role="presentation"><a href="#">postgrado</a></li>
			    </ul>
			</div>

			<div class="col-md-9" id="news-body">
				<h2 class="text-red">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
				<img src="http://placehold.it/800x350" class="autoWidth" alt="">
				<div class="text-justify margin-top-low">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta id mollitia ratione vero, laborum voluptate ab vel nisi eos doloremque qui illo, nam dolorum expedita nemo consectetur ea eveniet quaerat.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati ab et pariatur, error sit aspernatur reiciendis ipsam consectetur fuga, recusandae voluptate accusantium optio, facere amet inventore, quis maxime nostrum itaque!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet repellendus vero id error tempora cum et mollitia veniam quam voluptas laboriosam suscipit, adipisci nobis ea aperiam est qui architecto! Fuga?</p>
				</div>
			</div>

		</article>	
	</section>

{% endblock %}