{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}
	
	<section id="mainContent" class="container">
		<article class="row">
			<div class="col-md-9 column-left" id="news-body">
				<h2 class="text-red">{{ publicacion.titulo }}</h2>
				{% thumbnail publicacion.imagen "800x400" crop="center" as im %}
					<img src="{{ im.url }}" class="autoWidth" alt="{{ publicacion.titulo }}">
				{% endthumbnail %}
				<div class="text-justify margin-top-low">
					{{ publicacion.texto|safe }}

					{% for video in videos %}
						{% if forloop.first %}
							<hr>
						{% endif %}
						<p><span class="icon-youtube"></span>{{ video.descripcionVideoYoutube }}</p>
						<div class="embed-responsive embed-responsive-16by9">
						  <iframe class="embed-responsive-item"  src="//www.youtube.com/embed/{{ video.claveYoutube }}" ></iframe>
						</div>		
					{% endfor %}

					{% for enlace in enlaces %}
						{% if forloop.first %}
							<hr>
						{% endif %}
						<div class="margin-top-low">
							<a target="_blank" class="text-green link" href="{{ enlace.link }}">
								<span class="icon-link"></span> {{ enlace.descripcionLink }}
							</a>
						</div>
					{% endfor %}

					{% for archivo in archivos %}
						{% if forloop.first %}
							<hr>
						{% endif %}
						<div class="margin-top-low">
							<a target="_blank" class="text-green link" href="{{ archivo.archivo.url }}">
								<span class="icon-file-pdf"></span> {{ archivo.descripcionArchivo }} bla bla
							</a>
						</div>
					{% endfor %}	
				</div>
			</div>
			<aside class="col-md-3">
				
				<form role="search" class="margin-top-low" action="/busqueda/" method="GET">
				  <div class="input-group">
				      {# <input type="text" placeholder="¿Qué evento esta buscando?" class="form-control"> #}
				      {{ searchform.pista.errors }}
                      {{ searchform.pista }}
				      <span class="input-group-btn">
				         <button id="btnSearch" type="submit" class="btn btn-success" type="button">BUSCAR</button>
				      </span>
				    </div><!-- /input-group -->
				</form>

				<h3 class="text-green border-top-g">Otras publicaciones</h3>
				{% for publicacion in otrasPublicaciones%}
					<div class="other-news-content border-bottom-g">
						<a  class="text-green link" href="/publicaciones/{{ publicacion.id }}"><h4>{{ publicacion.titulo }}</h4></a>
						<p>{{ publicacion.resumen|slice:":150" }}</p>
					</div>
				{% endfor %}

			</aside>
		</article>	
	</section>

{% endblock %}