{% extends "base.html" %}
{% load thumbnail %}

{% block mainContent %}
	
	<section id="mainContent" class="container">
		<article class="row">
			<div class="col-md-9 column-left" id="news-body">
				<h2 class="text-red">{{ publicacion.titulo }}</h2>
				{% thumbnail publicacion.imagen "800x350" crop="center" as im %}
					<img src="{{ im.url }}" class="autoWidth" alt="{{ publicacion.titulo }}">
				{% endthumbnail %}
				<div class="text-justify margin-top-low">
					{{ publicacion.texto|linebreaks }}

					{% if publicacion.link|length > 0 %}
						<a target="_blank" class="text-green link" href="{{ publicacion.link }}"><span class="icon-link"></span> {{ publicacion.descripcionLink }}</a>		
					{% endif %}

					{% if publicacion.pdf.url|length > 0 %}
						<hr>
						<a target="_blank" class="text-green link" href="{{ publicacion.pdf.url }}"><span class="icon-file-pdf"></span> {{ publicacion.descripcionPdf }}</a>		
					{% endif %}		

					{% if publicacion.claveYoutube|length > 0 %}
						<hr>
						<p><span class="icon-youtube"></span>{{ publicacion.descripcionVideoYoutube }}</p>
						<div class="embed-responsive embed-responsive-16by9">
						  <iframe class="embed-responsive-item"  src="//www.youtube.com/embed/{{ publicacion.claveYoutube }}" ></iframe>
						</div>		
					{% endif %}		
				</div>
			</div>
			<div class="col-md-3">
				
				<form role="search" class="margin-top-low" action="/busqueda/" method="GET">
				  <div class="input-group">
				      {# <input type="text" placeholder="¿Qué evento esta buscando?" class="form-control"> #}
				      {{ searchform.pista.errors }}
                      {{ searchform.pista }}
				      <span class="input-group-btn">
				         <button id="btnSearch" type="submit" class="btn btn-success" type="button">BUSCAR</button>
				      </span>
				    </div><!-- /input-group -->
				</form>

				<h3 class="text-green border-top-g">Otras publicaciones</h3>
				{% for publicacion in otrasPublicaciones%}
					<div class="other-news-content border-bottom-g">
						<a  class="text-green link" href="/publicacion/{{ publicacion.id }}"><h4>{{ publicacion.titulo }}</h4></a>
						<p>{{ publicacion.resumen|slice:":150" }}</p>
					</div>
				{% endfor %}

			</div>
		</article>	
	</section>

{% endblock %}