{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '1612804425607316',
	      xfbml      : true,
	      version    : 'v2.2'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/es_LA/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

	<section id="mainContent" class="container">
		<article class="row">
			<div class="col-md-9 column-left" id="news-body">
				<h2 class="text-red">{{ publicacion.titulo }}</h2>

				<p></p>
				{% if publicacion.imagen %}
			      	{% thumbnail publicacion.imagen "800x400" crop="center" as im %}
	      				<img src="{{ im.url }}" class="autoWidth" alt="{{ publicacion.titulo }}">
	      			{% endthumbnail %}
	      		{% else %}
	      			<img src="{% static "img/placeholder-post.jpg" %}" class="autoWidth" /> 
	      		{% endif %}
				<div class="text-justify margin-top-low">
					<div class="row margin-bottom">
						<div class="col-sm-6">{{ publicacion.fecha }}</div>
						<div class="col-sm-6">
							<div class="fb-like pull-right" data-href="http://ita.jualjiman.com/publicaciones/{{ publicacion.id }}/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
						</div>
					</div>
					
					{{ publicacion.texto|safe }}

					{% for video in videos %}
						{% if forloop.first %}
							<hr>
						{% endif %}
						<p><span class="icon-youtube"></span>{{ video.descripcionVideoYoutube }}</p>
						<div class="embed-responsive embed-responsive-16by9">
						  <iframe class="embed-responsive-item"  src="//www.youtube.com/embed/{{ video.claveYoutube }}" ></iframe>
						</div>		
					{% endfor %}

					{% for enlace in enlaces %}
						{% if forloop.first %}
							<hr>
						{% endif %}
						<div class="margin-top-low">
							<a target="_blank" class="text-green link" href="{{ enlace.link }}">
								<span class="icon-link"></span> {{ enlace.descripcionLink }}
							</a>
						</div>
					{% endfor %}

					{% for archivo in archivos %}
						{% if forloop.first %}
							<hr>
						{% endif %}
						<div class="margin-top-low">
							<a target="_blank" class="text-green link" href="{{ archivo.archivo.url }}">
								<span class="icon-file-pdf"></span> {{ archivo.descripcionArchivo }}
							</a>
						</div>
					{% endfor %}

					<div class="fb-comments" 
						data-href="http://ita.jualjiman.com/publicaciones/{{ publicacion.id }}/" 
						data-numposts="10" 
						data-colorscheme="light"
						data-width="100%">
					</div>	
				</div>
			</div>
			<aside class="col-md-3">
				
				<form role="search" class="margin-top-low" action="/busqueda/" method="GET">
				  <div class="input-group">
				      {# <input type="text" placeholder="¿Qué evento esta buscando?" class="form-control"> #}
				      {{ searchform.pista.errors }}
                      {{ searchform.pista }}
				      <span class="input-group-btn">
				         <button id="btnSearch" type="submit" class="btn btn-success" type="button">BUSCAR</button>
				      </span>
				    </div><!-- /input-group -->
				</form>

				<h3 class="text-green border-top-g">Otras publicaciones</h3>
				{% for publicacion in otrasPublicaciones%}
					<div class="other-news-content border-bottom-g">
						<a  class="text-green link" href="/publicaciones/{{ publicacion.id }}"><h4>{{ publicacion.titulo }}</h4></a>
						<p>{{ publicacion.resumen|slice:":150" }}</p>
					</div>
				{% endfor %}

			</aside>
		</article>	
	</section>

{% endblock %}
