{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Residencias profesionales</h2>
			<ul>
				<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/PaqueteResidenciasProfesionalesagodic2014.zip" %}">Paquete de Residencias Profesionales para el periodo escolar Agosto-Diciembre/2014 <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/ManualyConvenioResProf.zip" %}">Manual de residencias y el acuerdo de colaboración para la realización de residencias profesionales, archivo zip <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/ACUERDO_COLABORACION_RESID_PROF_ACT.doc" %}">Formato de acuerdo de colaboración en cuanto a Residencias Profesionales <span class="icon-cloud-download"></span></a></li>
				<li><a class="text-green link" target="_blank" href="{% static "docs/pestañaEstudiantes/Todos_los_convenios_vigentes_2011-2012.pdf" %}">Listado de empresas con las que el Instituto tiene convenios vigentes <span class="icon-cloud-download"></span></a></li>


			</ul>
		</div>
	</section>

{% endblock %}