{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Residencias profesionales</h2>
			<ul>
				<li><a class="text-green link" href="{% static "docs/pestañaEstudiantes/PaqueteResidenciasProfesionalesagodic2014.zip" %}">Paquete de Residencias Profesionales para el periodo escolar Agosto-Diciembre/2014.</a></li>
				<li><a class="text-green link" href="{% static "docs/pestañaEstudiantes/ManualyConvenioResProf.zip" %}">Descarga el manual de residencias y el acuerdo de colaboración para la realización de residencias profesionales, archivo zip.</a></li>
			</ul>
		</div>
	</section>

{% endblock %}