{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h3 class="text-red">Titulación</h3>
			<h4 class="text-red">Documentos para trámite de título y cédula profesional:</h4>

			<p>Los siguientes documentos con los que se abre expediente para autorización de inicio de trámite de titulación ante los Departamentos Académicos. Todas las copias fotostáticas deben ser totalmente legibles (sin ninguna sección borrosa y sin ninguna mancha), de lo contrario no se aceptarán, para evitar esto se recomienda asistan a un centro de copiado de prestigio. Los originales son únicamente para cotejo de las copias, estos les serán devueltos despues del protocolo de titulación</p>
			<ul>
				<li>C.U.R.P. (3 copias ampliadas al 200%).</li>

				<li>Acta de nacimiento (original y 3 copias).</li>

				<li>Certificado de bachillerato (original y 3 copias).</li>

				<li>Certificado profesional (original y 3 copias).</li>

				<li>Constancia de servicio social (original y 3 copias).</li>

				<li>Constancia de practicas profesionales (menores del 92) (original y 3 copias).</li>

				<li>Constancia de examen de inglés (original y 3 copias).</li>

				<li>5 fotografías tamaño credencial óvalo en blanco y negro.</li>

				<li>4 fotografías tamaño infantil en blanco y negro (características de las fotos: Deben de ser con retoque en papel mate color blanco, orejas y frente descubiertas el saco color claro, en el caso de mujeres pueden ir maquilladas pero muy tenue y aretes pequeños, en el caso de los hombres la corbata debe ser lisa, con bigote bien delineado y sin barba).</li>

				<li>Descargar, abrir y llenar los siguientes formatos:
					<ol>
						<li><a class="text-green link" href="">Solicitud del Acto de Recepción Profesional (para entregar en el Departamento de Servicos Escolares).</a></li>
						<li><a class="text-green link" href="">Solicitud del Acto de Recepción Profesional, plan de estudios 2010 (para entregar en la División de Estudios Profesionales).</a></li>
						<li><a class="text-green link" href="">Solicitud del Acto de Recepción Profesional, plan de estudios 2004 (para entregar en la División de Estudios Profesionales).</a></li>
						<li><a class="text-green link" href="">Constancia de no inconveniencia para acto de recepción profesional.</a></li>
						<li><a class="text-green link" href="">Formato de Carta Responsiva para el nombre en el título.</a></li>
						<li><a class="text-green link" href="">Lista de verificación del expediente.</a></li>
					</ol>
				</li>
				<li>Descargar, abrir y llenar el siguiente formato:
					<ol>
						<li><a class="text-green link" href="">Formato DGP / DR-01 (En este formato, se imprime en una sola hoja por los 2 lados).</a></li>
					</ol>
				</li>
			</ul>
			<p>Para el pago de derechos, debe realizar dos depósitos:</p>
			<p>El primero es un depósito en BANORTE con los siguientes datos: </p>
				<ul>
					<li>No. De Empresa: 37333. </li>
					<li>Referencia: E001TRTITULO8. </li>
					<li>Cantidad: $2,500.00.  </li>
				</ul>

			<p>El Segundo puede hacerlo en cualquier banco <a class="text-green link" href="">Descargar instructivo para pago</a></p>

			<p><strong>NOTA:</strong></p>
			<p>Para los alumnos que hayan ingresado a la institución a través de equivalencia de estudios, deberán presentar el original del certificado de equivalencia y una copia fotostática.</p>	

			<p>Para aquellos egresados que opten por las siguientes opciones deben cumplir los siguientes requisitos adicionales.</p>
			
			<ul>
				<li><strong>Opción VII.</strong> Memoria de experiencia profesional, deberán presentar una constancia por parte del centro de trabajo, donde se especifique la antigüedad dentro de la empresa.</li>

				<li><strong>Opción IX.</strong> Escolaridad por Estudios de Posgrado, deben entregar la constancia de estudios con avance del 50% del total de créditos de la maestría, el plan de estudios y el registro ante la S.E.P.</li>
			</ul>

			<p>OPCIONES DE TITULACIÓN: PLAN DE ESTUDIOS 1993</p>
			<ul>
				<li>Opción 1: Tesis Profesional.</li>
				<li>Opción 2: Libros de Texto o Prototipos didácticos.</li>
				<li>Opción 3: Proyectos de Investigación.</li>
				<li>Opción 4: Diseño o Rediseño de Equipo, Aparato o Maquinaria.</li>
				<li>Opción 5: Curso Especial de Titulación.</li>
				<li>Opción 6: Examen Global por Áreas de conocimiento.</li>
				<li>Opción 7: Memoria de Experiencia Profesional.</li>
				<li>Opción 8: Escolaridad por promedio (opción no permitida para equivalencias de estudio).</li>
				<li>Opción 9: Escolaridad por Estudios de Postgrado.</li>
				<li>Opción l0: Memoria de Residencia Profesional.</li>
			</ul>
			<p>OPCIONES DE TITULACIÓN: PLAN DE ESTUDIOS 2004</p>
			<ul>
				<li><a class="text-green link" href="">Proceso para titulación Plan de estudios 2004.</a></li>
			</ul>
		</div>
	</section>

{% endblock %}