{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Tramites</h2>

			<h3>Trámite de credencial del ITA</h3>
			<ul>
				<li>Realizar el pago correspondiente en el Departamento de Recursos Financieros.</li>
				<li>Ir al Centro de Información para que cotejen el no adeudo de libros (te sellarán tu recibo de pago).</li>
				<li>Acudir al Departamento de Servicios Escolares , con el Jefe del Departamento o con la Jefa de Control Escolar, para que te autoricen el trámite ( Ahí te van a firmar y sellar tu recibo de pago).</li>
				<li>Acudir a tomarte la foto correspondiente, al día y lugar señalados en la sección de avisos de la página web.</li>
			</ul>

			<h3>Solicitud a la división de estudios profesionales</h3>
			<p>Cuando se requieren gestiones ante la División de Estudios Profesionales como aclaraciones del Sistema Integral de Información, justificantes por faltas a sus clases por causas de fuerza mayor, sobre situaciones especiales en residencias profesionales, avance reticular, inconformidades sobre las evaluaciones de maestros, movilidad estudiantil, traslados, etc., se deberá presentar formato de solicitud ante la División de Estudios Profesionales.</p>
			<a target="_blank" href="{% static "docs/pestañaEstudiantes/SOLICITUDES_PARA_DIVISION_ESTUDIOS_PROFS.doc" %}" class="link text-green"> Formato de solicitud a la División de Estudios Profesionales</a>


			<h3>Solicitud al comité académico</h3>
			<p>Cuando se requieren gestiones ante el Comité Académico como solicitud de exámenes globales, exámenes foráneos, cambios de carrera, cambios de número de control, prórrogas para permanecer en la Institución, etc., deberá llenar solicitud dirigida al Comité Académico y presentarla en la División de Estudios Profesionales</p>
			<a target="_blank" href="{% static "docs/pestañaEstudiantes/SOLICITUD_COMITE_ACADEMICO2014.docx" %}" class="link text-green"> Formato de solicitud al Comité Académico</a>


			<h3>Requisitos para solicitar baja temporal</h3>
			<p>Si está inscrito solo se podrá solicitar la baja temporal siempre y cuando se encuentre en el primer mes de inicio de las clases (Agosto - Septiembre) (Enero - Febrero), a través del formato correspondiente y obteniendo las firmas del Centro de Información, Recursos Financieros, Jefe Académico correspondiente y del Departamento de Gestión Tecnológica y Vinculación.</p>
			<a href="#" class="link text-green">Formato de solicitud de baja temporal</a>


			<h3>Requisitos para solicitar baja definitiva</h3>
			<p>El alumno que desee tramitar su baja definitiva de la Institución por así convenir a sus intereses, o cuando va a egresar de la Institución al final de su ciclo académico podrá en cualquier tiempo solicitarlo llenando la solicitud correspondiente y obteniendo las firmas del Centro de Información, Recursos Financieros, Jefe Académico correspondiente y del Departamento de Gestión Tecnológica y Vinculación.</p>
			<a href="#" class="link text-green"> Formato de solicitud de baja definitiva.</a>

			<h3>Cambio de carrera</h3>
			<p>Cuando algún estudiante desee solicitar un cambio de carrera por así convenir a sus intereses deberá presentar solicitud y constancia de no adeudo para cambio de carrera ante la División de Estudios Profesionales.</p>
			<a target="_blank" href="{% static "docs/pestañaEstudiantes/CambioDeCarrera.zip" %}" class="link text-green"> Formato de Cambio de Carrera</a>
			

			 <h3>Traslados (Tránsito Estudiantil)</h3>

			Cuando algún estudiante desee solicitar un traslado a otro Tecnológico del Sistema, por así convenir a sus intereses, podrá solicitarlo en la División de Estudios Profesionales presentando la solicitud respectiva.

			Un estudiante de licenciatura tendrá derecho a traslados indeterminados durante el desarrollo de su carrera, el cual deberá efectuarse antes del correspondiente período de reinscripción del plantel que se pretende, debiendo cumplir con los siguientes requisitos:
			<ul>
			<li>El traslado se efectuará previa solicitud del estudiante a la División de Estudios Profesionales a través de su coordinador de carrera.</li>
			<li>Previa consulta y comunicación entre los coordinadores de los dos planteles se verifica lo siguiente:
				<ol type="a">
					<li>Que exista la carrera solicitada.</li>
					<li>Que se ofrezca el semestre correspondiente.</li>
					<li>Que exista cupo.</li>
				</ol>
			</li>
			</ul>

			<p>
				El Instituto Tecnológico de procedencia emitirá en papel membretado:
			</p>

			<ul>
				<li>Carta de no inconveniente de traslado e historial académico firmada por el Jefe de Servicios Escolares.</li>
				<li>Expediente completo del estudiante en sobre sellado y cancelado.</li>
				<li>El estudiante deberá ser regular académicamente, considerándose como tal a aquel estudiante legalmente inscrito que no esté en condición de Examen Especial, y que no tenga adeudos en material, equipo y/o biblioteca con la institución de origen y deberá concluir su carrera dentro los 12 (doce) semestres máximo, con base al procedimiento descrito.</li>
				<li>El estudiante será el encargado de trasladar sus documentos en sobre cerrado y sellado por el Instituto.</li>
			</ul>

			<a target="_blank" href="{% static "docs/pestañaEstudiantes/SOLICITUD_TRASLADO2014.doc" %}" class="link text-green">Descargar formato de solicitud de traslado</a>
			
			<h3>Requisitos para solicitar certificado parcial</h3>
			<ul>
				<li>Elaborar una carta solicitando el certificado parcial dirigido al Jefe del Departamento de Servicios Escolares en turno (incluir nombre, Numero de control y especialidad).</li>
				<li>Llenar Solicitud de baja (descargar el formato de la sección de trámites).</li>
				<li>6 fotografías tamaño óvalo - credencial, en papel mate, fondo blanco.
					<ul>
						<li>Hombres: Saco y corbata lisa, colores claros (blanco o beige) orejas y frente despejadas, no barba, bigote bien recortado.</li>
						<li>Mujeres: Blazer colores claros (blanco o beige) aretes pequeños, orejas y frente despejadas, poco maquillaje.</li>
					</ul>
				</li>
				<li>Recibo de pago. (Verificar en el Departamento de Recursos financieros el costo).</li>
			</ul>

			<h3>Requisitos para solicitar duplicado de certificado</h3>
			<ul>
				<li>6 fotografías tamaño óvalo - credencial, en papel mate, fondo blanco.</li>
					<ul>
						<li>Hombres: Saco y corbata lisa, colores claros ( blanco o beige ) orejas y frente despejadas, no barba, bigote bien recortado.</li>
						<li>Mujeres: Blazer colores claros (blanco o beige ) aretes pequeños, orejas y frente despejadas, poco maquillaje.</li>
					</ul>
				<li>Recibo de pago. (Verificar el costo en el Departamento de Recursos financieros).</li>
			</ul>
		</div>
	</section>

{% endblock %}