{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Ubicación y contacto</h2>
		</div>
		<article id="map-content"></article>
		<div class="container-fluid asking-block">
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-location"></span>Avenida Instituto Tecnológico S/N, Crucero del Cayaco C.P. 39905</h4>
					</div>
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-phone"></span>
						Telefono (744) 442-9010 al 19 <br>
						Fax (744) 468-3505</h4>
					</div>
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-book"></span>
						<a class="link" href="/nuestro-instituto/directorio"  target="_blank">Visita nuestro directorio</a></h4>
					</div>
				</div>

			</div>
		</div>
		<div class="container addBottomMediumMargin">
			<h3 class="mainOrange"><span class="icon-contact title-ic"></span>Envianos un mensaje, estamos para servirte</h3>
	    	<form role="form">
	    		{% csrf_token %}
	    		<div class="alert alert-info" role="alert"></div>
	    		<div class="alert alert-warning" role="alert"></div>
	    		<div class="alert alert-danger" role="alert">
	    			{{ form.non_field_errors}}
	    		</div> 
	    		<div class="row">
			  		<div class="col-sm-6 form-group">
			    		<label for="id_nombre">Nombre</label>
			    		{{ form.nombre.errors }}
                        {{ form.nombre }}
			  		</div>
			  		<div class="col-sm-6 form-group">
			    		<label for="id_email">Email</label>
			    		{{ form.email.errors }}
                        {{ form.email }}
			  		</div>
			  		<div class="col-xs-12 addBottomMediumMargin">
			  			{{ form.mensaje.errors }}
                        {{ form.mensaje }}
			  		</div>
			  		<div class="col-md-12">
			  			<button id="btnSend" type="submit" class="btn btn-primary pull-right margin-top-med">Enviar</button>
			  		</div>
			  	</div>
			</form>
	    </div>
	</section>

{% endblock %}