{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Ubicación y contacto</h2>
		</div>
		<article id="map-content"></article>
		<div class="container-fluid asking-block">
			<div class="container">
				<h3 class="cwhite">Ordena tus muebles hoy mismo</h3>
				<div class="row">
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-location"></span>Avenida Instituto Tecnológico S/N, Crucero del Cayaco C.P. 39905</h4>
					</div>
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-phone"></span>
						Telefono (744) 442-9010 al 19 <br>
						Fax (744) 468-3505</h4>
					</div>
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-book"></span>
						<a class="link" href="/nuestro-instituto/directorio"  target="_blank">Visita nuestro directorio</a></h4>
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}