{% extends "base.html" %}
{% load staticfiles %}

{% block mainContent %}
	
	<section id="mainContent">
		<div class="container">
			<h2 class="text-red">Ubicación y contacto</h2>
		</div>
		<article id="map-content"></article>
		<div class="container-fluid asking-block">
			<div class="container">
				<h3 class="cwhite">Ordena tus muebles hoy mismo</h3>
				<div class="row">
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-phone"></span>(744) 466 20 86</h4>
					</div>
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-mobile"></span>(744) 41 57 08 12</h4>
					</div>
					<div class="col-sm-4">
						<h4 class="cwhite"><span class="icon-email"></span>lafortaleza_1958@gmail.com</h4>
					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}